doctype html
html(lang='pl')
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title #{title} | RKNAdmin

    include includes/favicons

    block head-files
        include includes/head-files

body
    block content

    block body-files
        include includes/body-files