script(src='/js/jquery.min.js')
script(src='/js/jquery-migrate.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/jquery.magnific-popup.min.js')
script(src='/js/aos.js')
script(src='/js/main.js')