footer.site-footer
    .row.text-center
        .col-md-12
            p.footer-heading.text-white-opacity-5
                | Rada Kół Naukowych Politechniki Poznańskiej
                br
                a(href='https://www.facebook.com/RKNPP' target='_blank')
                    i.fab.fa-facebook
                |  |
                a.ml-2(href='https://www.instagram.com/rkn_pp' target='_blank')
                    i.fab.fa-instagram
                |  |
                a.ml-2(href='https://www.youtube.com/channel/UCC1yOhMzC1oN6TaVJlY01ag' target='_blank')
                    i.fab.fa-youtube
    .row.text-center
        .col-md-12
            p.pt-5
                | Copyright &copy; 
                script.
                    document.write(new Date().getFullYear());
                |  All Rights Reserved | This template is made by
                a(href='https://colorlib.com' target='_blank')  Colorlib