link(href='/fonts/playfair-display.css' rel='stylesheet')
link(href='/css/bootstrap.min.css' rel='stylesheet')
link(href='/css/aos.css' rel='stylesheet')
link(href='/css/style.css' rel='stylesheet')

script(src='/js/font-awesome.js')