.site-mobile-menu
    .site-mobile-menu-header
        .site-mobile-menu-close.mt-3
            span.fas.fa-times.js-menu-toggle
    .site-mobile-menu-body
.site-navbar-wrap.js-site-navbar.bg-white
    .container
        a#button
        .site-navbar.bg-light
            .py-1
                .row.align-items-center
                    .col-2
                        h2.mb-0.site-logo
                            a(href=(homePage ? '#top' : '/'))
                                img(width='160' height='60')
                    .col-10
                        nav.site-navigation.text-right(role='navigation')
                            .container
                                .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3.burger
                                    a.site-menu-toggle.js-menu-toggle(href='/#')
                                        span.fas.fa-bars.h3
                                ul.site-menu.js-clone-nav.d-none.d-xl-block.not-burger
                                    li(class=(homePage ? 'active' : ''))
                                        a(href=(homePage ? '#top' : '/')) Strona główna

                                    li(class=(societiesPage ? 'active' : ''))
                                        a(href=(societiesPage ? '#top' : '/kola-i-organizacje')) Koła i Organizacje

                                    li(class=(eventsPage ? 'active' : ''))
                                        a(href=(eventsPage ? '#top' : '/wydarzenia')) Wydarzenia

                                    //li(class=(newsPage ? 'active' : ''))
                                    //    a(href=(newsPage ? '#top' : '/aktualnosci')) Aktualności

                                    li(class=(docsPage ? 'active' : ''))
                                        a(href=(docsPage ? '#top' : '/dokumenty')) Dokumenty

                                    li(class=(faqPage ? 'active' : ''))
                                        a(href=(faqPage ? '#top' : '/faq')) FAQ

                                    li(class=(contactPage ? 'active' : ''))
                                        a(href=(contactPage ? '#top' : '/kontakt')) Kontakt

                                    li
                                        a(href='/admin') RKNAdmin