extends ../base

append content
    .hold-transition.login-page.text-center
        .login-box
            .card.card-outline.card-danger
                .card-header.text-center
                    span.h2
                        | RKN
                        span.text-danger Admin
                .card-body
                    p.login-box-msg
                        | Logowanie do panelu administracyjnego
                    form
                        .input-group.mb-3
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-envelope
                            input#email.form-control(type='text' placeholder=' adres email (BEZ DOMENY)' name='email' autocomplete='username' required)
                        .input-group.mb-3
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-at
                            select#login-domain.custom-select(name='domain' required)
                                option(value='rkn.put.poznan.pl') rkn.put.poznan.pl
                                option(value='student.put.poznan.pl') student.put.poznan.pl
                                option(value='doctorate.put.poznan.pl') doctorate.put.poznan.pl
                                option(value='put.poznan.pl') put.poznan.pl
                        .input-group.mb-3
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-fingerprint
                            input#placeholder.form-control(type='number' min=0 placeholder=' nr indeksu' name='index' autocomplete='password' required)
                        .row
                            .col.text-center.mt-2.mb-3
                                button.btn.btn-block.btn-danger(type='submit')
                                    i.fas.fa-envelope.mr-2
                                    |                                 Wyślij link do logowania
                    p.mb-0
                        a.text-center(href='/auth/register')
                            | Nie masz konta? Zarejestruj się.

append body-files
    script.
      const domain = $('#login-domain');
      const email = $('#email');

      // disable submit button if email has '@'
      email.on('input', function() {
        if (email.val().includes('@')) {
          $('button[type="submit"]').prop('disabled', true);
        } else {
          $('button[type="submit"]').prop('disabled', false);
        }
      });


      domain.on('change', function() {
        if (domain.val() === 'put.poznan.pl') {
          $('#placeholder').attr('placeholder', 'kod dostępu');
        } else {
          $('#placeholder').attr('placeholder', 'nr indeksu');
        }
      });

      const form = $('form');

      form.on('submit', (event) => {
        event.preventDefault();
        const data = form.serializeJSON();
        data.email = data.email + '@' + data.domain;
        delete data.domain;

        $.ajax({
          url: '/auth/login',
          type: 'POST',
          data,
          success: () => {
            window.location.href = '/auth/login/verify/' + data.email;
          },
          error: (data) => {
            const message = data.responseJSON.message;
            toastr.error(message);
          }
        })
      })
