extends ../base

append head-files
    style.
        :root {
            /* colors palette */
            --placeholder-color: hsl(240, 54%, 87%);
            --bg-color: hsl(240, 54%, 97%);
            --focus-color: hsla(240, 54%, 61%, 0.6);
            --shadow-color: hsla(240, 54%, 61%, 0.2);
            --text-color: hsl(0, 0%, 20%);
            --text-color-inversed: hsl(0, 0%, 95%);
            --success-color: hsl(145, 63%, 42%);
            --success-color-desaturated: hsl(145, 0%, 42%);
            --failure-color: hsl(0, 79%, 63%);

            /* border-radius */
            --border-radius: 6px;

            /* z-index */
            --z-index-xs: 1;
            --z-index-sm: 10;
            --z-index-md: 100;

            /* easing */
            --easing: cubic-bezier(0.25, 0.01, 0.25, 1);

            /* transition durations */
            --transition-duration-step-1: 450ms;
            --transition-duration-step-2: 300ms;
            --transition-duration-step-3: 300ms;

            /* transition delays */
            --transition-delay-step-2: calc(var(--transition-duration-step-1));
            --transition-delay-step-3: calc(
                    var(--transition-duration-step-1) + var(--transition-duration-step-2)
            );

            /* transition properties */
            --transition-step-1: var(--transition-duration-step-1) var(--easing);
            --transition-step-2: var(--transition-duration-step-2) var(--easing) var(--transition-delay-step-2);
            --transition-step-3: var(--transition-duration-step-3) var(--easing) var(--transition-delay-step-3);
        }

        .main {
            display: grid;
            justify-content: center;
        }

        .label {
            font-size: 14px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.01em;
            color: var(--text-color);
        }

        .fieldset {
            position: relative;
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            column-gap: 12px;
            border-radius: 6px;
            overflow: hidden;
            will-change: transform;
            /* make shadows of inner elements visible */
            padding: 6px;
            margin: -6px;
        }

        .fieldset::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transform: translateX(-100%);
        }


        .box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 42px;
            border-radius: var(--border-radius);
            box-shadow: 0 0 6px 1px var(--shadow-color);
            overflow: hidden;
            will-change: transform;
        }

        .box:focus-within {
            box-shadow: 0 0 6px 1px var(--shadow-color), 0 0 0 2px var(--focus-color);
        }

        .box::before,
        .box::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: var(--border-radius);
            overflow: hidden;
        }

        .box::before {
            background: var(--bg-color);
            z-index: var(--z-index-xs);
            transition: background-color var(--transition-step-1);
        }

        .box::after {
            transform: translateY(100%);
            background-color: var(--success-color-desaturated);
            opacity: 0;
            z-index: var(--z-index-sm);
            transition: transform var(--transition-step-1),
            opacity var(--transition-step-1), background-color var(--transition-step-1);
        }

        .field {
            position: relative;
            border: 0;
            outline: 0;
            font-size: 25.21px;
            line-height: 42px;
            color: var(--text-color);
            background-color: transparent;
            text-align: center;
            z-index: var(--z-index-md);
        }

        .field::placeholder {
            color: var(--placeholder-color);
        }

        /* animate-failure styles  */

        animate-failure.fieldset {
            animation-name: shaking;
            animation-duration: var(--transition-duration-step-2);
            animation-timing-function: var(--easing);
            animation-delay: var(--transition-delay-step-2);
        }

        .animate-failure > .box::before {
            background-color: transparent;
        }

        .animate-failure > .box::after {
            background-color: var(--failure-color);
            transform: translateY(0);
            opacity: 1;
        }

        .animate-failure > .box > .field,
        .animate-failure > .box > .field::placeholder {
            color: var(--text-color-inversed);
            transition: color var(--transition-step-1);
        }

        @keyframes shaking {
            0%,
            100% {
                transform: translateX(0);
            }

            25%,
            75% {
                transform: translateX(10px);
            }

            50% {
                transform: translateX(-10px);
            }
        }


append content
    .text-center
        .hold-transition.register-page
            .register-box
                .card.card-outline.card-danger
                    .card-header.text-center
                        span.h2
                            | RKN
                            span.text-danger
                                | Admin
                    .card-body
                        p.register-box-msg
                            span LOGOWANIE DO PLATFORMY
                            br
                            span.text-danger= email
                        .main
                            p.label Wprowadź otrzymany kod
                            .fieldset
                                label.box
                                    input.field(type='text' placeholder='•')
                                label.box
                                    input.field(type='text' placeholder='•')
                                label.box
                                    input.field(type='text' placeholder='•')
                                label.box
                                    input.field(type='text' placeholder='•')
                                label.box
                                    input.field(type='text' placeholder='•')
                                label.box
                                    input.field(type='text' placeholder='•')
                            button.mt-3.btn.btn-block.btn-danger Zatwierdź
                        p.mt-3.mb-0
                            a.text-center(href='/auth')
                                | Zaloguj się ponownie




append body-files
    script.
        const email = JSON.parse('!{JSON.stringify(email)}');

        const root = document.documentElement;

        const submit = document.querySelector("button");

        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                submit.click();
            }
        });

        function getCustomPropertyValue(name) {
            const styles = getComputedStyle(root);
            return styles.getPropertyValue(name);
        }

        const fieldset = document.querySelector(".fieldset");
        const fields = document.querySelectorAll(".field");

        function handleInputField({target}) {
            const value = target.value.slice(0, 1);
            target.value = value;

            const step = value ? 1 : -1;
            const fieldIndex = [...fields].findIndex((field) => field === target);
            const focusToIndex = fieldIndex + step;

            if (focusToIndex < 0 || focusToIndex >= fields.length) return;

            fields[focusToIndex].focus();
        }

        function handlePasteEvent(e) {
            e.stopPropagation();
            e.preventDefault();

            const clipboardData = e.clipboardData || window.clipboardData;
            const pastedData = clipboardData.getData('Text');
            const fieldIndex = [...fields].findIndex((field) => field === e.target);

            for (let i = fieldIndex, idx = 0; i < 6 && idx < pastedData.length; i++, idx++)
                fields[i].value = pastedData[idx];

            const idx = fieldIndex + pastedData.length - 1
            fields[idx].focus();
            if (idx === 5) submit.click();
        }

        fields.forEach((field) => {
            field.addEventListener("input", handleInputField);
            field.addEventListener("paste", handlePasteEvent);
        });

        submit.addEventListener("click", () => {
            let code = '';
            fields.forEach(field => {
                code += field.value;
            });

            if (code.length !== 6) {
                toastr.error('Wystąpił błąd w formularzu!')
            } else {
                $.ajax({
                    url: '/auth/login/verify/token',
                    type: 'POST',
                    data: {email, emailToken: code},
                    success: () => {
                        toastr.success('Pomyślnie zalogowano')
                        window.location.href = '/admin'
                    },
                    error: (data) => {
                        const message = data.responseJSON.message;
                        toastr.error(message);


                        function getDelay() {
                            const firstStepDuration = getCustomPropertyValue(
                                "--transition-duration-step-1"
                            );
                            const secondStepDuration = getCustomPropertyValue(
                                "--transition-duration-step-2"
                            );

                            return parseInt(firstStepDuration) + parseInt(secondStepDuration);
                        }

                        function animateFailure() {
                            fieldset.classList.add("animate-failure");
                            const delay = getDelay();

                            setTimeout(() => {
                                fieldset.classList.remove("animate-failure");
                            }, delay);
                        }

                        if (fieldset.classList.contains("animate-success")) {
                            fieldset.classList.remove("animate-success");

                            const delay = parseInt(getCustomPropertyValue("--transition-duration-step-1"))

                            setTimeout(() => {
                                animateFailure();
                            }, delay)

                            return;
                        }

                        animateFailure();
                    }
                });
            }
        });


