extends ../base

append content
    .text-center
        .hold-transition.register-page
            .register-box(style='min-width: 25vw')
                .card.card-outline.card-danger
                    .card-header.text-center
                        span.h2
                            | RKN
                            span.text-danger
                                | Admin
                    .card-body
                        p.register-box-msg
                            | Rejestracja w panelu administracyjnym
                        form.form-signin
                            .input-group.mb-3
                                .input-group-append
                                    .input-group-text(style='width: 46px;')
                                        span.fas.fa-user
                                input#name.form-control(type='text' placeholder=' imię i nazwisko' name='name')
                            .input-group.mb-3
                                .input-group-append
                                    .input-group-text(style='width: 46px;')
                                        span.fas.fa-envelope
                                input#email.form-control(type='text' placeholder=' adres email (BEZ DOMENY)' name='email' autocomplete='username')
                            .input-group.mb-3
                                .input-group-append
                                    .input-group-text(style='width: 46px;')
                                        span.fas.fa-at
                                select#register-domain.custom-select(name='domain')
                                    option(value='rkn.put.poznan.pl') rkn.put.poznan.pl
                                    option(value='student.put.poznan.pl') student.put.poznan.pl
                                    option(value='doctorate.put.poznan.pl') doctorate.put.poznan.pl
                                    option(value='put.poznan.pl') put.poznan.pl
                            .input-group.mb-3
                                .input-group-append
                                    .input-group-text(style='width: 46px;')
                                        span.fas.fa-user-friends
                                select.custom-select(name='societyId')
                                    each society in societies
                                        option(value=society.id)= society.name
                            .input-group.mb-3
                                .input-group-append
                                    .input-group-text(style='width: 46px;')
                                        span.fas.fa-fingerprint
                                input#placeholder.form-control(type='number' min='0' step='1' placeholder=' nr indeksu' name='index' autocomplete='password' required)
                            .col
                                .icheck-primary
                                    input#terms(type='checkbox' required)
                                    label.font-weight-light.ml-1(for='terms')
                                        | Akceptuję
                                        a(href='/admin/privacy' target='_blank')  Politykę Prywatności
                            .row
                                .col.text-center.mt-2.mb-3
                                    button.btn.btn-block.btn-danger(type='submit')
                                        i.fas.fa-envelope.mr-2
                                        |                                 Wyślij link do logowania
                        p.mb-0
                            a.text-center(href='/auth') Masz już konto? Zaloguj się.


append body-files
    script.
      const domain = $('#register-domain');
      const email = $('#email');

      // disable submit button if email has '@'
      email.on('input', function() {
        if (email.val().includes('@')) {
          $('button[type="submit"]').prop('disabled', true);
        } else {
          $('button[type="submit"]').prop('disabled', false);
        }
      });

      domain.on('change', function() {
        if (domain.val() === 'put.poznan.pl') {
          $('#placeholder').attr('placeholder', 'kod dostępu');
        } else {
          $('#placeholder').attr('placeholder', 'nr indeksu');
        }
      });


        const form = $('form');

        form.on('submit', (event) => {
            event.preventDefault();
            const data = form.serializeJSON();
            data.email = data.email + '@' + data.domain;
            delete data.domain;

            $.ajax({
                url: '/auth/register',
                type: 'POST',
                data,
                success: () => {
                    window.location.href = '/auth/verify/' + data.email;
                },
                error: (data) => {
                    const message = data.responseJSON.message;
                    toastr.error(message);
                }
            });
        });