doctype html
html(lang='pl')
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    base(href='/admin/' target='_self')

    title #{title} | RKNAdmin

    include includes/favicons

    block head-files
        include includes/head-files

body
    block active-item

    block content
        include includes/navbar
        include includes/aside

    block body-files
        include includes/body-files