extends ../../../base

append active-item
    - const societiesPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
                            span.ml-2 |
                            a.ml-2(href='rkn/societies') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-12
                        .card.bg-transparent.h-100.collapsed-card
                            .card-header.bg-primary(data-card-widget='collapse' title='Collapse')
                                h1.card-title.text-center Logotyp
                                .card-tools
                                    button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                        i.fas.fa-plus
                            .card-body.d-flex.align-items-center.justify-content-center.flex-column
                                img.img-fluid(src=`${society.logoPath}` onerror="this.src='/images/no-logo.jpg'" alt="Logo" style="max-width: 50%;")
                                form#logo-upload-form.d-none
                                    input#logo-upload.d-none(type='file' name='file' accept='.jpeg, .jpg, .png, .bmp, .svg')
                                .row
                                    .btn.btn-sm.btn-primary.mt-3(
                                        'data-toggle'='tooltip'
                                        'data-placement'='bottom'
                                        'data-html'='true'
                                        'title'=`<b>Akceptowane rozszerzenia:</b> JPEG, JPG, PNG, BMP, SVG<br/><b>Limit: 5 MB</b>`
                                        'onclick'='uploadLogo();return false;'
                                    )
                                        i.fa.fa-sync  Zmień
                                    .btn.btn-sm.btn-danger.mt-3.ml-2(
                                        'onclick'='removeLogo();return false;'
                                    )
                                        i.fa.fa-trash  Usuń
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-warning.border-0
                                h3.card-title
                                    i.fas.fa-edit.mr-1
                                    | Edycja danych
                            .card-body
                                form#add-society
                                    .form-group
                                        label(for='facultyId') Wydział
                                        select.custom-select#facultyId(name='facultyId')
                                            each faculty in faculties
                                                if society.faculty.id === faculty.id
                                                    option.text-success.text-bold(value=faculty.id selected)= faculty.name
                                                else
                                                    option(value=faculty.id)= faculty.name
                                    .row
                                        .form-group.col-md-10
                                            label(for='name') Nazwa
                                            input#name.form-control(type='text' name='name' value=society.name)
                                        .form-group.col-md-2
                                            label(for='abbreviation') Skrót
                                            input#abbreviation.form-control(type='text' name='abbreviation' value=society.abbreviation)
                                    .row
                                        .form-group.col-md-6
                                            label(for='leader') Przewodniczący/a
                                            input#leader.form-control(type='text' name='leader' value=society.leader)
                                        .form-group.col-md-6
                                            label(for='supervisor') Opiekun
                                            input#supervisor.form-control(type='text' name='supervisor' value=society.supervisor)
                                    .row
                                        .form-group.col-md-4
                                            label(for='email') Adres e-mail
                                            input#email.form-control(type='email' name='email' value=society.email)
                                        .form-group.col-md-4
                                            label(for='emailSecondary') Poboczny adres e-mail
                                            input#emailSecondary.form-control(type='email' name='emailSecondary' value=society.emailSecondary)
                                        .form-group.col-md-4
                                            label(for='emailSupervisor') Adres e-mail opiekuna
                                            input#emailSupervisor.form-control(type='email' name='emailSupervisor' value=society.emailSupervisor)
                                    .row
                                        .form-group.col-md-4
                                            label(for='website') Strona internetowa
                                            input#website.form-control(type='url' name='website' value=society.website)
                                        .form-group.col-md-4
                                            label(for='facebook') Facebook
                                            input#facebook.form-control(type='url' name='facebook' value=society.facebook)
                                        .form-group.col-md-4
                                            label(for='instagram') Instagram
                                            input#instagram.form-control(type='text' name='instagram' value=society.instagram)
                                    .form-group
                                        label(for='description') Opis działalności
                                        textarea#description.form-control(name='description')= society.description
                                    .card-footer
                                        button.btn.btn-warning(type='submit') Zatwierdź

append body-files
    //script(src='/js/config.js')
    //script(src='/js/tam-emoji.min.js')
    script.
        const logoForm = $('#logo-upload-form');
        let societyId = !{JSON.stringify(society.id).replace(/<\//g, "<\\/")}

        function uploadLogo() { $('#logo-upload').click(); }
        function removeLogo() {
            $.ajax({
                url: `/api/societies/${societyId}/logo`,
                type: 'DELETE',
                success: function (data) {
                    if (data && data.status === 500)
                        toastr.error(data.message);
                    else {
                        toastr.success('Pomyślnie usunięto logotyp');
                        setTimeout(() => {
                            window.location.reload();
                        }, 500)
                    }
                },
                error: (data) => {
                    toastr.error(data.responseText);
                }
            });
        }

        window.onload = function () {
            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                ],
            });

             $('#logo-upload').on('change', function () {
                if (this.value !== null) logoForm.submit();
            });

            logoForm.on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                const data = new FormData(this);

                $.ajax({
                    url: `/api/societies/${societyId}/logo`,
                    type: 'PATCH',
                    data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if(data && data.status === 500)
                            toastr.error(data.message);
                        else {
                            toastr.success('Pomyślnie zaktualizowano logotyp');
                            setTimeout(() => {
                                window.location.reload();
                            }, 500)
                        }
                    },
                    error: (data) => {
                        toastr.error(data.responseText);
                    }
                });
            });

            const form = $("#add-society");
            form.on("submit", (event) => {
                event.preventDefault();
                let data = form.serializeJSON();
                data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== ''));
                data.facultyId = Number(data.facultyId);
                $.ajax({
                    url: `/api/societies/${societyId}`,
                    type: "PUT",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie zaktualizowano");
                        setTimeout(() => {
                            window.location.href = "rkn/societies";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }
