extends ../../../base

append active-item
    - const societiesPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= title
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                a.btn.btn-success.mb-3(href='rkn/societies/new')
                                    | Dodaj nową jednostkę
                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        $(document).ready(function () {

            const options = {
                dom: 'QBlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ],
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'csv',
                        charset: 'utf-8',
                        exportOptions: {
                            columns: ':not(:last-child)',
                            format: {
                                header: (data, row, column) => {
                                    return $(column).attr('aria-label').split(':')[0];
                                }
                            }
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    'colvis',
                ]
            };

            let data = !{JSON.stringify(societies).replace(/<\//g, "<\\/")}
            data = data.filter(d => d.faculty !== null);

            for (let d of data) {
                d.type = (d.type === 'organization') ? 'Organizacja Studencka' : (d.type === 'club') ? 'Koło Naukowe' : '-';
                d.visible = (d.visible === true) ? 'tak' : 'nie';
                d.active = (d.active === true) ? 'tak' : 'nie';
            }

            const table = $('table').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'name', title: 'Nazwa'},
                    {data: 'faculty.name', title: 'Wydział'},
                    {data: 'type', title: 'Typ'},
                    {data: 'abbreviation', title: 'Skrót'},
                    {data: 'leader', title: 'Przewodniczący/a'},
                    {data: 'supervisor', title: 'Opiekun'},
                    {data: 'email', title: 'Adres e-mail'},
                    {data: 'emailSecondary', title: 'Poboczny adres e-mail'},
                    {data: 'website', title: 'Strona internetowa'},
                    {data: 'facebook', title: 'Facebook'},
                    {data: 'instagram', title: 'Instagram'},
                    {data: 'visible', title: 'Widoczne?'},
                    {data: 'active', title: 'Aktywne?'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: function (data, type, row) {
                            let first;
                            if (row.active === 'tak')
                                first = '<button class="btn btm-sm btn-danger mr-1 suspend">Zawieś</button>';
                            else
                                first = '<button class="btn btm-sm btn-success mr-1 activate">Aktywuj</button>';
                            return first + '| <button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button> | <button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button> | <button class="btn btm-sm btn-outline-danger ml-1 delete">Usuń</button>'
                        }
                    }
                ],
                ...options,
            });

            $('table tbody').on('click', 'button.suspend', function () {
                const row = table.row($(this).parents('tr'));
                const data = row.data();

                $.ajax({
                    type: 'PATCH',
                    url: '/api/societies/suspend/' + data.id,
                    success: () => {
                        data.active = 'nie';
                        table.row(row).data(data).draw();
                        toastr.success('Pomyślnie zawieszono jednostkę.');
                    },
                    error: () => {
                        toastr.error('Wystąpił błąd.');
                    }
                })
            });

            $('table tbody').on('click', 'button.activate', function () {
                const row = table.row($(this).parents('tr'));
                const data = row.data();

                $.ajax({
                    type: 'PATCH',
                    url: '/api/societies/activate/' + data.id,
                    success: () => {
                        data.active = 'tak';
                        table.row(row).data(data).draw();
                        toastr.success('Pomyślnie aktywowano jednostkę.');
                    },
                    error: () => {
                        toastr.error('Wystąpił błąd.');
                    }
                })
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.open(`/kola-i-organizacje/${data.slug}`, '_blank');
            });

            $('table tbody').on('click', 'button.edit', function () {
                const data = table.row($(this).parents('tr')).data();
                // window.location.href = `rkn/societies/${data.slug}/edit`;
                window.open(`rkn/societies/${data.slug}/edit`, '_blank');
            });

            $('table tbody').on('click', 'button.delete', function () {
                const data = table.row($(this).parents('tr')).data();
                if (confirm('Czy na pewno usunąć jednostkę? \r\nSpowoduje to odświeżenie strony!')) {
                    const answer = prompt(`Potwierdź nazwę jednostki, którą chcesz usunąć: ${data.name}`);
                    if(answer === data.name) {
                        $.ajax({
                            type: 'DELETE',
                            url: '/api/societies/' + data.id,
                            success: () => {
                                window.location.href = 'societies'
                            },
                            error: () => {
                                toastr.error('Wystąpił błąd.');
                            }
                        })
                    } else {
                        toastr.error('Podano złe dane.')
                    }
                }
            });
        });