extends ../../../base

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1
                            | Dodaj nowe Koło Naukowe / Organizację Studencką
                        h5.ml-1.mt-1
                            a(href='rkn/societies') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-success.border-0
                                h3.card-title
                                    i.far.fa-plus-square.mr-1
                                    | Nowe Koło Naukowe / Organizacja Studencka
                            .card-body
                                form#add-society
                                    .form-group
                                        label(for='facultyId') Wydział
                                        select.custom-select#facultyId(name='facultyId')
                                            each faculty in faculties
                                                option(value=faculty.id)= faculty.name
                                    .row
                                        .form-group.col-md-10
                                            label(for='name') Nazwa
                                            input#name.form-control(type='text' name='name' required)
                                        .form-group.col-md-2
                                            label(for='abbreviation') Skrót
                                            input#abbreviation.form-control(type='text' name='abbreviation')
                                    .row
                                        .form-group.col-md-6
                                            label(for='leader') Przewodniczący/a
                                            input#leader.form-control(type='text' name='leader' required)
                                        .form-group.col-md-6
                                            label(for='supervisor') Opiekun
                                            input#supervisor.form-control(type='text' name='supervisor' required)
                                    .row
                                        .form-group.col-md-6
                                            label(for='email') Adres mailowy
                                            input#email.form-control(type='email' name='email')
                                        .form-group.col-md-6
                                            label(for='website') Strona internetowa
                                            input#website.form-control(type='url' name='website')
                                    .row
                                        .form-group.col-md-6
                                            label(for='facebook') Facebook
                                            input#facebook.form-control(type='url' name='facebook')
                                        .form-group.col-md-6
                                            label(for='instagram') Instagram
                                            input#instagram.form-control(type='text' name='instagram')
                                    .form-group
                                        label(for='description') Opis działalności
                                        textarea#description.form-control(name='description')
                                    .card-footer
                                        button.btn.btn-success(type='submit') Zatwierd&zacute;


append body-files
    script.
        window.onload = function () {
            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            });

            const form = $("#add-society");
            form.on("submit", (event) => {
                event.preventDefault();
                const dataWithEmpties = form.serialize();
                const data = dataWithEmpties.replace(/[^&]+=\.?(?:&|$)/g, '');

                $.ajax({
                    url: "/api/societies",
                    type: "POST",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie dodano nową jednostkę");
                        setTimeout(() => {
                            window.location.href = "rkn/societies";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }