doctype html
head
    style.
        @media only screen {
            html {
                min-height: 100%;
                background: #fefefe;
            }

            a[x-apple-data-detectors] {
                color: inherit !important;
                text-decoration: none !important;
                font-size: inherit !important;
                font-family: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
            }
        }

        @media only screen and (max-width: 516px) {
            .a,
            .b {
                text-align: center !important;
            }

            .a {
                margin: 0 auto !important;
                float: none !important;
            }

            .c {
                text-align: left !important;
            }

            .d {
                text-align: right !important;
            }

            .e {
                display: block !important;
                width: auto !important;
                overflow: visible !important;
                max-height: none !important;
                font-size: inherit !important;
                line-height: inherit !important;
            }

            div.f div.g .e,
            div.f div.g .h.e {
                display: table !important;
                width: 100% !important;
            }

            div.f div.g .i.e {
                display: table-cell !important;
                width: 100% !important;
            }

            div.f div.g .j {
                display: none !important;
                width: 0;
                mso-hide: all;
                overflow: hidden;
            }

            .k.l .m,
            div.f .n .o,
            div.f .n .p,
            div.f .o .o,
            div.f .o .p,
            div.f .p .o,
            div.f .p .p {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            div.k td,
            div.k th,
            td.ab,
            td.bb,
            td.q,
            td.r,
            td.s,
            td.t,
            td.u,
            td.v,
            td.w,
            td.x,
            td.y,
            td.z,
            th.ab,
            th.bb,
            th.q,
            th.r,
            th.s,
            th.t,
            th.u,
            th.v,
            th.w,
            th.x,
            th.y,
            th.z {
                display: inline-block !important;
            }

            div.f center {
                min-width: 0 !important;
            }

            div.f .g {
                width: 95% !important;
            }

            div.f .o,
            div.f .p {
                height: auto !important;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 16px !important;
                padding-right: 16px !important;
            }

            td.q,
            th.q {
                width: 8.3% !important;
            }

            td.u,
            th.u {
                width: 16.7% !important;
            }

            td.v,
            th.v {
                width: 25% !important;
            }

            td.w,
            th.w {
                width: 33.3% !important;
            }

            td.x,
            th.x {
                width: 41.7% !important;
            }

            td.y,
            th.y {
                width: 50% !important;
            }

            td.z,
            th.z {
                width: 58.3% !important;
            }

            td.ab,
            th.ab {
                width: 66.7% !important;
            }

            td.bb,
            th.bb {
                width: 75% !important;
            }

            td.r,
            th.r {
                width: 83.3% !important;
            }

            td.s,
            th.s {
                width: 91.7% !important;
            }

            div.cb.db,
            div.cb.eb,
            div.k,
            td.t,
            th.t {
                width: 100% !important;
            }

            .o td.t,
            .o th.t,
            .p td.t,
            .p th.t {
                display: block !important;
                width: 100% !important;
            }

            div.f td.fb,
            div.f th.fb {
                margin-left: 8.3% !important;
            }

            div.f td.gb,
            div.f th.gb {
                margin-left: 16.7% !important;
            }

            div.f td.hb,
            div.f th.hb {
                margin-left: 25% !important;
            }

            div.f td.ib,
            div.f th.ib {
                margin-left: 33.3% !important;
            }

            div.f td.jb,
            div.f th.jb {
                margin-left: 41.7% !important;
            }

            div.f td.kb,
            div.f th.kb {
                margin-left: 50% !important;
            }

            div.f td.lb,
            div.f th.lb {
                margin-left: 58.3% !important;
            }

            div.f td.mb,
            div.f th.mb {
                margin-left: 66.7% !important;
            }

            div.f td.nb,
            div.f th.nb {
                margin-left: 75% !important;
            }

            div.f td.ob,
            div.f th.ob {
                margin-left: 83.3% !important;
            }

            div.f td.pb,
            div.f th.pb {
                margin-left: 91.7% !important;
            }

            div.f div.p td.qb,
            div.f div.p th.qb {
                display: none !important;
            }

            div.f .rb,
            div.f .sb {
                padding-left: 10px !important;
            }

            div.f .tb,
            div.f .ub {
                padding-right: 10px !important;
            }

            div.k td,
            div.k th,
            div.k[align="center"] {
                width: auto !important;
            }

            div.k.l td,
            div.k.l th,
            div.k.vb td,
            div.k.vb th {
                display: block !important;
            }

            div.cb.db div,
            div.cb.eb div {
                width: 100%;
            }

            div.cb.db div a,
            div.cb.eb div a {
                text-align: center !important;
                width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            div.cb.db center,
            div.cb.eb center {
                min-width: 0;
            }

            .wb {
                margin-left: 10px !important;
            }
        }

        @media (max-width: 516px) {
            .xb.yb > tbody > tr > th,
            .xb.yb > tbody > tr > th > div {
                width: 100% !important;
            }

            .xb.yb > tbody > tr > th > div,
            .xb.yb > tbody > tr > th > div img.zb {
                width: 100% !important;
                min-width: 100% !important;
            }

            .xb.yb .ac.bc .zb {
                padding-top: 20px;
            }

            .ac h3,
            .cc h3,
            .dc h3 {
                font-size: 21px;
            }

            .ec {
                margin-left: 20px !important;
            }

            .fc {
                padding: 20px !important;
            }

            .gc h2 {
                font-size: 40px !important;
                line-height: 60px !important;
                width: 250px !important;
                padding-top: 20px !important;
                margin-left: 20px !important;
                font-weight: 900 !important;
            }
        }

        @media screen and (max-width: 516px) {
            .hc {
                height: 218px !important;
            }
        }

        @media only screen and (min-width: 516px) {
            .ic.j {
                display: inline-block;
            }
        }

        @media (prefers-color-scheme: dark) {
            .jc,
            .jc div.g,
            div.f.jc {
                background: #202224 !important;
            }

            .jc .kc {
                display: none !important;
            }

            .jc .lc,
            .jc .mc {
                display: block !important;
            }

            .ic.j,
            .jc .nc,
            .jc .oc {
                background-color: #f0f0f0 !important;
            }

            .jc .ac h3,
            .jc .cc h3,
            .jc .dc h3,
            .jc .pc h1,
            .jc .pc span,
            .jc .qc.rc h3 {
                color: #fff !important;
            }

            .jc .ac small,
            .jc .ac span,
            .jc .cc small,
            .jc .cc span,
            .jc .dc small,
            .jc .dc span {
                color: #ebebf5 !important;
            }

            .jc .sc span {
                color: #fefefe !important;
            }
        }

body
    .f(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; background: #fefefe; height: 100%; width: 100%; text-align: left; color: #5b6a69; font-family: Avenir, Century Gothic, Roboto, Arial, sans-serif; font-weight: 400; margin: 0; padding: 0; font-size: 16px; line-height: 130%;')
        .row
            .col
                center(style='width: 100%; min-width: 500px')
                    .qc(align='center' style='border-spacing: 0; border-collapse: collapse; padding: 0; width: 100%; min-width: 100%;')
                        .row
                            .col
                                .g(align='center' style='border-spacing: 0; border-collapse: collapse; padding: 0; background: #fefefe; width: 500px; margin: 0 auto;')
                                    .row
                                        .col
                                            .h.n(style='border-spacing: 0; border-collapse: collapse; padding: 0; width: 100%; position: relative; display: div;')
                                                .row
                                                    .col
                                                        div(style='border-spacing: 0; border-collapse: collapse; padding: 0; width: 100%;')
                                                            .row
                                                                .col
                                                                .col
                    .g(align='center' style='border-spacing: 0; border-collapse: collapse; padding: 0; background: #fefefe; width: 500px; margin: 0 auto; text-align: inherit;')
                        .row
                            .col
                                .h(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0; width: 100%; position: relative; display: div;')
                                    .row
                                        .col
                                            div(style='border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0; width: 100%;')
                                                .row
                                                    .col
                                                        div(style='border-spacing: 0; border-collapse: collapse; padding: 0; width: 100%;')
                                                            .row
                                                                .col
                                                        img.kc(src='https://rkn.put.poznan.pl/images/logo.png' alt='RKN' height='90' style='outline: 0; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; display: block; border: none; width: auto; max-width: 100%;')
                                                        div(style='border-spacing: 0; border-collapse: collapse; padding: 0; width: 100%;')
                                                            .row
                                                                .col
                                                        h1(style='letter-spacing: -0.5px; letter-spacing: -0.5px; text-align: left; margin: 1.5rem 0 0 0; padding: 0; color: #042b28; font-family: Avenir, Segoe UI, Roboto, Arial, sans-serif; font-weight: 700; font-size: 34px; line-height: 37px; margin-bottom: 20px; word-wrap: initial; -webkit-hyphens: initial; -moz-hyphens: initial; hyphens: initial;')
                                                            span= header
                                                        h2(style='letter-spacing: -0.5px; letter-spacing: -0.5px; text-align: left; margin: 0; padding: 0; font-family: Avenir, Segoe UI, Roboto, Arial, sans-serif; font-weight: 400; font-size: 22px; line-height: 31px; color: #5b6a69; margin-bottom: 15px; word-wrap: initial; -webkit-hyphens: initial; -moz-hyphens: initial; hyphens: initial;')
                                                            span= message
                                                            if token
                                                                span(style='margin-left: 0.25rem; color: #f23a2e;')= token
                                                        if url
                                                            h2(style='letter-spacing: -0.5px; letter-spacing: -0.5px; text-align: center; margin: 0; padding: 0; font-family: Avenir, Segoe UI, Roboto, Arial, sans-serif; font-weight: 400; font-size: 18px; line-height: 31px; color: #5b6a69; margin-bottom: 30px; word-wrap: initial; -webkit-hyphens: initial; -moz-hyphens: initial; hyphens: initial;')
                                                                span(style='margin-right: 0.25rem;') &rarr;
                                                                a(href=url) Link do logowania
                                                                span(style='margin-left: 0.25rem;') &larr;
                                                        p
                                                            | W przypadku wątpliwości lub problemów uprzejmie prosimy o kontakt z
                                                            a(href='https://zco.put.poznan.pl/pl/' style='margin-left: 0.25rem;') Zintegrowanym Centrum Obsługi
                                                            | .
