doctype html
style.
    @media only screen {
        html {
            min-height: 100%;
            background: #fefefe;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
    }

    @media only screen and (max-width: 516px) {
        .a,
        .b {
            text-align: center !important;
        }

        .a {
            margin: 0 auto !important;
            float: none !important;
        }

        .c {
            text-align: left !important;
        }

        .d {
            text-align: right !important;
        }

        .e {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            max-height: none !important;
            font-size: inherit !important;
            line-height: inherit !important;
        }

        table.f table.g .e,
        table.f table.g .h.e {
            display: table !important;
            width: 100% !important;
        }

        table.f table.g .i.e {
            display: table-cell !important;
            width: 100% !important;
        }

        table.f table.g .j {
            display: none !important;
            width: 0;
            mso-hide: all;
            overflow: hidden;
        }

        .k.l .m,
        table.f .n .o,
        table.f .n .p,
        table.f .o .o,
        table.f .o .p,
        table.f .p .o,
        table.f .p .p {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        table.k td,
        table.k th,
        td.ab,
        td.bb,
        td.q,
        td.r,
        td.s,
        td.t,
        td.u,
        td.v,
        td.w,
        td.x,
        td.y,
        td.z,
        th.ab,
        th.bb,
        th.q,
        th.r,
        th.s,
        th.t,
        th.u,
        th.v,
        th.w,
        th.x,
        th.y,
        th.z {
            display: inline-block !important;
        }

        table.f center {
            min-width: 0 !important;
        }

        table.f .g {
            width: 95% !important;
        }

        table.f .o,
        table.f .p {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        td.q,
        th.q {
            width: 8.3% !important;
        }

        td.u,
        th.u {
            width: 16.7% !important;
        }

        td.v,
        th.v {
            width: 25% !important;
        }

        td.w,
        th.w {
            width: 33.3% !important;
        }

        td.x,
        th.x {
            width: 41.7% !important;
        }

        td.y,
        th.y {
            width: 50% !important;
        }

        td.z,
        th.z {
            width: 58.3% !important;
        }

        td.ab,
        th.ab {
            width: 66.7% !important;
        }

        td.bb,
        th.bb {
            width: 75% !important;
        }

        td.r,
        th.r {
            width: 83.3% !important;
        }

        td.s,
        th.s {
            width: 91.7% !important;
        }

        table.cb.db,
        table.cb.eb,
        table.k,
        td.t,
        th.t {
            width: 100% !important;
        }

        .o td.t,
        .o th.t,
        .p td.t,
        .p th.t {
            display: block !important;
            width: 100% !important;
        }

        table.f td.fb,
        table.f th.fb {
            margin-left: 8.3% !important;
        }

        table.f td.gb,
        table.f th.gb {
            margin-left: 16.7% !important;
        }

        table.f td.hb,
        table.f th.hb {
            margin-left: 25% !important;
        }

        table.f td.ib,
        table.f th.ib {
            margin-left: 33.3% !important;
        }

        table.f td.jb,
        table.f th.jb {
            margin-left: 41.7% !important;
        }

        table.f td.kb,
        table.f th.kb {
            margin-left: 50% !important;
        }

        table.f td.lb,
        table.f th.lb {
            margin-left: 58.3% !important;
        }

        table.f td.mb,
        table.f th.mb {
            margin-left: 66.7% !important;
        }

        table.f td.nb,
        table.f th.nb {
            margin-left: 75% !important;
        }

        table.f td.ob,
        table.f th.ob {
            margin-left: 83.3% !important;
        }

        table.f td.pb,
        table.f th.pb {
            margin-left: 91.7% !important;
        }

        table.f table.p td.qb,
        table.f table.p th.qb {
            display: none !important;
        }

        table.f .rb,
        table.f .sb {
            padding-left: 10px !important;
        }

        table.f .tb,
        table.f .ub {
            padding-right: 10px !important;
        }

        table.k td,
        table.k th,
        table.k[align="center"] {
            width: auto !important;
        }

        table.k.l td,
        table.k.l th,
        table.k.vb td,
        table.k.vb th {
            display: block !important;
        }

        table.cb.db table,
        table.cb.eb table {
            width: 100%;
        }

        table.cb.db table a,
        table.cb.eb table a {
            text-align: center !important;
            width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        table.cb.db center,
        table.cb.eb center {
            min-width: 0;
        }

        .wb {
            margin-left: 10px !important;
        }
    }

    @media (max-width: 516px) {
        .xb.yb > tbody > tr > th,
        .xb.yb > tbody > tr > th > table {
            width: 100% !important;
        }

        .xb.yb > tbody > tr > th > table,
        .xb.yb > tbody > tr > th > table img.zb {
            width: 100% !important;
            min-width: 100% !important;
        }

        .xb.yb .ac.bc .zb {
            padding-top: 20px;
        }

        .ac h3,
        .cc h3,
        .dc h3 {
            font-size: 21px;
        }

        .ec {
            margin-left: 20px !important;
        }

        .fc {
            padding: 20px !important;
        }

        .gc h2 {
            font-size: 40px !important;
            line-height: 60px !important;
            width: 250px !important;
            padding-top: 20px !important;
            margin-left: 20px !important;
            font-weight: 900 !important;
        }
    }

    @media screen and (max-width: 516px) {
        .hc {
            height: 218px !important;
        }
    }

    @media only screen and (min-width: 516px) {
        .ic.j {
            display: inline-block;
        }
    }

    @media (prefers-color-scheme: dark) {
        .jc,
        .jc table.g,
        table.f.jc {
            background: #202224 !important;
        }

        .jc .kc {
            display: none !important;
        }

        .jc .lc,
        .jc .mc {
            display: block !important;
        }

        .ic.j,
        .jc .nc,
        .jc .oc {
            background-color: #f0f0f0 !important;
        }

        .jc .ac h3,
        .jc .cc h3,
        .jc .dc h3,
        .jc .pc h1,
        .jc .pc span,
        .jc .qc.rc h3 {
            color: #fff !important;
        }

        .jc .ac small,
        .jc .ac span,
        .jc .cc small,
        .jc .cc span,
        .jc .dc small,
        .jc .dc span {
            color: #ebebf5 !important;
        }

        .jc .sc span {
            color: #fefefe !important;
        }
    }

html
    body
        span(style='\
        visibility: hidden;\
        max-height: 0;\
        max-width: 0;\
        opacity: 0;\
        overflow: hidden;\
        display: none;\
        mso-hide: all;\
        ')
        table.f(style='\
        border-spacing: 0;\
        border-collapse: collapse;\
        vertical-align: top;\
        background: #fefefe;\
        height: 100%;\
        width: 100%;\
        text-align: left;\
        color: #5b6a69;\
        font-family: Avenir, Century Gothic, Roboto, Arial, sans-serif;\
        font-weight: 400;\
        margin: 0;\
        padding: 0;\
        font-size: 16px;\
        line-height: 130%;\
        ')
            tbody
                tr(style='text-align: left; padding: 0')
                    td(align='center' valign='top' style='\
              margin: 0;\
              padding: 0;\
              line-height: 130%;\
              text-align: left;\
              border-collapse: collapse;\
              ')
                        center(style='width: 100%; min-width: 500px')
                            table.qc(align='center' style='\
                  border-spacing: 0;\
                  border-collapse: collapse;\
                  padding: 0;\
                  width: 100%;\
                  min-width: 100%;\
                  ')
                                tbody
                                    tr(style='padding: 0')
                                        td(style='\
                        margin: 0;\
                        padding: 0;\
                        font-size: 0;\
                        line-height: 0;\
                        border-collapse: collapse;\
                        ')
                                            table.g(align='center' style='\
                          border-spacing: 0;\
                          border-collapse: collapse;\
                          padding: 0;\
                          background: #fefefe;\
                          width: 500px;\
                          margin: 0 auto;\
                          ')
                                                tbody
                                                    tr(style='padding: 0')
                                                        td(style='\
                                margin: 0;\
                                padding: 0;\
                                font-size: 0;\
                                line-height: 0;\
                                border-collapse: collapse;\
                                ')
                                                            table.h.n(style='\
                                  border-spacing: 0;\
                                  border-collapse: collapse;\
                                  padding: 0;\
                                  width: 100%;\
                                  position: relative;\
                                  display: table;\
                                  ')
                                                                tbody
                                                                    tr(style='padding: 0')
                                                                        th.p.t.bc(style='\
                                        padding: 0;\
                                        margin: 0 auto;\
                                        min-width: 512px;\
                                        font-size: 0;\
                                        line-height: 0;\
                                        padding-right: 0;\
                                        padding-left: 0;\
                                        padding-bottom: 0;\
                                        width: 508px;\
                                        ')
                                                                            table(style='\
                                          border-spacing: 0;\
                                          border-collapse: collapse;\
                                          padding: 0;\
                                          width: 100%;\
                                          ')
                                                                                tbody
                                                                                    tr(style='padding: 0')
                                                                                        th(style='\
                                                margin: 0;\
                                                padding: 0;\
                                                font-size: 0;\
                                                line-height: 0;\
                                                ')
                                                                                        th.qb(style='\
                                                margin: 0;\
                                                visibility: hidden;\
                                                width: 0;\
                                                padding: 0;\
                                                ')
                            table.g(align='center' style='\
                  border-spacing: 0;\
                  border-collapse: collapse;\
                  padding: 0;\
                  background: #fefefe;\
                  width: 500px;\
                  margin: 0 auto;\
                  text-align: inherit;\
                  ')
                                tbody
                                    tr(style='text-align: left; padding: 0')
                                        td(style='\
                        word-wrap: break-word;\
                        -webkit-hyphens: auto;\
                        -moz-hyphens: auto;\
                        hyphens: auto;\
                        color: #5b6a69;\
                        font-family: Avenir, Century Gothic, Roboto, Arial,\
                        sans-serif;\
                        font-weight: 400;\
                        margin: 0;\
                        padding: 0;\
                        font-size: 16px;\
                        line-height: 130%;\
                        text-align: left;\
                        border-collapse: collapse;\
                        ')
                                            table.h(style='\
                          border-spacing: 0;\
                          border-collapse: collapse;\
                          vertical-align: top;\
                          text-align: left;\
                          padding: 0;\
                          width: 100%;\
                          position: relative;\
                          display: table;\
                          ')
                                                tbody
                                                    tr(style='\
                              vertical-align: top;\
                              text-align: left;\
                              padding: 0;\
                              ')
                                                        th.p.t.bc(style='\
                                color: #5b6a69;\
                                font-family: Avenir, Century Gothic, Roboto,\
                                Arial, sans-serif;\
                                font-weight: 400;\
                                padding: 0;\
                                font-size: 16px;\
                                line-height: 130%;\
                                margin: 0 auto;\
                                padding-bottom: 16px;\
                                width: 512px;\
                                min-width: 512px;\
                                text-align: left;\
                                padding-right: 16px;\
                                padding-left: 16px;\
                                ')
                                                            table(style='\
                                  border-spacing: 0;\
                                  border-collapse: collapse;\
                                  vertical-align: top;\
                                  text-align: left;\
                                  padding: 0;\
                                  width: 100%;\
                                  ')
                                                                tbody
                                                                    tr(style='\
                                      vertical-align: top;\
                                      text-align: left;\
                                      padding: 0;\
                                      ')
                                                                        th(style='\
                                        color: #5b6a69;\
                                        font-family: Avenir, Century Gothic,\
                                        Roboto, Arial, sans-serif;\
                                        font-weight: 400;\
                                        margin: 0;\
                                        padding: 0;\
                                        font-size: 16px;\
                                        line-height: 130%;\
                                        text-align: left;\
                                        ')
                                                                            table(style='\
                                          border-spacing: 0;\
                                          border-collapse: collapse;\
                                          padding: 0;\
                                          width: 100%;\
                                          ')
                                                                                tbody
                                                                                    tr(style='padding: 0')
                                                                                        td(height='40px' style='\
                                                margin: 0;\
                                                padding: 0;\
                                                mso-line-height-rule: exactly;\
                                                font-size: 40px;\
                                                line-height: 40px;\
                                                border-collapse: collapse;\
                                                ')
                                                                            img.kc(src='https://rkn.put.poznan.pl/images/logo.png' alt='RKN' width='240' height='90' style='\
                                          outline: 0;\
                                          text-decoration: none;\
                                          -ms-interpolation-mode: bicubic;\
                                          clear: both;\
                                          display: block;\
                                          border: none;\
                                          width: auto;\
                                          max-width: 100%;\
                                          ')
                                                                            table(style='\
                                          border-spacing: 0;\
                                          border-collapse: collapse;\
                                          padding: 0;\
                                          width: 100%;\
                                          ')
                                                                                tbody
                                                                                    tr(style='padding: 0')
                                                                                        td(height='40px' style='\
                                                margin: 0;\
                                                padding: 0;\
                                                mso-line-height-rule: exactly;\
                                                font-size: 40px;\
                                                line-height: 40px;\
                                                border-collapse: collapse;\
                                                ')
                                                                            h1(style='\
                                          letter-spacing: -0.5px;\
                                          letter-spacing: -0.5px;\
                                          text-align: left;\
                                          margin: 0;\
                                          padding: 0;\
                                          color: #042b28;\
                                          font-family: Avenir, Segoe UI, Roboto,\
                                          Arial, sans-serif;\
                                          font-weight: 700;\
                                          font-size: 34px;\
                                          line-height: 37px;\
                                          margin-bottom: 20px;\
                                          word-wrap: initial;\
                                          -webkit-hyphens: initial;\
                                          -moz-hyphens: initial;\
                                          hyphens: initial;\
                                          ')
                                                                                span= header
                                                                            h2(style='\
                                          letter-spacing: -0.5px;\
                                          letter-spacing: -0.5px;\
                                          text-align: left;\
                                          margin: 0;\
                                          padding: 0;\
                                          font-family: Avenir, Segoe UI, Roboto,\
                                          Arial, sans-serif;\
                                          font-weight: 400;\
                                          font-size: 22px;\
                                          line-height: 31px;\
                                          color: #5b6a69;\
                                          margin-bottom: 30px;\
                                          word-wrap: initial;\
                                          -webkit-hyphens: initial;\
                                          -moz-hyphens: initial;\
                                          hyphens: initial;\
                                          ')
                                                                                span= message
                                                                            table.qc(align='center' style='\
                                          border-spacing: 0;\
                                          border-collapse: collapse;\
                                          text-align: left;\
                                          padding: 0;\
                                          width: 100%;\
                                          ')
                                                                                tbody
                                                                                    tr(style='text-align: left; padding: 0')
                                                                                        td(style='\
                                                word-wrap: break-word;\
                                                -webkit-hyphens: auto;\
                                                -moz-hyphens: auto;\
                                                hyphens: auto;\
                                                margin: 0;\
                                                padding: 0;\
                                                font-size: 16px;\
                                                line-height: 130%;\
                                                text-align: left;\
                                                border-collapse: collapse;\
                                                ')

                                                                            if url
                                                                                h2(style='\
                                                                                                                          letter-spacing: -0.5px;\
                                                                                                                          letter-spacing: -0.5px;\
                                                                                                                          text-align: center;\
                                                                                                                          margin: 0;\
                                                                                                                          padding: 0;\
                                                                                                                          font-family: Avenir, Segoe UI, Roboto,\
                                                                                                                          Arial, sans-serif;\
                                                                                                                          font-weight: 400;\
                                                                                                                          font-size: 22px;\
                                                                                                                          line-height: 31px;\
                                                                                                                          color: #5b6a69;\
                                                                                                                          margin-bottom: 30px;\
                                                                                                                          word-wrap: initial;\
                                                                                                                          -webkit-hyphens: initial;\
                                                                                                                          -moz-hyphens: initial;\
                                                                                                                          hyphens: initial;\
                                                                                                                          ')
                                                                                    | &rarr;
                                                                                    a(href=url)  Link do logowania
                                                                                    |  &larr;
                                                                            p
                                                                                | W przypadku wątpliwości lub problemów
                                                                                | uprzejmie prosimy o kontakt z
                                                                                a(href='https://zco.put.poznan.pl/pl/')
                                                                                    |  Zintegrowanym Centrum Obsługi
                                                                                | .
