extends ../../../base

append active-item
    - const facultiesPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= faculty.name
                        h5.ml-1.mt-1
                            a(href='rkn/faculties') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-warning.border-0
                                h3.card-title
                                    i.fas.fa-edit.mr-1
                                    | Edycja danych
                            .card-body
                                form#edit-faculty
                                    .form
                                        label(for='name') Nazwa
                                        input#name.form-control(type='text' name='name' value=faculty.name)
                                    .card-footer
                                        button.btn.btn-warning(type='submit') Zatwierdź


append body-files
    script.
        window.onload = function () {
            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            });

            let faculty = !{JSON.stringify(faculty).replace(/<\//g, "<\\/")}

            const form = $("#edit-faculty");
            form.on("submit", (event) => {
                event.preventDefault();
                const dataWithEmpties = form.serialize();
                const data = dataWithEmpties.replace(/[^&]+=\.?(?:&|$)/g, '');

                $.ajax({
                    url: "/api/faculties/" + faculty.id,
                    type: "PUT",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie zaktualizowano");
                        setTimeout(() => {
                            window.location.href = "rkn/faculties";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }