extends ../../../base

append active-item
    - const facultiesPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= title
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                a.btn.btn-success.mb-3(href='rkn/faculties/new')
                                    | Dodaj nowy wydział
                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        $(document).ready(function () {

            const options = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                aLengthMenu: [
                    [10, 15, 20, -1],
                    [10, 15, 20, '∞'],
                ]
            };

            let data = !{JSON.stringify(faculties).replace(/<\//g, "<\\/")}

            const table = $('table').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'name', title: 'Nazwa'},
                    {data: 'societies.length', title: 'Liczba jednostek'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: (id, display, data) => {
                            if(data.name === 'Organizacje Studenckie')
                                return '-';
                            else
                                return '<button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button><button class="btn btm-sm btn-outline-danger ml-1 delete">Usuń</button>';
                        }
                    }
                ],
                ...options,
            });

            $('table tbody').on('click', 'button.edit', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `rkn/faculties/${data.slug}/edit`;
            });

            $('table tbody').on('click', 'button.delete', function () {
                const data = table.row($(this).parents('tr')).data();
                if (confirm('Czy na pewno usunąć wydział wraz ze wszystkimi jednostkami? \r\nSpowoduje to odświeżenie strony!')) {
                    const answer = prompt(`Potwierdź nazwę wydziału, który chcesz usunąć: ${data.name}`);
                    if(answer === data.name) {
                        $.ajax({
                            type: 'DELETE',
                            url: '/api/faculties/' + data.id,
                            success: () => {
                                window.location.href = 'rkn/faculties'
                            },
                            error: () => {
                                toastr.error('Wystąpił błąd.');
                            }
                        })
                    } else {
                        toastr.error('Podano złe dane.')
                    }
                }
            });
        });