extends ../../../base

append active-item
    - const facultiesPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1 Dodaj nowy wydział
                        h5.ml-1.mt-1
                            a(href='rkn/faculties') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-success.border-0
                                h3.card-title
                                    i.far.fa-plus-square.mr-1
                                    | Nowy wydział
                            .card-body
                                form#add-faculty
                                    .form
                                        label(for='name') Nazwa
                                        input#name.form-control(type='text' name='name')
                            .card-footer
                                button.btn.btn-success(type='submit') Zatwierdź


append body-files
    script.
        window.onload = function () {
            const form = $("#add-faculty");
            form.on("submit", (event) => {
                event.preventDefault();
                const dataWithEmpties = form.serialize();
                const data = dataWithEmpties.replace(/[^&]+=\.?(?:&|$)/g, '');

                $.ajax({
                    url: "/api/faculties",
                    type: "POST",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie dodano nowy wydział");
                        setTimeout(() => {
                            window.location.href = "rkn/faculties";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }