doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title A4 Paper
    style.
        :root {
            --bleeding: 0.5cm;
            --margin: 1cm;
        }
        @page {
            size: A4;
            margin: 0;
        }
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0 auto;
            padding: 0;
            background: rgb(204, 204, 204);
            display: flex;
            flex-direction: column;
        }
        .page {
            display: inline-block;
            position: relative;
            height: 297mm;
            width: 210mm;
            font-size: 12pt;
            margin: 2em auto;
            padding: calc(var(--bleeding) + var(--margin));
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
            background: white;
        }
        @media screen {
            .page::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: calc(100% - var(--bleeding) * 2);
                height: calc(100% - var(--bleeding) * 2);
                margin: var(--bleeding);
                outline: thin dashed black;
                pointer-events: none;
                z-index: 9999;
            }
        }
        @media print {
            .page {
                margin: 0;
                overflow: hidden;
            }
        }
body
    .page
        h2 Polityka przetwarzania danych osobowych

        p Danymi osobowymi zarządzają wspólnie:
            ul
                li organizacja studencka Rada Kół Naukowych Politechniki Poznańskiej działająca przy Politechnice Poznańskiej oraz wybrane osoby do niej należące,
                li osoby zatrudnione w Zintegrowanym Centrum Obsługi działającym przy Politechnice Poznańskiej.

        p Nigdy nie przekazujemy danych osobowych podmiotom zewnętrznym, z wyłączeniem osób odpowiedzialnych za infrastrukturę informatyczną Politechniki Poznańskiej.

        p Przetwarzamy następujące dane osobowe:
            ul
                li imię i nazwisko,
                li adres e-mail w domenie Politechniki Poznańskiej,
                li numer albumu (w przypadku studentów oraz doktorantów).

        p Przetwarzanie powyższych danych osobowych jest konieczne do autoryzacji działań w obrębie strony internetowej.