extends ../base

append active-item
    -  const contactPage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/kontakt.jpg)' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2= title
                        h2.caption Napisz do nas!
    #contact
        .site-section
            .container
                .row.align-items-center
                    .col.mx-auto.text-center.mb-5.section-heading
                        h2.mb-5 Lokalizacja naszego biura
                        h4
                            | PUT Space, 2. piętro
                            br
                            |                         Dom Studencki nr 1
                        h5
                            | ul. Jana Pawła II 28
                            br
                            |                         61-139 Poznań
                            br
                            iframe(width='450' height='450' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=100%25&height=600&hl=en&q=Rada%20K%C3%B3%C5%82%20Naukowych%20Politechniki%20Pozna%C5%84skiej+(Rada%20K%C3%B3%C5%82%20Naukowych%20Politechniki%20Pozna%C5%84skiej)&t=&z=17&ie=UTF8&iwloc=B&output=embed')
    .site-section.bg-light
        .container
            .row.align-items-center
                .col.mx-auto.text-center.mb-5.section-heading
                    h2.mb-5 Adresy mailowe
                    h5 Kontakt ogólny
                    a(href='mailto:kontakt@rkn.put.poznan.pl') kontakt@rkn.put.poznan.pl
                    hr(width='25%')
