extends ../base

append active-item
    -  const docsPage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/dokumenty.jpg);' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2= title
    #docs
        .site-section
            .container
                .row.align-items-center
                    .col.mx-auto.text-center.mb-5.section-heading
                        h2.mb-5 Lista dokumentów
                        br
                        p Aktualne dokumenty znajdują się na
                            a.ml-1(href='https://zco.put.poznan.pl/pl/formatki/' target='_blank') stronie internetowej ZCO.
