extends ../base

append active-item
    -  const eventsPage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/event.jpg);' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2= title

    #events
        each event, idx in events
            .site-section(class=(idx % 2 === 0) ? '' : 'bg-light')
                .container
                    .row.align-items-center
                        if idx % 2 === 0
                            .col-md-6.mb-5.mb-md-0
                                .img-border
                                    img.img-fluid(src=`/images/${event.picture}`)
                            .col-md-5.ml-auto
                                .section-heading.text-left
                                    h2.mb-5= event.name
                                p.mb-4.text-justify= event.description
                        else
                            .col-md-5.ml-auto
                                .section-heading.text-left
                                    h2.mb-5= event.name
                                p.mb-4.text-justify= event.description
                            .col-md-6.mb-5.mb-md-0
                                .img-border
                                    img.img-fluid(src=`/images/${event.picture}`)

