extends ../base

append active-item
    -  const faqPage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/faq.jpg);' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2= title

    #faq
        .site-section
            .container
                .row
                    .col-lg-2.mt-5.vr
                        h5 Spis treści
                        - let idx = 0
                        each category in categories
                            if category.questions.length > 0
                                - idx++
                                p
                                    a(href=`#category${category.id}`) #{idx}. #{category.name}
                    .col-lg-1
                    .col-lg-9
                        - idx = 0
                         each category in categories
                             if category.questions.length > 0
                                 - idx++
                                 .col-12.mx-auto.text-center.section-heading(id=`category${category.id}`)
                                     h2.mb-5.mt-5 #{idx}. #{category.name}
                                 .row
                                     .col-12.mx-auto
                                         each question, idx in category.questions
                                             h5 #{idx+1}. #{question.name}
                                             p.mb-4= `${question.answer}`
                                             hr