extends ../base

append active-item
    -  const homePage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/hero.JPG);' data-aos='fade' data-stellar-background-ratio='0.5')
        #about
            .site-section
                .container
                    .row.align-items-center
                        .col-md-6.mb-5.mb-md-0
                            .img-border
                                img.img-fluid(src='/images/biuro.jpg')
                        .col-md-5.ml-auto
                            .section-heading.text-left
                                h2.mb-5 O nas
                            p.mb-4.text-justify
                                span.main-color Rada Kół Naukowych
                                |  jest ciałem doradczym władz Politechniki Poznańskiej w sprawach związanych ze studenckim ruchem naukowym. Opiniuje propozycję podziału środków materialnych przeznaczonych przez organy uczelni, dla kół naukowych i organizacji studenckich. Naszym zadaniem jest działanie na rzecz zrzeszania, rozwoju i integracji studenckiego ruchu naukowego. Radę Kół Naukowych Politechniki Poznańskiej tworzą przedstawiciele wszystkich uczelnianych kół naukowych oraz organizacji studenckich.
        #putlab
            .site-section.bg-light
                .container
                    .row.align-items-center
                        .col-md-5.ml-auto
                            .section-heading.text-right
                                h2.mb-5 PUT Lab
                            p.mb-4.text-justify
                                | To jedyne takie miejsce na uczelni w Polsce, z którego może korzysta&cacute; każdy członek Koła Naukowego. Do dyspozycji mamy nie tylko młotek, czy śrubokręt, ale także różnego rodzaju urządzenia umożliwiające stworzenie większego, bardziej skomplikowanego projektu. Korzysta&cacute; można chociażby z drukarki 3D, tokarki czy frezarki, ale także wielu innych urządzeń.
                        .col-md-6.mb-5.mb-md-0
                            .img-border
                                img.img-fluid(src='/images/putlab.jpg')
        #putspace
            .site-section
                .container
                    .row.align-items-center
                        .col-md-6.mb-5.mb-md-0
                            .img-border
                                img.img-fluid(src='/images/put-space.jpg')
                        .col-md-5.ml-auto
                            .section-heading.text-left
                                h2.mb-5 PUT Space
                            p.mb-4.text-justify
                                | Przestrzeń studencka stworzona dla członków Kół Naukowych i Organizacji Studenckich. PUT Space jest miejscem przeznaczonym do pracy, odpoczynku oraz spotkań - znajdują się tu biura oraz kuchnia. Istotną częścią zespołu pomieszczeń są również dwie sale konferencyjne, w której odbywają się prelekcje i spotkania.
