extends ../base

append active-item
    -  const eventsPage = true;

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/kola-i-organizacje.jpg)' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2 Koła Naukowe i Organizacje Studenckie

    #organizations
        .site-section.bg-light
            .container
                .row.align-items-center
                    each organization in organizations
                        if organization.societies.length > 0
                            .col-10.mx-auto.mb-5.section-heading.text-center
                                h2.mb-5= organization.name
                                ul.list-group.list-group-flush
                                    each society in organization.societies
                                        li.list-group-item.bg-light.text-left(class=(!society.active || !society.visible) ? 'text-decoration-line-through' : '')
                                            a(href=`/kola-i-organizacje/${society.slug}`)= society.name
                                                if society.abbreviation
                                                    span= ` (${society.abbreviation})`


    #clubs
        .site-section
            .container
                .row
                    .col-12.mx-auto.text-center.mb-5.section-heading
                        h2.mb-5 Koła Naukowe
                .row
                    .col-lg-2.vr
                        h5 Spis treści
                        - let idx = 0
                        each faculty in faculties
                            if faculty.societies.length > 0
                                - idx++
                                p
                                    a(href=`#faculty${faculty.id}`) #{idx}. #{faculty.name}
                    .col-lg-1
                    .col-lg-9
                        .row
                            .col-12.mx-auto
                                - idx = 0
                                each faculty in faculties
                                    if faculty.societies.length > 0
                                        - idx++
                                        h4.mb-3(id=`faculty${faculty.id}`)= faculty.name
                                        ul.list-group.list-group-flush
                                            each society in faculty.societies
                                                li.list-group-item(class=(!society.active || !society.visible) ? 'text-decoration-line-through' : '')
                                                    a(href=`/kola-i-organizacje/${society.slug}`)= society.name
                                                        if society.abbreviation
                                                            span= ` (${society.abbreviation})`
                                            br
                                            br
