extends ../base

append content
    #top.site-wrap
        .site-blocks-cover.overlay(style='background-image: url(/images/white.jpg)' data-aos='fade' data-stellar-background-ratio='0.5')
            .container
                .row.align-items-center.justify-content-center
                    .col-md-9.text-center(data-aos='fade')
                        h1.mb-2= title
                            if society.abbreviation
                                h2.text-white= ` (${society.abbreviation})`

    #society
        .site-section
            .container
                h1.text-center.font-weight-light
                    if !society.active || !society.visible
                        if society.type === 'organization'
                            | ORGANIZACJA STUDENCKA ZAWIESZONA
                        else if society.type === 'club'
                            | KOŁO NAUKOWE ZAWIESZONE
                div(class = (!society.active || !society.visible) ? 'blur mt-5' : '')
                    .row
                        .col-md-3.vr
                            img.img-fluid(src=`${society.logoPath}` onerror="this.src='/images/no-logo.jpg'")
                        .col-md-4.vr
                            .px-4.mb-3.bg-white
                                p.mb-0.font-weight-bold Pełna nazwa
                                p.mb-4= society.name
                                p.mb-0.font-weight-bold Skrót
                                p.mb-4= society.abbreviation || '-'
                                p.mb-0.font-weight-bold Typ
                                p.mb-4
                                    if society.type === 'organization'
                                        | Organizacja Studencka
                                    else if society.type === 'club'
                                        | Koło Naukowe
                                    else
                                        | -

                                if society.type !== 'organization'
                                    p.mb-0.font-weight-bold Wydział
                                    p.mb-4= society.faculty.name || ''

                        .col-md-4
                            .px-4.mb-3.bg-white
                                p.mb-0.font-weight-bold Przewodniczący/a
                                p.mb-4= society.leader
                                p.mb-0.font-weight-bold Adresy mailowe
                                p.mb-4
                                    if society.email
                                        a(href=`mailto:${society.email}`)= society.email
                                    else
                                        | -
                                    br
                                    if society.emailSecondary
                                        a(href=`mailto:${society.emailSecondary}`)= society.emailSecondary
                                p.mb-0.font-weight-bold Strona internetowa
                                p.mb-4
                                    if society.website
                                        a(href=society.website target = '_blank')= society.website
                                    else
                                        | -
                                p.mb-0.font-weight-bold Facebook
                                p.mb-4
                                    if society.facebook
                                        a(href=society.facebook target='_blank')= society.facebook
                                    else
                                        | -
                                p.mb-0.font-weight-bold Instagram
                                p.mb-4= society.instagram || '-'
                    br
                    .row
                        .col-md-12
                            h5.mb-4 Opis działalności
                            div !{society.description}
