extends ../base

append content
  -
      const FundingStatus = {
          'submitted': 'Wniosek złożony',
          'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
          'notesZCO': `ZCO przekazało uwagi`,
          'correctedZCO': 'Wniosek poprawiony',
          'rejectedZCO': 'Wniosek odrzucony przez ZCO',
          'delivered': 'Wydruk dostarczony, przekazano do R1',
          'rejectedR1': `Wniosek odrzucony przez R1`,
          'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
          'notesR1': 'R1 przekazało uwagi',
          'correctedR1': 'Wniosek poprawiony',
          'completed': 'Rozliczanie zakończone'
      };

    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1
                            | Nowy wniosek o finansowanie
                        h5.ml-1.mt-1
                            a(href='zco/fundings') Powrót do listy
        section.content
            .container-fluid
                if ['notesR1', 'notesZCO'].includes(funding.status)

                    .row.ml-2
                        h5.text-bold Aktualny status wniosku:
                        h5.ml-1= FundingStatus[funding.status]

                    if funding.notesZCO || funding.notesR1 || funding.rejectedZCOReason || funding.rejectedR1Reason
                        .row.mx-2
                            .col.card.card-default
                                .card-header
                                    h3.card-title
                                        i.fas.fa-exclamation-triangle
                                        |  Wprowadzono uwagi
                                .card-body
                                    if ['rejectedZCO', 'rejectedR1'].includes(funding.status)
                                        .alert.alert-danger
                                            h5
                                                i.icon.fas.fa-ban
                                                span= FundingStatus[funding.status]
                                            span= funding.rejectedZCOReason || funding.rejectedR1Reason

                                  for role in ['R1', 'ZCO']
                                      if funding[`notes${role}`]
                                          .alert(class=(funding[`corrected${role}`] ? 'alert-info' : 'alert-warning'))
                                              if funding[`corrected${role}`]
                                                  h5.text-decoration-line-through
                                                      i.icon.fas.fa-info-circle
                                                      span= FundingStatus[`notes${role}`]
                                                  span.text-decoration-line-through= funding[`notes${role}`]
                                              else
                                                  h5
                                                      i.icon.fas.fa-exclamation-triangle
                                                      span= FundingStatus[`notes${role}`]
                                                  span= funding[`notes${role}`]

                        .row
                        .col-md-12
                            // Edit info card
                            .card.bg-transparent
                                .card-header.bg-warning.border-0
                                    h3.card-title
                                        i.far.fa-plus-square.mr-1
                                        | Edycja wniosku o finansowanie
                                .card-body
                                    form
                                        input(type='hidden' id='fundingId' value=funding.id)
                                        .form-group
                                            label Budżet
                                            input.form-control(
                                                disabled=''
                                                type='text'
                                                value=funding.budget.account.name
                                            )
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=funding.society.name required)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=funding.society.faculty.name required)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(type='email' name='email' value=funding.email required)
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' value=funding.phone required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            if user.role === 'zco'
                                                input.form-control(type='text' name='applicant' value=funding.applicant required)
                                            else
                                                input.form-control(disabled='' type='text' value=funding.applicant required)
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=funding.society.leader required)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=funding.society.supervisor required)
                                        h4 2. Dane dot. finansowania
                                        .form-group
                                            label 2.1 Przedmiot finansowania (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' value=funding.subject required)
                                        .form-group
                                            label 2.2 Cel
                                            textarea.form-control#goal(type='text' name='goal' required) #{funding.goal}
                                        .form-group
                                            label 2.3 Opis
                                            textarea.form-control#description(type='text' name='description' required) #{funding.description}
                                        .form-group
                                            label 2.4 Rodzaj finansowania
                                            input.form-control(
                                                disabled=''
                                                type='text'
                                                value=funding.budget.account.type
                                            )
                                        .form-group.form-inline
                                            label#requested 2.5 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 100%' value=funding.requested required)
                                        .form-group
                                            label 2.6 Szczegółowy kosztorys
                                            textarea#costs.form-control(name='costs' required) #{funding.costs}
                                        .form-group
                                            label 2.7 Planowany termin realizacji
                                            input.form-control(type='date' name='date' value=funding.date required)
                                        .form-group
                                            label 2.8 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            input.form-control-file(type='file' multiple name='files' accept='image/jpeg, image/png, image/bmp, application/pdf')
                                            if files && files.length > 0
                                                ul.mailbox-attachments.d-flex.align-items-stretch.clearfix.mt-3
                                                  each file in files
                                                      li.bg-white(id=`file${file.id}`)
                                                          span.mailbox-attachment-icon
                                                              i.fa(class=(file.mimetype === 'application/pdf') ? 'fa-file-pdf' : 'fa-paperclip')
                                                          .mailbox-attachment-info
                                                              a.mailbox-attachment-name(href='#')
                                                                  i.fas(class=(file.mimetype === 'application/pdf') ? 'fa-paperclip' : 'fa-camera')
                                                                      span.ml-2= file.originalName
                                                              span.mailbox-attachment-size.clearfix.mt-1
                                                                  a.btn.btn-default.btn-sm.float-right(onclick=`deleteFile(${file.id});return false;`)
                                                                      i.fas.fa-trash-alt.text-danger
                                                                  a.btn.btn-default.btn-sm.float-right(href=file.path download=file.originalName)
                                                                      i.fas.fa-cloud-download-alt
                                        .card-footer
                                            button.btn.btn-warning.text-white(type='submit') Zatwierd&zacute;

                else
                    h4.text-black-50 Wniosek o finansowanie nie wymaga poprawy.


append body-files
    script.
      const fundingId = $('#fundingId').val();

      function deleteFile(id) {
        $.ajax({
          url: `/api/fundings/${fundingId}/files/${id}`,
          type: 'DELETE',
          success: function() {
            toastr.success('Plik został usunięty.');
            $('#file' + id).remove();
          },
          error: function(data) {
            toastr.error('Wystąpił błąd podczas usuwania pliku.');
          }
        });
      }

      window.onload = function() {
        let options = {
          lang: 'pl-PL',
          disableDragAndDrop: true,
          codeviewIframeFilter: true,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']]
          ]
        };

        $('#goal').summernote(options);
        $('#description').summernote(options);

        options = {
          lang: 'pl-PL',
          disableDragAndDrop: true,
          codeviewIframeFilter: true,
          toolbar: [
            ['table', ['table']]
          ],
          popover: {
            table: [
              ['add', ['addRowDown', 'addRowUp']],
              ['delete', ['deleteRow']]
            ]
          }
        };

        $('#costs').summernote(options);

        const FundingStatus = {
          'submitted': 'Wniosek złożony',
          'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
          'notesZCO': `ZCO przekazało uwagi`,
          'correctedZCO': 'Wniosek poprawiony',
          'rejectedZCO': 'Wniosek odrzucony przez ZCO',
          'delivered': 'Wydruk dostarczony, przekazano do R1',
          'rejectedR1': `Wniosek odrzucony przez R1`,
          'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
          'notesR1': 'R1 przekazało uwagi',
          'correctedR1': 'Wniosek poprawiony',
          'completed': 'Rozliczanie zakończone'
        };

        $('form').on('submit', function(event) {
          event.preventDefault();
          event.stopPropagation();

          let data = new FormData(this);

          $.ajax({
            url: '/api/fundings/' + fundingId,
            type: 'PUT',
            data,
            processData: false,
            contentType: false,
            success: (data) => {
              toastr.success('Pomyślnie poprawiono wniosek o finansowanie');
              setTimeout(() => {
                window.location.href = '/admin';
              }, 750)
            },
            error: (data) => {
              toastr.error(data.responseText);
            }
          });
        });
      };

