extends ../base

append head-files
    style(type='text/css').
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0 auto;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 5px 10px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0w8i {
            font-size: 100%;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

        .tg .tg-nrix {
            vertical-align: middle
        }

        @media print {
            body {
                zoom: 200%;
            }
        }

append active-item
    - const dummy = true

append content
    -
        const FundingStatus = {
            'submitted': 'Wniosek złożony',
            'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
            'notesZCO': `ZCO przekazało uwagi`,
            'correctedZCO': 'Wniosek poprawiony',
            'rejectedZCO': 'Wniosek odrzucony przez ZCO',
            'delivered': 'Wydruk dostarczony, przekazano do R1',
            'rejectedR1': `Wniosek odrzucony przez R1`,
            'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
            'notesR1': 'R1 przekazało uwagi',
            'correctedR1': 'Wniosek poprawiony',
            'completed': 'Rozliczanie zakończone'
        };

    - let nextStatus;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(funding.status)
        - nextStatus = FundingStatus['acceptedZCO']
    else if funding.status === 'acceptedZCO'
        - nextStatus = FundingStatus['delivered']
    else if funding.status === 'delivered'
        - nextStatus = FundingStatus['pending']
    else if funding.status === 'pending'
        - nextStatus = FundingStatus['completed']

    - let acceptMessage;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(funding.status)
        - acceptMessage = 'Zaakceptuj'
    else if funding.status === 'acceptedZCO'
        - acceptMessage = 'Potwierdź dostarczenie wydruku'
    else if funding.status === 'delivered'
        - acceptMessage = 'Akceptacja wniosku przez R1'
    else if funding.status === 'pending'
        - acceptMessage = 'Zakończ rozliczanie wniosku'

    - let notesMessage;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(funding.status)
        - notesMessage = 'Wprowadź uwagi ZCO'
    else if funding.status === 'delivered'
        - notesMessage = 'Wprowadź uwagi R1'

    - let rejectMessage;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(funding.status)
        - rejectMessage = 'Odrzuć wniosek'
    else if funding.status === 'delivered'
        - rejectMessage = 'Wniosek odrzucony przez R1'

    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h5.ml-1.mt-1
                            if user.role === 'zco'
                                a(href='zco/fundings') Powrót do listy
                            else if user.role === 'user'
                                a(href=`societies/${funding.society.slug}/fundings`) Powrót do listy
        section.content
            .container-fluid
                .no-print.m-3
                    .row
                        h5.text-bold Aktualny status wniosku:
                        h5.ml-1= FundingStatus[funding.status]

                    if ['notesZCO', 'notesR1'].includes(funding.status)
                        .row
                            button.btn.btn-warning.btn-sm.ml-1.mr-1(type='button', onclick='forwardUrl();return false;')
                                i.fa.fa-external-link.mr-1
                                | Edytuj wniosek

                    if funding.notesZCO || funding.notesR1 || funding.rejectedZCOReason || funding.rejectedR1Reason
                        .row.mt-3
                            .col-6.card.card-default
                                .card-header
                                    h3.card-title
                                        i.fas.fa-exclamation-triangle
                                        |  Wprowadzono uwagi
                                .card-body
                                    if ['rejectedZCO', 'rejectedR1'].includes(funding.status)
                                        .alert.alert-danger
                                            h5
                                                i.icon.fas.fa-ban
                                                span= FundingStatus[funding.status]
                                            span= funding.rejectedZCOReason || funding.rejectedR1Reason

                                    for role in ['R1', 'ZCO']
                                      if funding[`notes${role}`]
                                          .alert(class=(funding[`corrected${role}`] ? 'alert-info' : 'alert-warning'))
                                              if funding[`corrected${role}`]
                                                  h5.text-decoration-line-through
                                                      i.icon.fas.fa-info-circle
                                                      span= FundingStatus[`notes${role}`]
                                                  span.text-decoration-line-through= funding[`notes${role}`]
                                              else
                                                  h5
                                                      i.icon.fas.fa-exclamation-triangle
                                                      span= FundingStatus[`notes${role}`]
                                                  span= funding[`notes${role}`]

                    if user.role === 'zco'
                        .row
                            h5.text-bold Działania ZCO:

                        // notes
                        .modal(id='notesModal' tabindex='-1' role='dialog' aria-labelledby='notesModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź uwagi
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        textarea.form-control(id='notes', rows='3')
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitNotes();return false;') Zatwierdź
                        // amount
                        .modal(id='amountModal' tabindex='-1' role='dialog' aria-labelledby='amountModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź kwotę faktury
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='amount', type='number' min=0 step=0.01)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAmount();return false;') Zatwierdź
                        // amount granted
                        .modal(id='amountGrantedModal' tabindex='-1' role='dialog' aria-labelledby='amountGrantedModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź przyznaną kwotę
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='amountGranted' type='number' min=0 max=funding.budget.total step=0.01)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAmountGranted();return false;') Zatwierdź
                        // appointment
                        .modal(id='appointmentModal' tabindex='-1' role='dialog' aria-labelledby='appointmentModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wyznacz datę dostarczenia wniosku
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='appointmentDate' type='datetime-local' min=`${new Date().toISOString().split("T")[0]}`)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAppointment();return false;') Zatwierdź
                        // reject
                        .modal(id='rejectModal' tabindex='-1' role='dialog' aria-labelledby='rejectModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź powód odrzucenia wniosku
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        textarea.form-control(id='rejectReason', rows='3')
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitRejectReason();return false;') Zatwierdź

                        .row.mt-2
                            if !['notesZCO', 'rejectedZCO', 'notesR1', 'rejectedR1', 'completed', 'submitted'].includes(funding.status)
                                button.btn.btn-success(
                                'data-toggle'='tooltip'
                                'data-placement'='bottom'
                                'data-html'='true'
                                'title'=`<b>Następny status:</b><br/> ${nextStatus}`
                                'onclick'=(funding.status === 'delivered') ? 'showAmountGrantedModal();return false;': 'accept();return false;'
                                )= acceptMessage
                            if funding.status === 'submitted'
                                button.btn.btn-success(
                                'data-toggle'='tooltip'
                                'data-placement'='bottom'
                                'data-html'='true'
                                'title'=`<b>Następny status:</b><br/> ${nextStatus}`
                                'onclick'='showAppointmentModal();return false;'
                                )= acceptMessage
                            if funding.status === 'pending'
                                button.btn.btn-warning.ml-3('onclick'='showAmountModal();return false;') Wprowadź kwotę faktury
                            if ['submitted', 'correctedZCO', 'correctedR1', 'delivered'].includes(funding.status)
                                button.btn.btn-warning.ml-3('onclick'='showNotesModal();return false;')= notesMessage
                                button.btn.btn-danger.ml-3('onclick'='showRejectModal();return false;')= rejectMessage

                        if ['notesZCO', 'notesR1'].includes(user.role) && funding.user === user
                            .row.mt-3
                                a.btn.btn-warning(href='edit') Popraw wniosek

                .row
                    .col
                        .card(style="width: 21cm; overflow: hidden;")
                            .card-body.mx-0.px-0(style="width: 21cm")
                                table
                                    thead
                                        tr
                                            th
                                                img.print-header.mb-3(src='/images/zco.png' style="width: 21cm")
                                    tbody
                                        tr
                                            td
                                                .row
                                                    .col-1
                                                    .col-5
                                                        p NUMER PISMA*:
                                                        p …………………………………………
                                                    .col-1
                                                    .col-5
                                                        p Poznań, dnia: …………………
                                                .row.mt-3
                                                    h5.text-danger.my-0.mx-auto WNIOSEK O FINANSOWANIE
                                                .row.mt-4.mb-4.text-right
                                                    p.col Prorektor ds. studenckich i kształcenia
                                                        br
                                                        | dr hab. inż. Agnieszka Misztal, prof. PP
                                                    .col-1
                                                .row-mt-5
                                                    table.tg(style="width: 19cm")
                                                        tbody
                                                            tr
                                                                td.tg-0lax(colspan='2') 1. Dane kontaktowe:
                                                            tr
                                                                td.tg-0lax(style="width: 5.4cm")
                                                                    | 1.1
                                                                    br
                                                                    | Nazwa koła naukowego/organizacji:
                                                                    br
                                                                td.tg-nrix
                                                                    span= funding.society.name
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.2
                                                                    br
                                                                    | Wydział/Instytut:
                                                                td.tg-nrix
                                                                    span= funding.society.faculty.name
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.3
                                                                    br
                                                                    | E-mail kontaktowy:
                                                                td.tg-nrix
                                                                    span= funding.email
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.4
                                                                    br
                                                                    | Telefon:
                                                                td.tg-nrix
                                                                    span= funding.phone
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.5
                                                                    br
                                                                    | Wnioskodawca:
                                                                td.tg-nrix
                                                                    span= funding.applicant
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.6
                                                                    br
                                                                    | Przewodniczący koła/organizacji:
                                                                td.tg-nrix
                                                                    span= funding.society.leader
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.7
                                                                    br
                                                                    | Opiekun koła/organizacji:
                                                                td.tg-nrix
                                                                    span= funding.society.supervisor
                                                            tr
                                                                td.tg-0lax(colspan='2') 2. Dane dot. finansowania:
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.1
                                                                    br
                                                                    | Przedmiot finansowania:
                                                                    br
                                                                    | (nazwa wydarzenia/tytuł projektu/itp.)
                                                                td.tg-nrix
                                                                    span= funding.subject
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.2
                                                                    br
                                                                    | Cel:
                                                                td.tg-nrix
                                                                    span !{funding.goal}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.3
                                                                    br
                                                                    | Opis:
                                                                td.tg-nrix
                                                                    span !{funding.description}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.4
                                                                    br
                                                                    | Rodzaj finansowania:
                                                                td.tg-nrix
                                                                    - const FundingType = {'statutory':'działalność statutowa','additional':'dodatkowe finansowanie','sponsorship':'umowa darowizny/umowa sponsorska','other':'inne'}
                                                                    span= FundingType[funding.type]
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.5
                                                                    br
                                                                    | Wnioskowana kwota:
                                                                td.tg-nrix
                                                                    span= (parseFloat(funding.requested)).toLocaleString('pl-PL', {minimumFractionDigits: 2,maximumFractionDigits: 2})
                                                                        |  zł
                                                            tr
                                                                td.tg-0lax(colspan='2')
                                                                    | 2.6
                                                                    br
                                                                    | Szczegółowy kosztorys:

                                                                    span !{funding.costs}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.7
                                                                    br
                                                                    | Planowany termin realizacji:
                                                                td.tg-nrix
                                                                    span= new Date(funding.date).toLocaleDateString('pl-PL')
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.8
                                                                    br
                                                                    | Załączniki (opcjonalnie):
                                                                td.tg-nrix
                                                                    if files && files.length > 0
                                                                        ul.mailbox-attachments.d-flex.align-items-stretch.clearfix.no-print
                                                                          each file in files
                                                                              li
                                                                                  span.mailbox-attachment-icon
                                                                                      i.fa(class=(file.mimetype === 'application/pdf') ? 'fa-file-pdf' : 'fa-paperclip')
                                                                                  .mailbox-attachment-info
                                                                                      a.mailbox-attachment-name(href='#')
                                                                                          i.fas(class=(file.mimetype === 'application/pdf') ? 'fa-paperclip' : 'fa-camera')
                                                                                              span.ml-2= file.originalName
                                                                                      span.mailbox-attachment-size.clearfix.mt-1
                                                                                          a.btn.btn-default.btn-sm.float-right(href=file.path download=file.originalName)
                                                                                              i.fas.fa-cloud-download-alt
                                                                        each file in files
                                                                            ol.pl-4.my-0.d-none.print
                                                                                li= file.originalName.split('.')[0]
                                                                    else
                                                                        span BRAK
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.9
                                                                    br
                                                                    | Podpis wnioskodawcy:
                                                                td.tg-nrix
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.10
                                                                    br
                                                                    | Podpis opiekuna:
                                                                td.tg-nrix
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.11
                                                                    br
                                                                    | Uwagi*
                                                                td.tg-nrix
                                                                    span= funding.notesZCO

                                                .row.mt-3
                                                    .col-1
                                                    .col-11
                                                        p WYRAŻAM ZGODĘ / NIE WYRAŻAM ZGODY  NA FINANSOWANIE**:
                                                .row.mt-3.text-right
                                                    p.col …………………………………………
                                                        br
                                                        span.pr-5.mr-4.small (podpis i pieczątka)
                                                    .col-1

                                                .row.mt-3
                                                    .col-1
                                                    .col-11
                                                        p PROJEKT
                                                            //if funding.intellectualProperty
                                                            //    span.ml-1 BĘDZIE /
                                                            //    span.ml-1(style="text-decoration: line-through;") NIE BĘDZIE
                                                            //else
                                                            //    span.ml-1(style="text-decoration: line-through;") BĘDZIE
                                                            //    span.ml-1 / NIE BĘDZIE
                                                            //span.ml-1 WYMAGAŁ ZAOPINIOWANIA I WSPÓŁPRACY Z CENTRUM WŁASNOŚCI INTELEKTUALNEJ***:
                                                            span.ml-1 BĘDZIE / NIE BĘDZIE WYMAGAŁ ZAOPINIOWANIA I WSPÓŁPRACY Z CENTRUM WŁASNOŚCI INTELEKTUALNEJ***:
                                                .row.mt-3.text-right
                                                    p.col …………………………………………
                                                        br
                                                        span.pr-5.mr-4.small (podpis i pieczątka)
                                                    .col-1


                                    tfoot
                                        tr
                                            td.row.mt-5
                                                .col-1
                                                .col
                                                    p.small
                                                        | * - uzupełnia Zintegrowane Centrum Obsługi
                                                        br
                                                        | ** - wykreśla Prorektor ds. studenckich i kształcenia
                                                        br
                                                        | *** - wykreśla Centrum Własności Intelektualnej lub Zintegrowane Centrum Obsługi

append body-files
    script.
        function forwardUrl() {
            window.location.href = window.location.href + '/edit';
        }

        const funding = !{JSON.stringify(funding).replace(/<\//g, "<\\/")};
        let nextStatus;

        if (['submitted', 'correctedZCO', 'correctedR1'].includes(funding.status))
            nextStatus = 'acceptedZCO';
        else if (funding.status === 'acceptedZCO')
            nextStatus = 'delivered';
        else if (funding.status === 'delivered')
            nextStatus = 'pending';
        else if (funding.status === 'pending')
            nextStatus = 'completed';

        function accept() {
            $.ajax({
                url: `/api/fundings/${funding.id}/status/${nextStatus}`,
                method: 'PUT',
                success: (data) => {
                    toastr.success('Status wniosku został zmieniony');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            });
        }

        function showAppointmentModal() {
          $('#appointmentModal').modal('show');
        }
        function showNotesModal() {
            $('#notesModal').modal('show');
        }
        function showAmountModal() {
            $('#amountModal').modal('show');
        }
        function showAmountGrantedModal() {
            $('#amountGrantedModal').modal('show');
        }
        function showRejectModal() {
            $('#rejectModal').modal('show');
        }

        function submitNotes() {
            const notesStatus = (funding.status === 'submitted') ? 'notesZCO' : 'notesR1';

            $.ajax({
                url: `/api/fundings/${funding.id}/status/${notesStatus}`,
                method: 'PUT',
                data: {
                    notes: $('#notes').val()
                },
                success: () => {
                    toastr.success('Uwagi zostały wprowadzone');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            });
        }

        function submitAmountGranted() {
            $.ajax({
                url: `/api/fundings/${funding.id}/status/pending`,
                method: 'PUT',
                data: {
                    granted: $('#amountGranted').val()
                },
                success: () => {
                    toastr.success('Status wniosku został zmieniony');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function submitAppointment() {
          $.ajax({
            url: `/api/fundings/${funding.id}/status/acceptedZCO`,
            method: 'PUT',
            data: {
              appointmentDate: $('#appointmentDate').val()
            },
            success: () => {
              toastr.success('Status wniosku został zmieniony');
              setTimeout(() => window.location.reload(), 500);
            },
            error: (err) => {
              toastr.error(err.responseText);
            }
          })
        }

        function submitAmount() {
            $.ajax({
                url: `/api/fundings/${funding.id}/invoice`,
                method: 'POST',
                data: {
                    amount: $('#amount').val()
                },
                success: () => {
                    toastr.success('Kwota została wprowadzona');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function submitRejectReason() {
            const rejectStatus = (funding.status === 'submitted') ? 'rejectedZCO' : 'rejectedR1';

            $.ajax({
                url: `/api/fundings/${funding.id}/status/${rejectStatus}`,
                method: 'PUT',
                data: {
                    rejectReason: $('#rejectReason').val()
                },
                success: () => {
                    toastr.success('Wniosek został odrzucony');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

        function hidePrintElement(entity) {
          setTimeout(function() {
            $(entity).addClass('d-none');
          }, 5000);
        }

        window.onbeforeprint = function() {
          $('.print').each(function() {
            $(this).removeClass('d-none');
            hidePrintElement(this);
          });
        }

        $(window).on('load', function () {
            window.onafterprint = window.close;
            const url = window.location.search;
            if (url === '?print') setTimeout(window.print, 750);
        });