extends ../base

append content
  -
      const GrantStatus = {
          'submitted': 'Wniosek złożony',
          'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, przekazano do RKN',
          'notesZCO': `ZCO przekazało uwagi, wniosek do poprawy`,
          'correctedZCO': 'Wniosek poprawiony',
          'rejectedZCO': `Wniosek odrzucony przez ZCO`,
          'acceptedRKN': 'Wniosek zaakceptowany przez RKN, przekazano do ZCO',
          'notesRKN': `RKN przekazało uwagi, wniosek do poprawy`,
          'correctedRKN': 'Wniosek poprawiony',
          'rejectedRKN': `Wniosek odrzucony przez RKN`,
          'appointment': 'Oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
          'delivered': 'Wydruk dostarczony, przekazano do R1',
          'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
          'notesR1': `R1 przekazało uwagi, wniosek do poprawy`,
          'correctedR1': 'Wniosek poprawiony',
          'rejectedR1': `Wniosek odrzucony przez R1`,
          'completed': 'Rozliczanie zakończone'
      }

    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1
                            | Edycja wniosku grantowego: #{grant.subject}
                        h5.ml-1.mt-1
                            if user.role === 'zco'
                                a(href='zco/grants') Powrót do listy
                            else
                                a(href='rkn/grants') Powrót do listy
        section.content
            .container-fluid
                if ['notesR1', 'notesZCO', 'notesRKN'].includes(grant.status)

                    .row.ml-2
                        h5.text-bold Aktualny status wniosku:
                        h5.ml-1= GrantStatus[grant.status]

                    if grant.notesZCO || grant.notesRKN || grant.notesR1 || grant.rejectedZCOReason || grant.rejectedRKNReason || grant.rejectedR1Reason
                        .row.mx-2
                            .col.card.card-default
                                .card-header
                                    h3.card-title
                                        i.fas.fa-exclamation-triangle
                                        |  Wprowadzono uwagi
                                .card-body
                                    if ['rejectedZCO', 'rejectedRKN', 'rejectedR1'].includes(grant.status)
                                        .alert.alert-danger
                                            h5
                                                i.icon.fas.fa-ban
                                                span= GrantStatus[grant.status]
                                            span= grant.rejectedZCOReason || grant.rejectedRKNRReason || grant.rejectedR1Reason

                                  for role in ['R1', 'ZCO', 'RKN']
                                      if grant[`notes${role}`]
                                          .alert(class=(grant[`corrected${role}`] ? 'alert-info' : 'alert-warning'))
                                              if grant[`corrected${role}`]
                                                  h5.text-decoration-line-through
                                                      i.icon.fas.fa-info-circle
                                                      span= GrantStatus[`notes${role}`]
                                                  span.text-decoration-line-through= grant[`notes${role}`]
                                              else
                                                  h5
                                                      i.icon.fas.fa-exclamation-triangle
                                                      span= GrantStatus[`notes${role}`]
                                                  span= grant[`notes${role}`]

                        .row
                            .col-md-12
                                .card.bg-transparent
                                    .card-header.bg-warning.border-0
                                        h3.card-title
                                            i.fas.fa-hand-holding-usd.mr-1
                                            |  Edycja wniosku grantowego
                                    .card-body
                                        form
                                            input(type='hidden' id='grantId' value=grant.id)
                                            .form-group
                                                label Budżet
                                                input.form-control(
                                                    disabled=''
                                                    type='text'
                                                    value=grant.budget.account.name
                                                )
                                            h4 1. Dane kontaktowe
                                            .form-group
                                                label 1.1 Nazwa jednostki
                                                input.form-control(disabled='' type='text' value=grant.society.name required)
                                            .form-group
                                                label 1.2 Wydział
                                                input.form-control(disabled='' type='text' value=grant.society.faculty.name required)
                                            .form-group
                                                label 1.3 E-mail kontaktowy
                                                input.form-control(type='email' value=grant.email required)
                                            .form-group
                                                label 1.4 Numer telefonu
                                                input.form-control(type='number' name='phone' value=grant.phone required)
                                            .form-group
                                                label 1.5 Wnioskodawca
                                                if ['zco', 'rkn'].includes(user.role)
                                                    input.form-control(type='text' name='applicant' value=grant.applicant required)
                                                else
                                                    input.form-control(disabled='' type='text' value=grant.applicant required)
                                            .form-group
                                                label 1.6 Przewodniczący koła/organizacji
                                                input.form-control(disabled='' type='text' value=grant.society.leader required)
                                            .form-group
                                                label 1.7 Opiekun koła/organizacji
                                                input.form-control(disabled='' type='text' value=grant.society.supervisor required)
                                            h4 2. Przedsięwzięcie
                                            .form-group
                                                label 2.1 Nazwa przedsięwzięcia (nazwa wydarzenia / tytuł projektu)
                                                input.form-control(type='text' name='subject' value=grant.subject required)
                                            .form-group
                                                label 2.2 Opis merytoryczny projektu
                                                textarea.form-control#description(type='text' name='description' required) #{grant.description}
                                            h5 2.3 Lista części oraz kosztorys projektu
                                            .form-group
                                                label 2.3.1 Środki i części (z wartością rynkową) pozyskane do realizacji projektu
                                                textarea#acquired.form-control(name='acquired' required) #{grant.acquired}
                                            .form-group
                                                label 2.3.2 Lista elementów (wraz z kosztorysem), o które jest wnioskowane dofinansowanie
                                                textarea#costs.form-control(name='costs' required) #{grant.costs}
                                            .form-group.form-inline
                                                label#requested 2.4 Wnioskowana kwota
                                                input.form-control(type='number' step=0.01 name='requested' style='width: 100%' value=grant.requested required)
                                            .form-group
                                                label 2.5 Harmonogram projektu
                                                textarea#schedule.form-control(name='schedule' required) #{grant.schedule}
                                            .form-group
                                                label 2.6 Efekty projektu (publikacje, konferencje, pokazy powstałe w wyniku wnioskowanego projektu itp.)
                                                textarea#results.form-control(name='results' required) #{grant.results}
                                            .form-group
                                                label 2.7 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                                input.form-control-file(type='file' multiple name='files' accept='image/jpeg, image/png, image/bmp, application/pdf')
                                                if files && files.length > 0
                                                    ul.mailbox-attachments.d-flex.align-items-stretch.clearfix.mt-3
                                                      each file in files
                                                          li.bg-white(id=`file${file.id}`)
                                                              span.mailbox-attachment-icon
                                                                  i.fa(class=(file.mimetype === 'application/pdf') ? 'fa-file-pdf' : 'fa-paperclip')
                                                              .mailbox-attachment-info
                                                                  a.mailbox-attachment-name(href='#')
                                                                      i.fas(class=(file.mimetype === 'application/pdf') ? 'fa-paperclip' : 'fa-camera')
                                                                          span.ml-2= file.originalName
                                                                  span.mailbox-attachment-size.clearfix.mt-1
                                                                      a.btn.btn-default.btn-sm.float-right(onclick=`deleteFile(${file.id});return false;`)
                                                                          i.fas.fa-trash-alt.text-danger
                                                                      a.btn.btn-default.btn-sm.float-right(href=file.path download=file.originalName)
                                                                          i.fas.fa-cloud-download-alt
                                            .card-footer
                                                button.btn.btn-warning.text-white(type='submit') Zatwierd&zacute;

                else
                    h4.text-black-50 Wniosek grantowy nie wymaga poprawy.

append body-files
    script.
      const grantId = $('#grantId').val();

      function deleteFile(id) {
        $.ajax({
          url: `/api/grants/${grantId}/files/${id}`,
          type: 'DELETE',
          success: function() {
            toastr.success('Plik został usunięty.');
            $('#file' + id).remove();
          },
          error: function(data) {
            toastr.error('Wystąpił błąd podczas usuwania pliku.');
          }
        });
      }

      window.onload = function() {
        $('#description').summernote({
          lang: 'pl-PL',
          disableDragAndDrop: true,
          codeviewIframeFilter: true,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']]
          ]
        });

        let options = {
          lang: 'pl-PL',
          disableDragAndDrop: true,
          codeviewIframeFilter: true,
          toolbar: [
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']]
          ],
        };

        $('#acquired').summernote(options);
        $('#schedule').summernote(options);
        $('#results').summernote(options);

        options = {
          lang: 'pl-PL',
          disableDragAndDrop: true,
          codeviewIframeFilter: true,
          toolbar: [
            ['table', ['table']]
          ],
          popover: {
            table: [
              ['add', ['addRowDown', 'addRowUp']],
              ['delete', ['deleteRow']]
            ]
          }
        };

        $('#costs').summernote(options);


        $('form').on('submit', function(event) {
          event.preventDefault();
          event.stopPropagation();

          let data = new FormData(this);

          $.ajax({
            url: '/api/grants/' + grantId,
            type: 'PUT',
            data,
            processData: false,
            contentType: false,
            success: function(data, status) {
              toastr.success('Pomyślnie poprawiono wniosek grantowy');
              setTimeout(() => {
                window.location.href = '/admin'
              }, 750)
            },
            error: (data) => {
              toastr.error(data.responseText);
            }
          });
        });

      };
