extends ../base

append active-item
    - const grantsPageRKN = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1 Wnioski grantowe
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        $(document).ready(function () {

            $.fn.dataTable.moment('D.MM.YYYY');

            const options = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ]
            };

            const AccountType = {
                'statutory': 'działalność statutowa',
                'additional': 'dodatkowe finansowanie',
                'sponsorship': 'umowa darowizny/umowa sponsorska',
                'grant': 'pula grantowa',
                'other': 'inne'
            };

            const GrantStatus = {
                'submitted': 'Wniosek złożony',
                'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, przekazano do RKN',
                'notesZCO': `ZCO przekazało uwagi, wniosek do poprawy`,
                'correctedZCO': 'Wniosek poprawiony',
                'rejectedZCO': `Wniosek odrzucony przez ZCO`,
                'acceptedRKN': 'Wniosek zaakceptowany przez RKN, przekazano do ZCO',
                'notesRKN': `RKN przekazało uwagi, wniosek do poprawy`,
                'correctedRKN': 'Wniosek poprawiony',
                'rejectedRKN': `Wniosek odrzucony przez RKN`,
                'appointment': 'Oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
                'delivered': 'Wydruk dostarczony, przekazano do R1',
                'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
                'notesR1': `R1 przekazało uwagi`,
                'correctedR1': 'Wniosek poprawiony',
                'rejectedR1': `Wniosek odrzucony przez R1, powód: `,
                'completed': 'Rozliczanie zakończone'
            }

            let data = !{JSON.stringify(grants).replace(/<\//g, "<\\/")}

            for (let d of data) {
                d.status = GrantStatus[d.status];
                d.createdAt = new Date(d.createdAt).toLocaleDateString('pl-PL');
            }

            const table = $('table').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'subject', title: 'Przedmiot finansowania'},
                    {data: 'budget.account.name', title: 'Nazwa konta'},
                    {data: 'requested', title: 'Kwota wnioskowana'},
                    {data: 'granted', title: 'Kwota przyznana'},
                    {data: 'createdAt', title: 'Data złożenia wniosku'},
                    {data: 'status', title: 'Status'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: () =>
                          '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button><button class="btn btm-sm btn-outline-info mr-1 print">Wydrukuj</button>'
                    }
                ],
                ...options,
            });

          $('table tbody').on('click', 'button.show', function() {
            const data = table.row($(this).parents('tr')).data();
            window.location.href = `/admin/grants/${data.id}`;
          });

          $('table tbody').on('click', 'button.print', function() {
            const data = table.row($(this).parents('tr')).data();
            window.open(`grants/${data.id}?print`, '_blank');
          });
        });