extends ../base

append head-files
    style(type='text/css').
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0 auto;
        }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 5px 10px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0w8i {
            font-size: 100%;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

        .tg .tg-nrix {
            vertical-align: middle
        }

        @media print {
            body {
                zoom: 190%;
            }
        }

append active-item
    - const dummy = true

append content
    -
        const GrantStatus = {
            'submitted': 'Wniosek złożony',
            'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, przekazano do RKN',
            'notesZCO': `ZCO przekazało uwagi, wniosek do poprawy`,
            'correctedZCO': 'Wniosek poprawiony',
            'rejectedZCO': `Wniosek odrzucony przez ZCO`,
            'acceptedRKN': 'Wniosek zaakceptowany przez RKN, przekazano do ZCO',
            'notesRKN': `RKN przekazało uwagi, wniosek do poprawy`,
            'correctedRKN': 'Wniosek poprawiony',
            'rejectedRKN': `Wniosek odrzucony przez RKN`,
            'appointment': 'Oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
            'delivered': 'Wydruk dostarczony, przekazano do R1',
            'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
            'notesR1': `R1 przekazało uwagi, wniosek do poprawy`,
            'correctedR1': 'Wniosek poprawiony',
            'rejectedR1': `Wniosek odrzucony przez R1`,
            'completed': 'Rozliczanie zakończone'
        }

    - let nextStatus;
    if ['submitted', 'correctedZCO'].includes(grant.status)
        - nextStatus = GrantStatus['acceptedZCO']
    else if ['acceptedZCO', 'correctedRKN'].includes(grant.status)
        - nextStatus = GrantStatus['acceptedRKN']
    else if grant.status === 'acceptedRKN'
        - nextStatus = GrantStatus['appointment']
    else if grant.status === 'appointment'
        - nextStatus = GrantStatus['delivered']
    else if grant.status === 'delivered'
        - nextStatus = GrantStatus['pending']
    else if grant.status === 'pending'
        - nextStatus = GrantStatus['completed'];

    - let acceptMessage;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(grant.status)
        - acceptMessage = 'Zaakceptuj (ZCO)'
    else if ['acceptedZCO', 'correctedRKN'].includes(grant.status)
        - acceptMessage = 'Zaakceptuj (RKN)'
    else if grant.status === 'acceptedRKN'
        - acceptMessage = 'Wyznacz datę dostarczenia wydruku'
    else if grant.status === 'appointment'
        - acceptMessage = 'Potwierdź dostarczenie wydruku'
    else if grant.status === 'delivered'
        - acceptMessage = 'Akceptacja wniosku przez R1'
    else if grant.status === 'pending'
        - acceptMessage = 'Zakończ rozliczanie wniosku'

    - let notesMessage;
    if ['submitted', 'correctedZCO', 'correctedR1'].includes(grant.status)
        - notesMessage = 'Wprowadź uwagi ZCO'
    else if ['acceptedZCO', 'correctedRKN'].includes(grant.status)
        - notesMessage = 'Wprowadź uwagi RKN'
    else if grant.status === 'delivered'
        - notesMessage = 'Wprowadź uwagi R1'

    - let rejectMessage;
        if ['submitted', 'correctedZCO'].includes(grant.status)
            - rejectMessage = 'Odrzuć wniosek (ZCO)'
        else if ['acceptedZCO', 'correctedRKN'].includes(grant.status)
            - rejectMessage = 'Odrzuć wniosek (RKN)'
        else if grant.status === 'delivered'
            - rejectMessage = 'Wniosek odrzucony przez R1'

    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h5.ml-1.mt-1
                            if user.role === 'zco'
                                a(href='zco/grants') Powrót do listy
                            else if user.role === 'user'
                                a(href=`societies/${grant.society.slug}/grants`) Powrót do listy
                            else if user.role === 'rkn'
                                a(href='rkn/grants')

        section.content
            .container-fluid
                .no-print.m-3
                    .row
                        h5.text-bold Aktualny status wniosku:
                        h5.ml-1= GrantStatus[grant.status]

                    if ['notesZCO', 'notesRKN', 'notesR1'].includes(grant.status)
                        .row
                            button.btn.btn-warning.btn-sm.ml-1.mr-1(type='button', onclick='forwardUrl();return false;')
                                i.fa.fa-external-link.mr-1
                                | Edytuj wniosek

                    if grant.notesZCO || grant.notesRKN || grant.notesR1 || grant.rejectedZCOReason || grant.rejectedRKNReason || grant.rejectedR1Reason
                        .row.mt-3
                            .col-6.card.card-default
                                .card-header
                                    h3.card-title
                                        i.fas.fa-exclamation-triangle
                                        |  Wprowadzono uwagi
                                .card-body
                                    if ['rejectedZCO', 'rejectedRKN', 'rejectedR1'].includes(grant.status)
                                        .alert.alert-danger
                                            h5
                                                i.icon.fas.fa-ban
                                                span= GrantStatus[grant.status]
                                            span= grant.rejectedZCOReason || grant.rejectedRKNRReason || grant.rejectedR1Reason

                                    for role in ['R1', 'ZCO', 'RKN']
                                        if grant[`notes${role}`]
                                            .alert(class=(grant[`corrected${role}`] ? 'alert-info' : 'alert-warning'))
                                                if grant[`corrected${role}`]
                                                    h5.text-decoration-line-through
                                                        i.icon.fas.fa-info-circle
                                                        span= GrantStatus[`notes${role}`]
                                                    span.text-decoration-line-through= grant[`notes${role}`]
                                                else
                                                    h5
                                                        i.icon.fas.fa-exclamation-triangle
                                                        span= GrantStatus[`notes${role}`]
                                                    span= grant[`notes${role}`]

                    if ['zco', 'rkn'].includes(user.role)
                        if user.role === 'zco'
                          .row
                            h5.text-bold Działania ZCO:
                        else if user.role === 'rkn'
                          .row
                            h5.text-bold Działania RKN:

                        // notes
                        .modal(id='notesModal' tabindex='-1' role='dialog' aria-labelledby='notesModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź uwagi
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        textarea.form-control(id='notes', rows='3')
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitNotes();return false;') Zatwierdź
                        // amount
                        .modal(id='amountModal' tabindex='-1' role='dialog' aria-labelledby='amountModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź kwotę faktury
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='amount' type='number' min=0 step=0.01)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAmount();return false;') Zatwierdź
                        // amount granted
                        .modal(id='amountGrantedModal' tabindex='-1' role='dialog' aria-labelledby='amountGrantedModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź przyznaną kwotę
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='amountGranted' type='number' min=0 max=100 step=0.01)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAmountGranted();return false;') Zatwierdź
                        // appointment
                        .modal(id='appointmentModal' tabindex='-1' role='dialog' aria-labelledby='appointmentModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wyznacz datę dostarczenia wniosku
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        input.form-control(id='appointmentDate' type='datetime-local' min=`${new Date().toISOString().split("T")[0]}`)
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitAmountGranted();return false;') Zatwierdź
                        // reject
                        .modal(id='rejectModal' tabindex='-1' role='dialog' aria-labelledby='rejectModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        .modal-title
                                            h5.modal-title Wprowadź powód odrzucenia wniosku
                                        button.close(type='button' 'data-dismiss'='modal' 'aria-label'='Close')
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                        textarea.form-control(id='rejectReason', rows='3')
                                    .modal-footer
                                        button.btn.btn-secondary(type='button' 'data-dismiss'='modal') Anuluj
                                        button.btn.btn-primary(type='button' 'data-dismiss'='modal' 'onclick'='submitRejectReason();return false;') Zatwierdź

                    if (user.role === 'rkn' && ['acceptedZCO', 'correctedRKN'].includes(grant.status)) || (user.role === 'zco' && !['acceptedZCO', 'correctedRKN'].includes(grant.status))
                        .row.mt-3
                            if !['notesZCO', 'rejectedZCO', 'notesRKN', 'rejectedRKN', 'notesR1', 'rejectedR1', 'completed', 'acceptedRKN'].includes(grant.status)
                                button.btn.btn-success(
                                'data-toggle'='tooltip'
                                'data-placement'='bottom'
                                'data-html'='true'
                                'title'=`<b>Następny status:</b><br/> ${nextStatus}`
                                'onclick'=(grant.status === 'delivered') ? 'showAmountGrantedModal();return false;' : 'accept();return false;'
                                )= acceptMessage
                            if grant.status === 'acceptedRKN'
                                button.btn.btn-success(
                                'data-toggle'='tooltip'
                                'data-placement'='bottom'
                                'data-html'='true'
                                'title'=`<b>Następny status:</b><br/> ${nextStatus}`
                                'onclick'='showAppointmentModal();return false;'
                                )= acceptMessage
                            if grant.status === 'pending'
                                button.btn.btn-warning.ml-3('onclick'='showAmountModal();return false;') Wprowadź kwotę faktury
                            if ['submitted', 'correctedZCO', 'correctedRKN', 'correctedR1', 'delivered'].includes(grant.status)
                                button.btn.btn-warning.ml-3('onclick'='showNotesModal();return false;')= notesMessage
                                button.btn.btn-danger.ml-3('onclick'='showRejectModal();return false;')= rejectMessage

                    if ['notesZCO', 'notesRKN', 'notesR1'].includes(grant.status) && grant.user === user
                        .row.mt-3
                            a.btn.btn-warning(href='edit') Popraw wniosek

        section.content
            .container-fluid
                .row
                    .col
                        .card(style="width: 21cm; overflow: hidden;")
                            #print.card-body.mx-0.px-0(style="width: 21cm")
                                table
                                    thead
                                        tr
                                            th
                                                img.print-header.mb-3(src='/images/zco.png' style="width: 21cm")
                                    tbody
                                        tr
                                            td
                                                .row
                                                    .col-1
                                                    .col-5
                                                        p NUMER PISMA*:
                                                        p …………………………………………
                                                    .col-1
                                                    .col-5
                                                        p Poznań, dnia: …………………
                                                .row.mt-3
                                                    h5.text-danger.my-0.mx-auto WNIOSEK GRANTOWY
                                                .row.mt-4.mb-4.text-right
                                                    p.col Prorektor ds. studenckich i kształcenia
                                                        br
                                                        | dr hab. inż. Agnieszka Misztal, prof. PP
                                                    .col-1
                                                .row-mt-5
                                                    table.tg(style="width: 19cm")
                                                        tbody
                                                            tr
                                                                td.tg-0lax(colspan='2') 1. Dane kontaktowe:
                                                            tr
                                                                td.tg-0lax(style="width: 5.4cm")
                                                                    | 1.1
                                                                    br
                                                                    | Nazwa koła naukowego/organizacji:
                                                                    br
                                                                td.tg-nrix
                                                                    span= grant.society.name
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.2
                                                                    br
                                                                    | Wydział/Instytut:
                                                                td.tg-nrix
                                                                    span= grant.society.faculty.name
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.3
                                                                    br
                                                                    | E-mail kontaktowy:
                                                                td.tg-nrix
                                                                    span= grant.email
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.4
                                                                    br
                                                                    | Telefon:
                                                                td.tg-nrix
                                                                    span= grant.phone
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.5
                                                                    br
                                                                    | Wnioskodawca:
                                                                td.tg-nrix
                                                                    span= grant.applicant
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.6
                                                                    br
                                                                    | Przewodniczący koła/organizacji:
                                                                td.tg-nrix
                                                                    span= grant.society.leader
                                                            tr
                                                                td.tg-0lax
                                                                    | 1.7
                                                                    br
                                                                    | Opiekun koła/organizacji:
                                                                td.tg-nrix
                                                                    span= grant.society.supervisor
                                                            tr
                                                                td.tg-0lax(colspan='2') 2. Dane dot. finansowania:
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.1
                                                                    br
                                                                    | Przedmiot finansowania:
                                                                    br
                                                                    | (nazwa wydarzenia/tytuł projektu/itp.)
                                                                td.tg-nrix
                                                                    span= grant.subject
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.2
                                                                    br
                                                                    | Opis merytoryczny projektu:
                                                                td.tg-nrix
                                                                    span !{grant.description}
                                                            tr
                                                                td.tg-0lax(colspan='2')
                                                                    | 2.3 Lista części oraz kosztorys projektu
                                                            tr
                                                                td.tg-0lax(colspan='2')
                                                                    | 2.3.1
                                                                    br
                                                                    | Środki i części (z wartością rynkową) pozyskane do realizacji projektu:

                                                                    span !{grant.acquired}
                                                            tr
                                                                td.tg-0lax(colspan='2')
                                                                    | 2.3.2
                                                                    br
                                                                    | Lista elementów (wraz z kosztorysem), o które jest wnioskowane dofinansowanie:

                                                                    span !{grant.costs}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.4
                                                                    br
                                                                    | Wnioskowana kwota:
                                                                td.tg-nrix
                                                                    span= (parseFloat(grant.requested)).toLocaleString('pl-PL', {minimumFractionDigits: 2,maximumFractionDigits: 2})
                                                                        |  zł
                                                            tr
                                                                td.tg-0lax(colspan='2')
                                                                    | 2.5
                                                                    br
                                                                    | Harmonogram projektu:

                                                                    span !{grant.schedule}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.6
                                                                    br
                                                                    | Efekty projektu (publikacje, konferencje, pokazy powstałe w wyniku wnioskowanego projektu itp.)

                                                                td.tg-nrix
                                                                    span !{grant.results}
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.7
                                                                    br
                                                                    | Załączniki (opcjonalnie):
                                                                td.tg-nrix
                                                                    if files && files.length > 0
                                                                        ul.mailbox-attachments.d-flex.align-items-stretch.clearfix.no-print
                                                                            each file in files
                                                                                li
                                                                                    span.mailbox-attachment-icon
                                                                                        i.fa(class=(file.mimetype === 'application/pdf') ? 'fa-file-pdf' : 'fa-paperclip')
                                                                                    .mailbox-attachment-info
                                                                                        a.mailbox-attachment-name(href='#')
                                                                                            i.fas(class=(file.mimetype === 'application/pdf') ? 'fa-paperclip' : 'fa-camera')
                                                                                                span.ml-2= file.originalName
                                                                                        span.mailbox-attachment-size.clearfix.mt-1
                                                                                            a.btn.btn-default.btn-sm.float-right(href=file.path download=file.originalName)
                                                                                                i.fas.fa-cloud-download-alt
                                                                        each file in files
                                                                            ol.pl-4.my-0.d-none.print
                                                                                li= file.originalName.split('.')[0]
                                                                    else
                                                                        span BRAK

                                                            tr
                                                                td.tg-0lax
                                                                    | 2.8
                                                                    br
                                                                    | Podpis wnioskodawcy:
                                                                td.tg-nrix
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.9
                                                                    br
                                                                    | Podpis Przewodniczącego Koła Naukowego
                                                                td.tg-nrix
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.10
                                                                    br
                                                                    | Podpis opiekuna:
                                                                td.tg-nrix
                                                            tr
                                                                td.tg-0lax
                                                                    | 2.11
                                                                    br
                                                                    | Uwagi*
                                                                td.tg-nrix
                                                                    span= grant.notesZCO

                                                .row.mt-3
                                                    .col-1
                                                    .col-11
                                                        p WYRAŻAM ZGODĘ / NIE WYRAŻAM ZGODY  NA FINANSOWANIE**:
                                                .row.mt-3.text-right
                                                    p.col …………………………………………
                                                        br
                                                        span.pr-5.mr-4.small (podpis i pieczątka)
                                                    .col-1

                                                .row.mt-3
                                                    .col-1
                                                    .col-11
                                                        p PROJEKT
                                                            span.ml-1 BĘDZIE / NIE BĘDZIE WYMAGAŁ ZAOPINIOWANIA I WSPÓŁPRACY Z CENTRUM WŁASNOŚCI INTELEKTUALNEJ***:

                                                .row.mt-3.text-right
                                                    p.col …………………………………………
                                                        br
                                                        span.pr-5.mr-4.small (podpis i pieczątka)
                                                    .col-1


                                    tfoot
                                        tr
                                            td.row.mt-5
                                                .col-1
                                                .col
                                                    p.small
                                                        | * - uzupełnia Zintegrowane Centrum Obsługi
                                                        br
                                                        | ** - wykreśla Prorektor ds. studenckich i kształcenia
                                                        br
                                                        | *** - wykreśla Centrum Własności Intelektualnej lub Zintegrowane Centrum Obsługi

append body-files
    script.
        function forwardUrl() {
          window.location.href = window.location.href + '/edit';
        }

        const grant = !{JSON.stringify(grant).replace(/<\//g, "<\\/")};
        let nextStatus;

        if (['submitted', 'correctedZCO', 'correctedR1'].includes(grant.status))
            nextStatus = 'acceptedZCO';
        else if (['acceptedZCO', 'correctedRKN'].includes(grant.status))
            nextStatus = 'acceptedRKN';
        else if (grant.status === 'acceptedRKN')
            nextStatus = 'appointment';
        else if (grant.status === 'appointment')
            nextStatus = 'delivered';
        else if (grant.status === 'delivered')
            nextStatus = 'pending';
        else if (grant.status === 'pending')
            nextStatus = 'completed';

        function accept() {
            $.ajax({
                url: `/api/grants/${grant.id}/status/${nextStatus}`,
                method: 'PUT',
                success: () => {
                    toastr.success('Status wniosku został zmieniony');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function showAppointmentModal() {
          $('#appointmentModal').modal('show');
        }
        function showNotesModal() {
            $('#notesModal').modal('show');
        }
        function showAmountModal() {
            $('#amountModal').modal('show');
        }
        function showAmountGrantedModal() {
            $('#amountGrantedModal').modal('show');
        }
        function showRejectModal() {
            $('#rejectModal').modal('show');
        }

        function submitNotes() {
            const notesStatus = (grant.status === 'submitted') ? 'notesZCO' : (grant.status === 'acceptedZCO') ? 'notesRKN' : 'notesR1';

            $.ajax({
                url: `/api/grants/${grant.id}/status/${notesStatus}`,
                method: 'PUT',
                data: {
                    notes: $('#notes').val()
                },
                success: () => {
                    toastr.success('Uwagi zostały wprowadzone');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function submitAmountGranted() {
            $.ajax({
                url: `/api/grants/${grant.id}/status/pending`,
                method: 'PUT',
                data: {
                    granted: $('#amountGranted').val()
                },
                success: () => {
                    toastr.success('Status wniosku został zmieniony');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function submitAppointment() {
          $.ajax({
            url: `/api/grants/${funding.id}/status/appointment`,
            method: 'PUT',
            data: {
              appointmentDate: $('#appointmentDate').val()
            },
            success: () => {
              toastr.success('Status wniosku został zmieniony');
              setTimeout(() => window.location.reload(), 500);
            },
            error: (err) => {
              toastr.error(err.responseText);
            }
          })
        }

        function submitAmount() {
            $.ajax({
                url: `/api/grants/${grant.id}/invoice`,
                method: 'POST',
                data: {
                    amount: $('#amount').val()
                },
                success: () => {
                    toastr.success('Kwota została wprowadzona');
                    setTimeout(() => window.location.reload(), 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        function submitRejectReason() {
            const rejectStatus = (grant.status === 'submitted') ? 'rejectedZCO' : (grant.status === 'acceptedZCO') ? 'rejectedRKN' : 'rejectedR1';

            $.ajax({
                url: `/api/grants/${grant.id}/status/${rejectStatus}`,
                method: 'PUT',
                data: {
                    rejectReason: $('#rejectReason').val()
                },
                success: () => {
                    toastr.success('Wniosek został odrzucony');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                },
                error: (err) => {
                    toastr.error(err.responseText);
                }
            })
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#notes').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            });
        })

        function hidePrintElement(entity) {
            setTimeout(function () {
                $(entity).addClass('d-none');
            }, 5000);
        }

        window.onbeforeprint = function () {
            $('.print').each(function () {
                $(this).removeClass('d-none');
                hidePrintElement(this);
            });
        }

        $(window).on('load', function () {
            window.onafterprint = window.close;
            const url = window.location.search;
            if (url === '?print') setTimeout(window.print, 750);
        });