extends ../base

append active-item
    - const indexPage = true

append content
    .content-wrapper
        section.content
            .container-fluid
                .row.m-0.pt-3
                    .col-lg-3.col-6
                        .small-box.bg-success
                            .inner
                                h3= data.societies.filter(society => society.active).length
                                p Aktywnych jednostek
                            .icon
                                i.mr-5.pr-5.fas.fa-user-friends
                                i.ml-5.pl-5.fas.fa-flask
                    .col-lg-3.col-6
                        .small-box.bg-lightblue
                            .inner
                                h3= data.societies.filter(society => society.type === 'club').length
                                p Aktywnych Kół Naukowych
                            .icon
                                i.fas.fa-flask
                    .col-lg-3.col-6
                        .small-box.bg-warning
                            .inner
                                h3= data.societies.filter(society => society.type === 'organization').length
                                p Aktywnych Organizacji Studenckich
                            .icon
                                i.fas.fa-user-friends
                    .col-lg-3.col-6
                        .small-box.bg-light
                            .inner
                                h3= data.users.filter(user => user.verified && user.active).length
                                p Aktywnych użytkowników
                            .icon
                                i.fas.fa-user

                if ['rkn', 'zco'].includes(user.role)
                    .row#row-users-verify
                        if data.users.filter(user => user.emailVerified && !user.verified).length > 0
                            .card.m-3
                                .card-header.border-transparent
                                    h3.card-title Użytkownicy czekający na weryfikację
                                .card-body
                                    table.table.table-responsive
                                        thead
                                            tr
                                                th Imię i nazwisko
                                                th Adres e-mail
                                                th Nr indeksu
                                                th Przypisana jednostka
                                                th Utworzono
                                                th Akcja
                                        tbody#tbody-users-verify
                                            each user in data.users.filter(user => user.emailVerified && !user.verified)
                                                tr(id=`user-verify${user.id}`)
                                                    td= user.name
                                                    td= user.email
                                                    td= user.index
                                                    if user.societies && user.societies.length > 0
                                                        td= user.societies[0].name
                                                    else
                                                        td -
                                                    td= (new Date(user.createdAt)).toLocaleString('pl-PL')
                                                    td
                                                        button.btn.btn-sm.btn-outline-success.mr-1(onclick=`verifyUser(${user.id});return false;`) Aktywuj
                                                        button.btn.btn-sm.btn-outline-warning.mr-1(onclick=`editUser(${user.id});return false;`) Edytuj
                                                        button.btn.btn-sm.btn-outline-danger.mr-1(onclick=`deleteUser(${user.id});return false;`) Usuń konto
                    if data.users.filter(user => !user.emailVerified).length > 0
                        .row#row-users-verify-email
                            .card.m-3
                                .card-header.border-transparent
                                    h3.card-title Użytkownicy, którzy nie zweryfikowali adresu e-mail
                                .card-body
                                    table.table.table-responsive
                                        thead
                                            tr
                                                th Imię i nazwisko
                                                th Adres e-mail
                                                th Nr indeksu
                                                th Przypisana jednostka
                                                th Utworzono
                                                th Akcja
                                        tbody#tbody-users-verify-email
                                            each user in data.users.filter(user => !user.emailVerified)
                                                tr(id=`user-verify-email${user.id}`)
                                                    td= user.name
                                                    td= user.email
                                                    td= user.index
                                                    if user.societies && user.societies.length > 0
                                                        td= user.societies[0].name
                                                    else
                                                        td -
                                                    td= (new Date(user.createdAt)).toLocaleString('pl-PL')
                                                    td
                                                        button.btn.btn-sm.btn-outline-success.mr-1(onclick=`verifyUserEmail(${user.id});return false;`) Zweryfikuj ręcznie
                                                        button.btn.btn-sm.btn-outline-danger.mr-1(onclick=`deleteUser(${user.id});return false;`) Usuń konto

                    if data.grants && data.grants.length > 0
                        - const newGrants = data.grants.filter(grant => new Date(grant.createdAt) >= new Date(user.lastLogin))
                        - const changedGrants = data.grants.filter(grant => new Date(grant.lastCorrection) >= new Date(user.lastLogin) && !newGrants.includes(grant))
                        .row
                            if newGrants && newGrants.length > 0
                                .col-md.card.m-3
                                    .card-header.border-transparent
                                        h3.card-title Ostatnio złożone wnioski grantowe
                                    .card-body
                                        table.table.table-responsive
                                            thead
                                                tr
                                                    th Przedmiot finansowania
                                                    th Jednostka
                                                    th Wnioskodawca
                                                    th Akcja
                                            tbody
                                                each grant in newGrants
                                                    tr(id=`grant${grant.id}`)
                                                        td= grant.subject
                                                        td= grant.society.name
                                                        td= grant.applicant
                                                        td
                                                            a.btn.btn-sm.btn-outline-success.mr-1(href=`grants/${grant.id}`) Zobacz
                            if changedGrants && changedGrants.length > 0
                                .col-md.card.m-3
                                    .card-header.border-transparent
                                        h3.card-title Ostatnio poprawione wnioski grantowe
                                    .card-body
                                        table.table.table-responsive
                                            thead
                                                tr
                                                    th Przedmiot finansowania
                                                    th Jednostka
                                                    th Wnioskodawca
                                                    th Akcja
                                            tbody
                                                each grant in changedGrants
                                                    tr(id=`grant${grant.id}`)
                                                        td= grant.subject
                                                        td= grant.society.name
                                                        td= grant.applicant
                                                        td
                                                            a.btn.btn-sm.btn-outline-success.mr-1(href=`grants/${grant.id}`) Zobacz

                if ['zco'].includes(user.role)
                    if data.grants && data.grants.length > 0
                        - const newFundings = data.fundings.filter(funding => new Date(funding.createdAt) >= new Date(user.lastLogin))
                        - const changedFundings = data.fundings.filter(funding => new Date(funding.lastCorrection) >= new Date(user.lastLogin) && !newFundings.includes(funding))
                        .row
                            if newFundings && newFundings.length > 0
                                .col-md.card.m-3
                                    .card-header.border-transparent
                                        h3.card-title Ostatnio złożone wnioski o finansowanie
                                    .card-body
                                        table.table.table-responsive
                                            thead
                                                tr
                                                    th Przedmiot finansowania
                                                    th Jednostka
                                                    th Wnioskodawca
                                                    th Akcja
                                            tbody
                                                each funding in newFundings
                                                    tr(id=`funding${funding.id}`)
                                                        td= funding.subject
                                                        td= funding.society.name
                                                        td= funding.applicant
                                                        td
                                                            a.btn.btn-sm.btn-outline-success.mr-1(href=`fundings/${funding.id}`) Zobacz
                            if changedFundings && changedFundings.length > 0
                                .col-md.card.m-3
                                    .card-header.border-transparent
                                        h3.card-title Ostatnio poprawione wnioski o finansowanie
                                    .card-body
                                        table.table.table-responsive
                                            thead
                                                tr
                                                    th Przedmiot finansowania
                                                    th Jednostka
                                                    th Wnioskodawca
                                                    th Akcja
                                            tbody
                                                each funding in changedFundings
                                                    tr(id=`funding${funding.id}`)
                                                        td= funding.subject
                                                        td= funding.society.name
                                                        td= funding.applicant
                                                        td
                                                            a.btn.btn-sm.btn-outline-success.mr-1(href=`fundings/${funding.id}`) Zobacz

                if data.fundings && data.fundings.length > 0
                    - const notedFundings = data.fundings.filter(funding => ['notesZCO', 'notesR1'].includes(funding.status)).filter(funding => user.societies.some(society => society.id === funding.society.id))
                    if notedFundings && notedFundings.length > 0
                        .col-md.card.m-3
                            .card-header.border-transparent
                                h3.card-title Wnioski o finansowanie z uwagami
                            .card-body
                                table.table.table-responsive
                                    thead
                                        tr
                                            th Przedmiot finansowania
                                            th Jednostka
                                            th Wnioskodawca
                                            th Akcja
                                    tbody
                                      each funding in notedFundings
                                          tr(id=`funding${funding.id}`)
                                              td= funding.subject
                                              td= funding.society.name
                                              td= funding.applicant
                                              td
                                                  a.btn.btn-sm.btn-outline-success.mr-1(href=`fundings/${funding.id}`) Zobacz
                                                  a.btn.btn-sm.btn-outline-warning.mr-1(href=`fundings/${funding.id}/edit`) Edytuj

                if data.grants && data.grants.length > 0
                  - const notedGrants = data.grants.filter(grant => ['notesZCO', 'notesR1'].includes(grant.status)).filter(grant => user.societies.some(society => society.id === grant.society.id))
                  if notedGrants && notedGrants.length > 0
                      .col-md.card.m-3
                          .card-header.border-transparent
                              h3.card-title Wnioski grantowe z uwagami
                          .card-body
                              table.table.table-responsive
                                  thead
                                      tr
                                          th Przedmiot finansowania
                                          th Jednostka
                                          th Wnioskodawca
                                          th Akcja
                                  tbody
                                    each grant in notedGrants
                                        tr(id=`grant${grant.id}`)
                                            td= grant.subject
                                            td= grant.society.name
                                            td= grant.applicant
                                            td
                                                a.btn.btn-sm.btn-outline-success.mr-1(href=`grants/${grant.id}`) Zobacz
                                                a.btn.btn-sm.btn-outline-warning.mr-1(href=`grants/${grant.id}/edit`) Edytuj


append body-files
    script.
        function verifyUser(id) {
            $.ajax({
                type: 'PATCH',
                url: '/api/users/verify/' + id,
                success: () => {
                    // const record = $(`#user-verify${id}`);
                    // $('#tbody-user-verify-email').removeClass('d-none');
                    // $('#tbody-user-verify-email').append(record);
                    // record.remove();
                    // if (!$('#tbody-user-verify').hasChildNodes())
                    //     $('#row-user-verify').addClass('d-none');
                    toastr.success('Pomyślnie zweryfikowano konto użytkownika.');
                    setTimeout(() => { location.reload(); }, 75);
                },
                error: () => {
                    toastr.error('Wystąpił błąd.');
                }
            })
        }

        function verifyUserEmail(id) {
            $.ajax({
                type: 'PATCH',
                url: '/api/users/verify-email/' + id,
                success: () => {
                    toastr.success('Pomyślnie zweryfikowano adres e-mail.');
                    setTimeout(() => { location.reload(); }, 75);
                },
                error: () => {
                    toastr.error('Wystąpił błąd.');
                }
            })
        }

        function editUser(id) {
            window.location.href = `rkn/users/${id}/edit`;
            $.ajax({
                type: 'PATCH',
                url: '/users/verify' + id,
                success: () => {
                    toastr.success('Pomyślnie usunięto konto. Odśwież, by zobaczyć zmiany.');
                },
                error: () => {
                    toastr.error('Wystąpił błąd.');
                }
            })
        }

        function deleteUser(id) {
            if (confirm('Czy na pewno usunąć konto użytkownika?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/users/' + id,
                    success: () => {
                        $(`#user-verify-email${id}`).remove();
                        $(`#user-verify${id}`).remove();
                        toastr.success('Pomyślnie usunięto konto.');
                    },
                    error: () => {
                        toastr.error('Wystąpił błąd.');
                    }
                })
            }
        }