extends ../base

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
        section.content
            .container-fluid
                .row
                    .col-12.col-sm-6.col-md-3
                        .info-box.bg-info
                            .info-box-content
                                span.info-box-text Budżet całkowity
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account.active)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.total, 0).toFixed(2)
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .col-12.col-sm-6.col-md-3
                        .info-box.mb-3.bg-danger
                            .info-box-content
                                span.info-box-text Kwota wydana
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account.active)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.spent, 0).toFixed(2)
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .clearfix.hidden-md-up
                    .col-12.col-sm-6.col-md-3
                        .info-box.mb-3.bg-warning
                            .info-box-content
                                span.info-box-text Kwota zawnioskowana
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account.active)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.requested, 0).toFixed(2)
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .col-12.col-sm-6.col-md-3
                        .info-box.mb-3.bg-success
                            .info-box-content
                                span.info-box-text Kwota pozostała
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account.active)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.total, 0).toFixed(2) - active.reduce((acc, item) => acc + +item.spent, 0).toFixed(2) - active.reduce((acc, item) => acc + +item.requested, 0).toFixed(2)
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                hr
                if society.fundings && society.fundings.length > 0
                    table#fundings.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap
                hr
                if society.budgets && society.budgets.length > 0 & society.budgets.some(b => b.total > 0 && b.account.active)
                    .row
                        .col-md-12
                            // New funding application
                            .card.bg-transparent.collapsed-card
                                .card-header.bg-info.border-0(data-card-widget='collapse' title='Collapse')
                                    h3.card-title
                                        i.fas.fa-file-invoice-dollar.mr-1
                                        | Wniosek o finansowanie
                                    .card-tools
                                        button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                            i.fas.fa-plus
                                .card-body
                                    form#funding(enctype='multipart/form-data' method='post')
                                        .form-group
                                            label Wybierz budżet
                                            select.custom-select(name='budgetId' required)
                                                each budget in society.budgets.filter(b => b.total > 0 && b.account.active)
                                                    option(value=budget.id)
                                                        | #{budget.account.name}
                                                        | (#{(budget.total - budget.spent - budget.requested).toFixed(2)} zł)
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=society.name required)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=society.faculty.name required)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(type='email' name='email' required)
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            input.form-control(disabled='' name='applicant' type='text' value=user.name required)
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.leader required)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.supervisor required)
                                        h4 2. Dane dot. finansowania
                                        .form-group
                                            label 2.1 Przedmiot finansowania (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' required)
                                        .form-group
                                            label 2.2 Cel
                                            textarea.form-control(type='text' name='goal' required)
                                        .form-group
                                            label 2.3 Opis
                                            textarea.form-control(type='text' name='description' required)
                                        .form-group
                                            label 2.4 Rodzaj finansowania
                                            select.custom-select(name='type' required)
                                                option(value='statutory') działalność statutowa
                                                option(value='additional') dodatkowe finansowanie
                                                option(value='sponsorship') umowa darowizny / umowa sponsorska
                                                option(value='other') inne
                                        .form-group.form-inline
                                            label 2.5 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 90%' required)
                                            select.custom-select(name='currency' style='width: 10%' required)
                                                option(value='pln') zł
                                                option(value='eur') €
                                        .form-group
                                            label 2.6 Szczegółowy kosztorys
                                            textarea#costs1.form-control(name='costs' required) <table class="table table-bordered"><tbody><tr><td>lp.</td><td>Przedmiot finansowania</td><td>Kwota</td></tr><tr><td>1</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>2</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>3</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>4</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>5</td><td><br></td><td style="text-align: right;"><br></td></tr><tr><td>-</td><td>SUMA:</td><td style="text-align: right; "> zł</td></tr></tbody></table>
                                        .form-group
                                            label 2.7 Planowany termin realizacji
                                            input.form-control(type='date' name='date' required)
                                        .form-group
                                            label 2.8 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            //.dropzone
                                            input.form-control-file#funding-files(type='file' multiple name='files')
                                        .card-footer
                                            button.btn.btn-info#funding-submit(type='submit') Zatwierd&zacute;
                    .row
                        .col-md-12
                            // New grant application
                            .card.bg-transparent.collapsed-card
                                .card-header.bg-olive.border-0(data-card-widget='collapse' title='Collapse')
                                    h3.card-title
                                        i.fas.fa-hand-holding-usd.mr-1
                                        | Wniosek grantowy
                                    .card-tools
                                        button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                            i.fas.fa-plus
                                .card-body
                                    form#grant(enctype='multipart/form-data' method='post')
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=society.name required)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=society.faculty.name required)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(type='email' name='email' required)
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            input.form-control(disabled='' name='applicant' type='text' value=user.name required)
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.leader required)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.supervisor required)
                                        h4 2. Przedsięwzięcie
                                        .form-group
                                            label 2.1 Nazwa przedsięwzięcia (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' required)
                                        .form-group
                                            label 2.2 Opis merytoryczny projektu
                                            textarea.form-control(type='text' name='description' required)
                                        h5 2.3 Lista części oraz kosztorys projektu
                                        .form-group
                                            label 2.3.1 Środki i części (z wartością rynkową) pozyskane do realizacji projektu
                                            textarea#acquired.form-control(name='acquired' required) <br><br><br><p><b>Suma pozyskanych środków/Wartość pozyskanych materiałów i części:</b> ……………… zł</p>
                                        .form-group
                                            label 2.3.2 Lista elementów (wraz z kosztorysem), o które jest wnioskowane dofinansowanie
                                            textarea#costs2.form-control(name='costs' required) <table class="table table-bordered"><tbody><tr><td>lp.</td><td>Przedmiot finansowania</td><td>Kwota</td></tr><tr><td>1</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>2</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>3</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>4</td><td><br></td><td style="text-align: right; "><br></td></tr><tr><td>5</td><td><br></td><td style="text-align: right;"><br></td></tr><tr><td>-</td><td>SUMA:</td><td style="text-align: right; "> zł</td></tr></tbody></table>
                                        .form-group.form-inline
                                            label 2.4 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 90%' required)
                                            select.custom-select(name='currency' style='width: 10%' required)
                                                option(value='pln') zł
                                                option(value='eur') €
                                        .form-group
                                            label 2.5 Harmonogram projektu
                                            textarea#schedule.form-control(name='schedule' required)
                                        .form-group
                                            label 2.6 Efekty projektu (publikacje, konferencje, pokazy powstałe w wyniku wnioskowanego projektu itp.)
                                            textarea#results.form-control(name='results' required)
                                        .form-group
                                            label 2.7 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            input.form-control-file(type='file' multiple name='files')
                                        .card-footer
                                            button.btn.btn-olive(type='submit' style='background-color: #3d9970; color: white;') Zatwierd&zacute;

                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent.collapsed-card
                            .card-header.bg-warning.border-0(data-card-widget='collapse' title='Collapse')
                                h3.card-title
                                    i.fas.fa-edit.mr-1
                                    | Edycja danych
                                .card-tools
                                    button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                        i.fas.fa-plus
                            .card-body
                                form#edit-society
                                    .form-group
                                        label Wydział
                                        input.form-control(disabled='' type='text' value=society.faculty.name)
                                    .row
                                        .form-group.col-md-10
                                            label Nazwa
                                            input.form-control(disabled='' type='text' value=society.name)
                                        .form-group.col-md-2
                                            label Skrót
                                            input.form-control(disabled='' type='text' name='abbreviation' value=society.abbreviation)
                                    .row
                                        .form-group.col-md-6
                                            label Przewodniczący/a
                                            input.form-control(disabled='' type='text' value=society.leader)
                                        .form-group.col-md-6
                                            label Opiekun
                                            input.form-control(disabled='' type='text' value=society.supervisor)
                                    .row
                                        .form-group.col-md-6
                                            label Adres e-mail
                                            input.form-control(type='email' name='email' value=society.email)
                                        .form-group.col-md-6
                                            label Poboczny adres e-mail
                                            input.form-control(type='email' name='emailSecondary' value=society.email)
                                    .form-group
                                        label Strona internetowa
                                        input.form-control(type='url' name='website' value=society.website)
                                    .row
                                        .form-group.col-md-6
                                            label Facebook
                                            input.form-control(type='url' name='facebook' value=society.facebook)
                                        .form-group.col-md-6
                                            label Instagram
                                            input.form-control(type='text' name='instagram' value=society.instagram)
                                    .form-group
                                        label Opis działalności
                                        textarea#description.form-control(name='description') !{society.description}
                                    .card-footer
                                        button.btn.btn-warning(type='submit') Zatwierd&zacute;

append body-files
    script.
        window.onload = function () {
            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            });

            let options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            };

            $('#acquired').summernote(options);
            $('#schedule').summernote(options);
            $('#results').summernote(options);

            options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['table', ['table']]
                ],
            };

            $('#costs1').summernote(options);
            $('#costs2').summernote(options);

            let society = !{JSON.stringify(society).replace(/<\//g, "<\\/")}

            const tableOptions = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ],
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                }
            };

            let data = !{JSON.stringify(society.fundings).replace(/<\//g, "<\\/")}

            for (let d of data)
                d.createdAt = new Date(d.createdAt).toLocaleString()

            const table = $('#fundings').DataTable({
                data,
                columns: [
                    {data: 'id', title: 'ID'},
                    {data: 'subject', title: 'Przedmiot finansowania'},
                    {data: 'requested', title: 'Kwota wnioskowana'},
                    {data: 'granted', title: 'Kwota przyznana'},
                    {data: 'status', title: 'Status'},
                ],
                ...tableOptions,
            });

            $('#funding').on('submit', function(event) {
                event.preventDefault();
                event.stopPropagation();

                let data = new FormData(this);
                data.append('societyId', society.id);

                $.ajax({
                    url: '/api/fundings',
                    type: 'POST',
                    dataType: "JSON",
                    data,
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        toastr.success('Pomyślnie złożono wniosek o finansowanie');
                        setTimeout(() => {
                            window.location.href = 'societies/' + society.slug;
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });

            $('#grant').on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let data = new FormData(this);
                data.append('societyId', society.id);

                $.ajax({
                    url: '/api/grants',
                    type: 'POST',
                    dataType: "JSON",
                    data,
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        toastr.success('Pomyślnie złożono wniosek grantowy');
                        setTimeout(() => {
                            window.location.href = 'societies/' + society.slug;
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });

            const form = $("#edit-society");
            form.on("submit", (event) => {
                event.preventDefault();
                const data = form.serializeJSON();

                $.ajax({
                    url: "/api/societies/" + society.id,
                    type: "PUT",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie zaktualizowano");
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        };

