extends ../../../base

append active-item
    - const accountsPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1 Dodaj nowe konto
                        h5.ml-1.mt-1
                            a(href='zco/accounts') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-success.border-0
                                h3.card-title Nowe konto
                            .card-body
                                form
                                    .form-group
                                        label(for='societyId') Jednostki przypisane do konta
                                        select.custom-select.duallistbox#societyId(multiple='multiple' name='societyId[]')
                                            each society in societies
                                                option(value=society.id)= society.name
                                    .form-group
                                        label(for='type') Typ konta
                                        select#type.custom-select(name='type' required)
                                            for item in [['statutory', 'działalność statutowa'], ['additional', 'dodatkowe finansowanie'], ['sponsorship', 'umowa darowizny/umowa sponsorska'], ['grant', 'pula grantowa'], ['other', 'inne']]
                                                option(value=item[0])= item[1]
                                    .form-group
                                        label Nazwa konta
                                        input.form-control(type='text' name='name' placeholder=`Budżet ${new Date().getFullYear() - 1}/${new Date().getFullYear()}` required)
                                    .form-group
                                        .form-check
                                            input#unlimited.form-check-input(type='checkbox' name='unlimited')
                                            label.form-check-label(for='unlimited') Konto nielimitowane
                                    #group
                                        .form-group
                                            label Kwota całkowita
                                            input.form-control(type='number' step=0.01 name='total')
                                        .form-group
                                            .form-check
                                                input#amount-visible.form-check-input(checked='' type='checkbox' name='amountVisible')
                                                label.form-check-label(for='amount-visible') Kwota widoczna dla jednostek
                                    .form-group
                                        .form-check
                                            input#active.form-check-input(checked='' type='checkbox' name='active')
                                            label.form-check-label(for='active') Konto aktywne
                                    button.btn.btn-success(type='submit') Zatwierdź


append body-files
    script.
        window.onload = function () {

            $('.duallistbox').bootstrapDualListbox()

            $('form #unlimited').change(function () {
                if (this.checked) $('#group').addClass('d-none');
                else $('#group').removeClass('d-none');
            });

            const form = $("form");
            form.on("submit", (event) => {
                event.preventDefault();

                let data = form.serializeJSON();
                data.unlimited = (data.unlimited === 'on');
                data.amountVisible = (!data.unlimited && data.amountVisible === 'on');
                data.active = (data.active === 'on');
                data.total = (data.unlimited) ? 0 : data.total;
                data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== ''));

                $.ajax({
                    url: "/api/accounts",
                    type: "POST",
                    data,
                    success: (data) => {
                      toastr.success("Pomyślnie dodano nowe konto");
                      setTimeout(() => {
                        window.location.href = `zco/accounts/${data.id}/distribute`;
                      }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }
