extends ../../../base

append active-item
    - const accountsPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= account.name
                        h5.ml-1.mt-1
                            a(href='zco/accounts') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card.bg-transparent
                            .card-header.bg-primary.border-0
                                h3.card-title
                                    i.far.fa-divide.mr-1
                                    | Rozdziel budżety
                            .card-body
                                h5.text-bold Kwota całkowita:
                                    span.ml-1#amount-total= account.total
                                    span.ml-1 zł
                                h5.text-danger Kwota rozdysponowana:
                                    span.ml-1#amount-spent
                                    span.ml-1 zł
                                h5.text-success Kwota pozostała:
                                    span.ml-1#amount-left
                                    span.ml-1 zł
                                form.mt-3
                                    .form
                                        each society in account.budgets.map(budget => budget.society)
                                            hr
                                            //p= society.name
                                            .form-group.col-auto
                                                - var minimum
                                                if society.budgets && society.budgets.length > 0
                                                    - var active = society.budgets.filter(b => b.accountId === account.id)
                                                    - var spent = active.reduce((acc, item) => acc + +item.spent, 0).toFixed(2)
                                                    - var requested = active.reduce((acc, item) => acc + +item.requested, 0).toFixed(2)
                                                    - minimum = (parseFloat(spent) + parseFloat(requested)).toFixed(2)
                                                label #{society.name} (min. #{minimum} zł)
                                                .input-group
                                                    .input-group-prepend
                                                        .input-group-text zł
                                                    if account.unlimited
                                                        input.form-control(
                                                            type='number'
                                                            step=0.01
                                                            min=minimum
                                                            name='budgets[' + society.id + ']'
                                                            placeholder='Konto nielimitowane'
                                                            disabled=''
                                                        )
                                                    else
                                                        input.form-control(
                                                            type='number'
                                                            step=0.01
                                                            min=minimum
                                                            name='budgets[' + society.id + ']'
                                                            value=(society.budgets.length > 0 && society.budgets.some(b => b.accountId === account.id)) ? Number(society.budgets.find(b => b.accountId === account.id).total) : 0
                                                        )
                                            // add delete button
                                            .form-group.col-auto
                                                button.btn.btn-danger.btn-sm(
                                                    type='button'
                                                    onclick=`deleteBudget(${society.id})`
                                                ) Usuń budżet jednostki z tego konta
                                    .card-footer
                                        p.text-primary.d-none#warning Kwota rozdysponowana przekracza kwotę całkowitą.
                                        button.btn.btn-primary(type='submit') Zatwierdź


append body-files
    script.
        let account = !{JSON.stringify(account).replace(/<\//g, "<\\/")}

        function deleteBudget(id) {
            if (confirm('Czy na pewno chcesz usunąć budżet jednostki? Usunie to wszystkie złożone z tego budżetu wnioski!')) {
                // delete request
                $.ajax({
                    url: '/api/budgets',
                    type: 'DELETE',
                    data: {
                        societyId: id,
                        accountId: account.id
                    },
                    success: () => {
                        toastr.success('Budżet jednostki został usunięty.');
                        setTimeout(() => {
                            window.location.reload();
                        }, 750);
                    },
                    error: (err) => {
                        toastr.error(err.responseJSON.message);
                    }
                });
            }
        }

        window.onload = function () {

            const amountSpent = account.budgets.reduce((acc, item) => acc + +item.total, 0).toFixed(2);
            const amountLeft = account.total - amountSpent;
            $('#amount-spent').text(amountSpent);
            $('#amount-left').text(amountLeft);

            $('form input[type=number]').on('input', function () {
                let sum = 0;
                $('form input[type=number]').each(function () {
                    sum += Number($(this).val());
                });
                $('#amount-spent').text(Number(sum).toFixed(2));
                const amountLeft = (Number($('#amount-total').text()) - sum).toFixed(2);
                $('#amount-left').text(amountLeft);

                if (amountLeft < 0) {
                    $('button[type=submit]').prop("disabled", true);
                    $('#warning').removeClass('d-none');
                } else {
                    $('button[type=submit]').removeClass('disabled');
                    $('button[type=submit]').prop("disabled", false);
                    ;
                    $('#warning').addClass('d-none');
                }
            });

            const form = $("form");
            form.on("submit", (event) => {
                event.preventDefault();

                let data = form.serializeJSON().budgets;
                Object.keys(data).forEach((key) => { data[key] = parseFloat(data[key]) });

                $.ajax({
                    url: `/api/accounts/${account.id}/distribute`,
                    type: 'POST',
                    data,
                    success: () => {
                        toastr.success("Pomyślnie dodano nowe konto");
                        setTimeout(() => {
                            window.location.href = "zco/accounts";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }