extends ../../../base

append active-item
    - const accountsPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= account.name
                        h5.ml-1.mt-1
                            a(href='zco/accounts') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-warning.border-0
                                h3.card-title Edycja danych
                            .card-body
                                form
                                    .form-group
                                        label(for='societyId') Jednostki przypisane do konta
                                        select.custom-select.duallistbox#societyId(multiple='multiple' name='societyId[]')
                                            each society in societies
                                                if account.budgets.some(e => e.societyId === society.id)
                                                    option.text-success(value=society.id selected)= society.name
                                                else
                                                    option(value=society.id)= society.name
                                    .form-group
                                        label(for='type') Typ konta
                                        select#type.custom-select(name='type' required)
                                            for item in [['statutory', 'działalność statutowa'], ['additional', 'dodatkowe finansowanie'], ['sponsorship', 'umowa darowizny/umowa sponsorska'], ['grant', 'pula grantowa'], ['other', 'inne']]
                                                option(value=item[0] selected=account.type === item[0])= item[1]
                                    .form-group
                                        label Nazwa konta
                                        input.form-control(type='text' name='name' value=account.name required)
                                    .form-group
                                        .form-check
                                            input#unlimited.form-check-input(checked=(account.unlimited) type='checkbox' name='unlimited')
                                            label.form-check-label(for='unlimited') Konto nielimitowane
                                    #group(class = (account.unlimited) ? 'd-none' : '')
                                        .form-group
                                            label Kwota całkowita (minimum: #{account.budgets.reduce((acc, item) => acc + +item.total, 0).toLocaleString('pl-PL', {minimumFractionDigits: 2,maximumFractionDigits: 2})})
                                            input.form-control(type='number' step=0.01 name='total' value=account.total)
                                        .form-group
                                            .form-check
                                                input#amount-visible.form-check-input(checked=(account.amountVisible) type='checkbox' name='amountVisible')
                                                label.form-check-label(for='amount-visible') Kwota widoczna dla jednostek
                                    .form-group
                                        .form-check
                                            input#active.form-check-input(checked=(account.active) type='checkbox' name='active')
                                            label.form-check-label(for='active') Aktywne?
                                    p.text-warning.d-none#warning Kwota całkowita jest niższa od kwoty rozdysponowanej.
                                    button.btn.btn-warning(type='submit') Zatwierdź


append body-files
    script.
        window.onload = function () {

            $('form #unlimited').change(function () {
                if (this.checked) $('#group').addClass('d-none');
                else $('#group').removeClass('d-none');
            });

            $('.duallistbox').bootstrapDualListbox()

            let account = !{JSON.stringify(account).replace(/<\//g, "<\\/")}

            $('input[type=number]').on('input', function () {
                const total = Number($(this).val());
                if (total < account.budgets.reduce((acc, item) => acc + +item.total, 0).toFixed(2)) {
                    $('button[type=submit]').prop("disabled", true);
                    $('#warning').removeClass('d-none');
                } else {
                    $('button[type=submit]').removeClass('disabled');
                    $('button[type=submit]').prop("disabled", false);;
                    $('#warning').addClass('d-none');
                }
            });

            const form = $("form");
            form.on("submit", (event) => {
                event.preventDefault();

                let data = form.serializeJSON();
                data.unlimited = (data.unlimited === 'on');
                data.amountVisible = (!data.unlimited && data.amountVisible === 'on');
                data.active = (data.active === 'on');
                data.total = (data.unlimited) ? 0 : data.total;
                data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== ''));

                $.ajax({
                    url: "/api/accounts/" + account.id,
                    type: "PUT",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie zaktualizowano");
                        setTimeout(() => {
                            window.location.href = "zco/accounts";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }