extends ../../../base

append active-item
    - const accountsPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= title
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                a.btn.btn-success.mb-3(href='zco/accounts/new')
                                    | Dodaj nowe konto
                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        $(document).ready(function () {

            $.fn.dataTable.moment('D.MM.YYYY');

            const options = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                order: [9, 'desc'],
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ]
            };

            let data = !{JSON.stringify(accounts).replace(/<\//g, "<\\/")};

            const accountType = {
                'statutory': 'działalność statutowa',
                'additional': 'dodatkowe finansowanie',
                'sponsorship': 'umowa darowizny/umowa sponsorska',
                'grant': 'pula grantowa',
                'other': 'inne'
            }

            for (let d of data) {
                d.unlimited = (d.unlimited === true) ? 'tak' : 'nie';
                d.amountVisible = (d.amountVisible === true) ? 'tak' : 'nie';
                d.active = (d.active === true) ? 'tak' : 'nie';

                d.amountSpent = d.budgets.reduce((acc, item) => acc + +item.total, 0);
                d.amountLeft = d.total - d.amountSpent;

                d.total = Number(d.total).toLocaleString('pl-PL', {minimumFractionDigits: 2, maximumFractionDigits: 2});
                d.amountSpent = d.amountSpent.toLocaleString('pl-PL', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
                d.amountLeft = d.amountLeft.toLocaleString('pl-PL', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });

                d.type = accountType[d.type];
                d.createdAt = new Date(d.createdAt).toLocaleDateString('pl-PL')
            }

            const table = $('table').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'type', title: 'Typ konta'},
                    {data: 'name', title: 'Nazwa konta'},
                    {data: 'budgets.length', title: 'Liczba budżetów'},
                    {data: 'unlimited', title: 'Konto nielimitowane?'},
                    {data: 'total', title: 'Kwota całkowita'},
                    {data: 'amountSpent', title: 'Kwota wydana'},
                    {data: 'amountLeft', title: 'Kwota pozostała'},
                    {data: 'amountVisible', title: 'Kwota widoczna dla jednostek?'},
                    {data: 'active', title: 'Aktywne?'},
                    {data: 'createdAt', title: 'Data utworzenia'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: () =>
                            // '<button class="btn btm-sm btn-outline-primary mr-1 distribute">Rozdziel</button><button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button><button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button><button class="btn btm-sm btn-outline-danger ml-1 delete">Usuń</button>'
                            '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz wnioski</button><button class="btn btm-sm btn-outline-primary mr-1 distribute">Rozdziel</button><button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button><button class="btn btm-sm btn-outline-danger ml-1 delete">Usuń</button>'
                    }
                ],
                ...options,
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `zco/accounts/${data.id}`;
            });

            $('table tbody').on('click', 'button.distribute', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `zco/accounts/${data.id}/distribute`;
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `zco/accounts/${data.id}`;
            });

            $('table tbody').on('click', 'button.edit', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `zco/accounts/${data.id}/edit`;
            });

            $('table tbody').on('click', 'button.delete', function () {
                const data = table.row($(this).parents('tr')).data();
                if (confirm('Czy na pewno usunąć konto? \r\nSpowoduje to odświeżenie strony!')) {
                    const answer = prompt(`Potwierdź nazwę konta, które chcesz usunąć: ${data.name}`);
                    if(answer === data.name) {
                        const answer = prompt(`Potwierdź kwotę całkowitą konta, które chcesz usunąć: ${data.total}`);
                        if(answer === data.total) {
                            $.ajax({
                                type: 'DELETE',
                                url: '/api/accounts/' + data.id,
                                success: () => {
                                    window.location.href = 'zco/accounts'
                                },
                                error: () => {
                                    toastr.error('Wystąpił błąd.');
                                }
                            })
                        } else {
                            toastr.error('Podano złe dane.');
                        }
                    } else {
                        toastr.error('Podano złe dane.');
                    }
                }
            });
        });