doctype html
html(lang='pl')
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title #{title} | Rada Kół Naukowych Politechniki Poznańskiej

    include includes/favicons

    block head-files
        include includes/head-files

body
    block active-item

    block content
        include includes/navbar

    block body-files
        include includes/footer
        include includes/body-files