aside.main-sidebar.sidebar-light-primary
    a.brand-link.bg-dark(href='#')
        img.brand-image(src='/images/logo-white.svg' alt='Logotyp RKN')
        span.brand-text.font-weight-light
            | RKN
            span.font-weight-normal.text-danger
                | Admin
    .sidebar
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-item
                    if indexPage
                        a.nav-link.active
                            i.fas.fa-home
                            p.ml-2 Strona główna
                    else
                        a.nav-link(href='/admin')
                            i.fas.fa-home
                            p.ml-2 Strona główna

                // USER SECTION
                if user.societies && user.societies.length > 0
                    li.nav-header TWOJE JEDNOSTKI
                    each society in user.societies
                        if society.active
                            li.nav-item(class=(slug === society.slug) ? 'menu-open' : '')
                                a.nav-link(href=`societies/${society.slug}` class=(slug === society.slug) ? 'active' : '')
                                    .row
                                        .col-11
                                            if society.type === 'organization'
                                                i.fas.fa-user-friends
                                            else if society.type === 'club'
                                                i.fas.fa-flask
                                            else
                                                i.fas.fa-question
                                            p.ml-2= society.name
                                        .col-1
                                            i.right.fas.fa-angle-left
                                ul.nav.nav-treeview
                                    li.nav-item
                                        a.nav-link(href=`societies/${society.slug}/edit` class=(societyEdit) ? 'active' : '')
                                            i.fas.fa-edit.mr-1
                                            p.ml-2 Edycja danych
                                    li.nav-item
                                        a.nav-link(href=`societies/${society.slug}/budgets` class=(societyAccounts) ? 'active' : '')
                                            i.fas.fa-coins.mr-1
                                            p.ml-2 Budżety
                                    li.nav-item
                                        a.nav-link(href=`societies/${society.slug}/fundings` class=(societyFundings) ? 'active' : '')
                                            i.fas.fa-file-invoice-dollar.mr-1
                                            p.ml-2 Wnioski o finansowanie
                                    li.nav-item
                                        a.nav-link(href=`societies/${society.slug}/grants` class=(societyGrants) ? 'active' : '')
                                            i.fas.fa-hand-holding-usd.mr-1
                                            p.ml-2 Wnioski grantowe

                // RKN SECTION
                if ['rkn', 'zco'].includes(user.role)
                    li.nav-header.mt-4 STREFA RKN
                    li.nav-item
                        if facultiesPage
                            a.nav-link.active
                                i.fas.fa-university
                                p.ml-2 Wydziały
                        else
                            a.nav-link(href='rkn/faculties')
                                i.fas.fa-university
                                p.ml-2 Wydziały
                    li.nav-item
                        if societiesPage
                            a.nav-link.active
                                .row
                                    .col-1
                                        i.fas.fa-flask
                                        br
                                        i.fas.fa-user-friends
                                    .col-10.ml-2
                                        p Koła Naukowe oraz
                                        br
                                        p Organizacje Studenckie

                        else
                            a.nav-link(href='rkn/societies')
                                .row
                                    .col-1
                                        i.fas.fa-flask
                                        br
                                        i.fas.fa-user-friends
                                    .col-10.ml-2
                                        p Koła Naukowe oraz
                                        br
                                        p Organizacje Studenckie
                    li.nav-item
                        if usersPage
                            a.nav-link.active
                                i.fas.fa-users
                                p.ml-2 Użytkownicy
                        else
                            a.nav-link(href='rkn/users')
                                i.fas.fa-users
                                p.ml-2 Użytkownicy

                    li.nav-item
                        if grantsPageRKN
                            a.nav-link.active
                                i.fas.fa-hand-holding-usd
                                p.ml-2 Wnioski grantowe
                        else
                            a.nav-link(href='rkn/grants')
                                i.fas.fa-hand-holding-usd
                                p.ml-2 Wnioski grantowe

                // ZCO SECTION
                if ['zco'].includes(user.role)
                    li.nav-header.mt-4 STREFA ZCO
                    li.nav-item
                        if accountsPage
                            a.nav-link.active
                                i.fas.fa-coins
                                p.ml-2 Konta i budżety
                        else
                            a.nav-link(href='zco/accounts')
                                i.fas.fa-coins
                                p.ml-2 Konta i budżety
                    li.nav-item
                        if fundingsPage
                            a.nav-link.active
                                i.fas.fa-file-invoice-dollar
                                p.ml-2 Wnioski o finansowanie
                        else
                            a.nav-link(href='zco/fundings')
                                i.fas.fa-file-invoice-dollar
                                p.ml-2 Wnioski o finansowanie
                    li.nav-item
                        if grantsPage
                            a.nav-link.active
                                i.fas.fa-hand-holding-usd
                                p.ml-2 Wnioski grantowe
                        else
                            a.nav-link(href='zco/grants')
                                i.fas.fa-hand-holding-usd
                                p.ml-2 Wnioski grantowe
