script(src='/js/jquery.min.js')
script(src='/js/jquery-ui.min.js')
script.
    $.widget.bridge('uibutton', $.ui.button)
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/font-awesome.js')
script(src='/js/Chart.min.js')
script(src='/js/jquery.overlayScrollbars.min.js')
script(src='/js/jquery.bootstrap-duallistbox.min.js')
script(src='/js/toastr.min.js')
script(src='/js/adminlte.js')
script(src='/js/pdfmake.min.js')
script(src='/js/vfs_fonts.js')
script(src='/js/moment-with-locales.js')
script(src='/js/datatables.min.js')
script(src='/js/dataTables.dateTime.min.js')
script(src='/js/datetime-moment.js')
script(src='/js/summernote-bs4.min.js')
script(src='/js/summernote-pl-PL.js')
script(src='/js/jquery.serializejson.js')
script(src='/js/dropzone.min.js')
script(src='/js/jquery.uploadfile.min.js')
script(src='https://cdn.datatables.net/searchbuilder/1.2.2/js/dataTables.searchBuilder.min.js')
script(src='https://cdn.datatables.net/searchbuilder/1.2.2/js/searchBuilder.bootstrap4.min.js')