link(rel='stylesheet' href='/fonts/sans-pro.css')
link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
link(rel='stylesheet' href='/css/tempusdominus-bootstrap-4.min.css')
link(rel='stylesheet' href='/css/icheck-bootstrap.min.css')
link(rel='stylesheet' href='/css/adminlte.min.css')
link(rel='stylesheet' href='/css/OverlayScrollbars.min.css')
link(rel='stylesheet' href='/css/daterangepicker.css')
link(rel='stylesheet' href='/css/summernote-bs4.min.css')
link(rel='stylesheet' href='/css/toastr.min.css')
link(rel='stylesheet' href='/css/datatables.min.css')
link(rel='stylesheet' href='/css/bootstrap-duallistbox.min.css')
link(rel='stylesheet' href='/css/summernote-bs4.min.css')
link(rel='stylesheet' href='/css/dropzone.min.css')
link(rel='stylesheet' href='/css/uploadfile.min.css')
link(rel='stylesheet' href='https://cdn.datatables.net/searchbuilder/1.2.2/css/searchBuilder.bootstrap4.min.css')
link(rel='stylesheet' href='/css/dashboard.css')
link(rel='stylesheet' href='/css/dataTables.dateTime.min.css')
script(src='/js/font-awesome.js')