.wrapper
    .preloader.flex-column.justify-content-center.align-items-center
        img.animation__breathe(src='/images/logo.svg' alt='Logotyp RKN' height='135' width='360')
    nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='#' data-widget='pushmenu' role='button')
                    i.fas.fa-bars
        ul.navbar-nav.ml-auto
            li.nav-item.dropdown.user-menu
                a.nav-link(href='#' data-toggle='dropdown')
                    span.d-none.d-md-inline
                        | Zalogowany jako:
                        span.ml-1= user.name
                ul.dropdown-menu.dropdown-menu-lg.dropdown-menu-end
                    li.user-body.text-center.bg-primary
                        h5= user.name
                        p.border.border-white.rounded-pill.bg-white(style='width: 90%; margin: 0 auto;')
                            - const [email, domain] = user.email.split('@')
                            span.text-primary= email
                            br
                            span.text-primary @#{domain}
                    li.user-footer.text-center.text-danger
                        p.text-uppercase
                            if user.role === 'rkn'
                                | RKN
                            else if user.role === 'zco'
                                | ZCO
                            else if user.role === 'rector'
                                | Prorektor
                            else if user.role === 'user'
                                | Użytkownik
                    li.user-body
                        .row
                            .col-12.text-center
                                a.btn.btn-danger(href='/auth/logout')
                                    | Wyloguj się
            li.nav-item
                a.nav-link(href='/' target='_blank')
                    i.fas.fa-home
