extends ../../../base

append active-item
    - const grantsPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1 Wnioski grantowe
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                button.btn.btn-success.mb-3(type='button' data-toggle='modal' data-target='#modal')
                                    | Złóż nowy wniosek

                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

            #modal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title Wybierz jednostkę
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            form
                                - const societiesWithBudgets = societies.filter(society => society.budgets && society.budgets.some(b => b.account && b.account.type === 'grant' && b.account.active && (b.account.unlimited || b.total > 0)) && society.budgets.length > 0)
                                .form-group
                                    label(for='societySlug') Jednostka
                                    select.custom-select#societySlug(name='societySlug')
                                        each society in societiesWithBudgets
                                            option(value=society.slug)= society.name

                        .modal-footer.justify-content-between
                            button.btn.btn-danger(type='button' data-dismiss='modal') Anuluj
                            button.btn.btn-success#submit(type='button') Złóż wniosek

append body-files
    script.
        $(document).ready(function () {
            $('#submit').on('click', function (e) {
                const formData = $('form').serializeJSON();
                window.location.href = window.location.pathname + `/new/${formData.societySlug}`;
            });

            $.fn.dataTable.moment('D.MM.YYYY');

            const options = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ]
            };

            const AccountType = {
                'statutory': 'działalność statutowa',
                'additional': 'dodatkowe finansowanie',
                'sponsorship': 'umowa darowizny/umowa sponsorska',
                'grant': 'pula grantowa',
                'other': 'inne'
            };

            const GrantStatus = {
                'submitted': 'Wniosek złożony',
                'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, przekazano do RKN',
                'notesZCO': `ZCO przekazało uwagi, wniosek do poprawy`,
                'correctedZCO': 'Wniosek poprawiony',
                'rejectedZCO': `Wniosek odrzucony przez ZCO`,
                'acceptedRKN': 'Wniosek zaakceptowany przez RKN, przekazano do ZCO',
                'notesRKN': `RKN przekazało uwagi, wniosek do poprawy`,
                'correctedRKN': 'Wniosek poprawiony',
                'rejectedRKN': `Wniosek odrzucony przez RKN`,
                'appointment': 'Oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
                'delivered': 'Wydruk dostarczony, przekazano do R1',
                'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
                'notesR1': `R1 przekazało uwagi`,
                'correctedR1': 'Wniosek poprawiony',
                'rejectedR1': `Wniosek odrzucony przez R1, powód: `,
                'completed': 'Rozliczanie zakończone'
            }

            let data = !{JSON.stringify(grants).replace(/<\//g, "<\\/")}

            for (let d of data) {
                d.status = GrantStatus[d.status];
                d.createdAt = new Date(d.createdAt).toLocaleDateString('pl-PL');
            }

            const table = $('table').DataTable({
                data,
                columns: [
                    {data: 'subject', title: 'Przedmiot finansowania'},
                    {data: 'budget.account.name', title: 'Nazwa konta'},
                    {data: 'society.name', title: 'Jednostka'},
                    {data: 'requested', title: 'Kwota wnioskowana'},
                    {data: 'granted', title: 'Kwota przyznana'},
                    {data: 'createdAt', title: 'Data złożenia wniosku'},
                    {data: 'status', title: 'Status'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: () =>
                            '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button><button class="btn btm-sm btn-outline-info mr-1 print">Wydrukuj</button>'
                    }
                ],
                ...options
            });

            table.on('draw', function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `grants/${data.id}`;
            });

            $('table tbody').on('click', 'button.print', function () {
                const data = table.row($(this).parents('tr')).data();
                window.open(`grants/${data.id}?print`, '_blank');
            });
        });