extends ../../../base

append active-item
    - const usersPage = true;

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= editUser.name
                        h5.ml-1.mt-1
                            a(href='rkn/users') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-warning.border-0
                                h3.card-title
                                    i.far.fa-plus-square.mr-1
                                    | Edycja danych
                            .card-body
                                form#edit-user
                                    .form-group
                                        label(for='societyId') Przypisane jednostki
                                        select.custon-select.duallistbox#societyId(multiple='multiple' name='societyId[]')
                                            each society in societies
                                                if editUser.societies.some(e => e.id === society.id)
                                                    option(value=society.id selected)= society.name
                                                else
                                                    option(value=society.id)= society.name
                                    .form-group
                                        label(for='name') Imię i nazwisko (autouzupełnianie)
                                        input#name.form-control(type='text' name='name' value=editUser.name)
                                    .form-group
                                        label(for='email') Adres mailowy
                                        input#email.form-control(type='text' name='email' value=editUser.email.split('@')[0])
                                    .form-group
                                        label(for='domain') Domena
                                        .input-group
                                            .input-group-append
                                                .input-group-text
                                                    span.fas.fa-at
                                            select#domain.custom-select(name='domain')
                                                for item in ['student.put.poznan.pl', 'doctorate.put.poznan.pl', 'put.poznan.pl']
                                                    option(value=item selected=editUser.email.split('@')[1] === item)= item


                                    .form-group
                                        label(for='index') Nr indeksu
                                        input#index.form-control(type='number' name='index' value=editUser.index)
                                    .form-group
                                        label(for='role') Rola
                                        select#role.custom-select(name='role')
                                            for item in [['user', 'Użytkownik'], ['zco', 'ZCO'], ['admin', 'Administrator']]
                                                option(value=item[0] selected=editUser.role === item[0])= item[1]
                                    .form-group
                                        .form-check
                                            input#verified.form-check-input(checked=editUser.verified type='checkbox' name='verified')
                                            label.form-check-label(for='active') Zweryfikowany?
                                    .form-group
                                        .form-check
                                            input#active.form-check-input(checked=editUser.active type='checkbox' name='active')
                                            label.form-check-label(for='active') Aktywny?
                                    .card-footer
                                        button.btn.btn-warning(type='submit') Zatwierd&zacute;



append body-files
    script.
        window.onload = function () {
            $('.duallistbox').bootstrapDualListbox()

            const emailInput = $('form input[name=email]');
            const nameInput = $('form input[name=name]');
            const submitBtn = $('button[type="submit"]');

            emailInput.on('input', () => {
                let arr = emailInput.val().split('.');

                for (let i = 0; i < arr.length; i++)
                    arr[i] = arr[i].charAt(0).toUpperCase() + arr[i].slice(1);

                let value;

                if (arr.length === 1) {
                    submitBtn.addClass('disabled');
                    value = `${arr[0]}`;
                } else if (arr.length === 2 && arr[1].length > 0) {
                    submitBtn.removeClass('disabled');
                    value = `${arr[0]} ${arr[1]}`;
                } else if (arr.length === 3 && arr[2].length > 0) {
                    submitBtn.removeClass('disabled');
                    value = `${arr[0]} ${arr[2]}`;
                } else {
                    submitBtn.addClass('disabled');
                    value = 'email nieprawidłowy';
                }

                if (arr[0].length === 0 || arr.some(el => el.includes('@'))) {
                    submitBtn.addClass('disabled');
                    value = 'email nieprawidłowy';
                }

                nameInput.val(value);
            });

            const form = $("#edit-user");
            form.on("submit", (event) => {
                event.preventDefault();
                let data = form.serializeJSON();
                data.verified = (data.verified === 'on');
                data.active = (data.active === 'on');
                data.email = `${data.email}@${data.domain}`;
                delete data.domain;
                data.index = Number(data.index);
                if (data.societyId) data.societyId = data.societyId.map(s => Number(s));

                let editUser = !{JSON.stringify(editUser).replace(/<\//g, "<\\/")};

                $.ajax({
                    url: "/api/users/" + editUser.id,
                    type: "PUT",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie zaktualizowano");
                        setTimeout(() => {
                            window.location.href = "rkn/users";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }