extends ../../../base

append active-item
    - const usersPage = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= title
        section.content
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                a.btn.btn-success.mb-3(href='rkn/users/new')
                                    | Dodaj nowego użytkownika
                                #table-wrapper
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        $(document).ready(function () {

            const options = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ]
            };

            let data = !{JSON.stringify(users).replace(/<\//g, "<\\/")}
            let user = !{JSON.stringify(user).replace(/<\//g, "<\\/")}

            for (let d of data) {
                d.active = (d.active === true) ? 'tak' : 'nie';
                if (d.role === 'rkn') d.role = 'RKN'
                else if (d.role === 'zco') d.role = 'ZCO'
                else if (d.role === 'rector') d.role = 'Prorektor'
                else if (d.role === 'user') d.role = 'Użytkownik'
                d.lastLogin = new Date(d.lastLogin).toLocaleString('pl-PL')
                d.verified = (d.verified === true) ? 'tak' : 'nie';
                d.emailVerified = (d.emailVerified === true) ? 'tak' : 'nie';
            }

            const table = $('table').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'email', title: 'Adres e-mail'},
                    {data: 'name', title: 'Imię i nazwisko'},
                    {data: 'index', title: 'Nr indeksu'},
                    {data: 'role', title: 'Rola'},
                    {data: 'societies.length', title: 'Liczba jednostek'},
                    {data: 'active', title: 'Aktywny?'},
                    {data: 'verified', title: 'Użytkownik zweryfikowany?'},
                    {data: 'emailVerified', title: 'Adres e-mail zweryfikowany?'},
                    {data: 'lastLogin', title: 'Ostatnie logowanie'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: function (data, type, row) {
                            if (row.name === user.name)
                                return '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button> | <button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button>'
                            else {
                                let first;
                                if (row.active === 'tak')
                                    first = '<button class="btn btm-sm btn-danger mr-1 suspend">Zawieś</button>';
                                else
                                    first = '<button class="btn btm-sm btn-success mr-1 activate">Aktywuj</button>';
                                return first + '| <button class="btn btm-sm btn-outline-success mr-1 show">Zobacz</button> | <button class="btn btm-sm btn-outline-warning mr-1 ml-1 edit">Edytuj</button> | <button class="btn btm-sm btn-outline-danger ml-1 delete">Usuń</button>'
                            }
                        }

                    }
                ],
                ...options,
            });

            $('table tbody').on('click', 'button.suspend', function () {
                const row = table.row($(this).parents('tr'));
                const data = row.data();

                $.ajax({
                    type: 'PATCH',
                    url: '/api/users/suspend/' + data.id,
                    success: () => {
                        data.active = 'nie';
                        table.row(row).data(data).draw();
                        toastr.success('Pomyślnie zawieszono konto.');
                    },
                    error: () => {
                        toastr.error('Wystąpił błąd.');
                    }
                })
            });

            $('table tbody').on('click', 'button.activate', function () {
                const row = table.row($(this).parents('tr'));
                const data = row.data();

                $.ajax({
                    type: 'PATCH',
                    url: '/api/users/activate/' + data.id,
                    success: () => {
                        data.active = 'tak';
                        table.row(row).data(data).draw();
                        toastr.success('Pomyślnie aktywowano konto.');
                    },
                    error: () => {
                        toastr.error('Wystąpił błąd.');
                    }
                })
            });


            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = window.location.pathname + `/${data.id}`;
            });

            $('table tbody').on('click', 'button.edit', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = window.location.pathname + `/${data.id}/edit`;
            });

            $('table tbody').on('click', 'button.delete', function () {
                const row = table.row($(this).parents('tr'));
                const data = row.data();
                if (confirm('Czy na pewno usunąć użytkownika? \r\nSpowoduje to odświeżenie strony!')) {
                    const answer = prompt(`Potwierdź nazwę użytkownika, którego chcesz usunąć: ${data.name}`);
                    if (answer === data.name) {
                        const answer = prompt(`Potwierdź adres e-mail użytkownika, którego chcesz usunąć: ${data.email}`);
                        if (answer === data.email) {
                            $.ajax({
                                type: 'DELETE',
                                url: '/api/users/' + data.id,
                            })

                            table.row(row).remove().draw();
                            toastr.success('Pomyślnie usunięto konto użytkownika.');
                        } else {
                            toastr.error('Podano złe dane.');
                        }
                    } else {
                        toastr.error('Podano złe dane.');
                    }
                }
            });
        });