extends ../../../base

append active-item
    - const usersPage = true;

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1
                            | Dodaj nowego użytkownika
                        h5.ml-1.mt-1
                            a(href='users') Powrót do listy
        section.content
            .container-fluid
                .row
                    .col-md-12
                        // Edit info card
                        .card.bg-transparent
                            .card-header.bg-success.border-0
                                h3.card-title
                                    i.far.fa-plus-square.mr-1
                                    | Nowy użytkownik
                            .card-body
                                form#add-user
                                    .form-group
                                        label(for='societyId') Przypisane jednostki
                                        select.custom-select.duallistbox#societyId(multiple='multiple' name='societyId[]')
                                            each society in societies
                                                option(value=society.id)= society.name
                                    .form-group
                                        label(for='name') Imię i nazwisko
                                        input#name.form-control(type='text' name='name')
                                    .form-group
                                        label(for='email') Adres mailowy
                                        input#email.form-control(type='text' name='email')
                                    .form-group
                                        label(for='domain') Domena
                                        .input-group
                                            .input-group-append
                                                .input-group-text
                                                    span.fas.fa-at
                                            select#domain.custom-select(name='domain')
                                                option(value='student.put.poznan.pl') student.put.poznan.pl
                                                option(value='doctorate.put.poznan.pl') doctorate.put.poznan.pl
                                                option(value='put.poznan.pl') put.poznan.pl
                                    .form-group
                                        label(for='index') Nr indeksu
                                        input#index.form-control(type='number' name='index')
                                    .form-group
                                        label(for='role') Rola
                                        select#role.custom-select(name='role')
                                            option(value='user') Użytkownik
                                            option(value='rector') Prorektor
                                            option(value='zco') ZCO
                                            option(value='RKN') RKN
                                    .form-group
                                        .form-check
                                            input#active.form-check-input(checked='' type='checkbox' name='active')
                                            label.form-check-label(for='active') Aktywny?
                                    .card-footer
                                        button.btn.btn-success(type='submit') Zatwierd&zacute;



append body-files
    script.
        window.onload = function () {

            $('.duallistbox').bootstrapDualListbox()

            const form = $("#add-user");
            form.on("submit", (event) => {
                event.preventDefault();
                let data = form.serializeJSON();
                data.active = (data.active === 'on');
                data.email = `${data.email}@${data.domain}`;
                delete data.domain;
                data.index = Number(data.index);
                data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== ''));

                $.ajax({
                    url: "/api/users",
                    type: "POST",
                    data,
                    success: () => {
                        toastr.success("Pomyślnie dodano użytkownika");
                        setTimeout(() => {
                            window.location.href = "rkn/users";
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        }