extends ../../base

append active-item
    - var societyAccounts = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
        section.content
            .container-fluid
                .row
                    .col
                        .info-box.bg-info
                            .info-box-content
                                span.info-box-text Budżet całkowity
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account && b.account.active && !b.account.unlimited && b.account.amountVisible)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.total, 0).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .col
                        .info-box.mb-3.bg-warning
                            .info-box-content
                                span.info-box-text Kwota zawnioskowana
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account && b.account.active && !b.account.unlimited && b.account.amountVisible)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.requested, 0).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .clearfix.hidden-md-up
                    .col
                        .info-box.mb-3.bg-orange
                            .info-box-content
                                span.info-box-text Kwota przyznana
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account && b.account.active && !b.account.unlimited && b.account.amountVisible)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.granted, 0).toLocaleString('pl-PL', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                    .col
                        .info-box.mb-3.bg-danger
                            .info-box-content
                                span.info-box-text Kwota wydana
                                if society.budgets && society.budgets.length > 0
                                  - var active = society.budgets.filter(b => b.account && b.account.active && !b.account.unlimited && b.account.amountVisible)
                                  span.info-box-number= active.reduce((acc, item) => acc + +item.spent, 0).toLocaleString('pl-PL', {minimumFractionDigits: 2,maximumFractionDigits: 2})
                                      |  zł
                                else
                                    span.info-box-number 0 zł
                    .col
                        .info-box.mb-3.bg-success
                            .info-box-content
                                span.info-box-text Kwota pozostała
                                if society.budgets && society.budgets.length > 0
                                    - var active = society.budgets.filter(b => b.account && b.account.active && !b.account.unlimited && b.account.amountVisible)
                                    span.info-box-number= active.reduce((acc, item) => acc + +item.left, 0).toLocaleString('pl-PL', {minimumFractionDigits: 2, maximumFractionDigits: 2})
                                        |  zł
                                else
                                    span.info-box-number 0 zł
                - const availableBudgets = society.budgets.filter(b => b.account && b.account.active) || null;
                if availableBudgets
                    .row
                        .col-md-12
                            .card.bg-transparent
                                .card-body
                                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap

append body-files
    script.
        window.onload = function () {

            const society = !{JSON.stringify(society).replace(/<\//g, "<\\/")};
            const availableBudgets = society.budgets.filter(b => b.account.active) || null;

            if (availableBudgets) {
                const accountType = {
                    'statutory': 'działalność statutowa',
                    'additional': 'dodatkowe finansowanie',
                    'sponsorship': 'umowa darowizny/umowa sponsorska',
                    'grant': 'pula grantowa',
                    'other': 'inne'
                };

                let data = !{JSON.stringify(society.budgets).replace(/<\//g, "<\\/")};

                const tableOptions = {
                    dom: 'Qlfrtip',
                    language: {
                        url: '/js/pl.json'
                    },
                    aLengthMenu: [
                        [10, 15, 20, 50, 100, -1],
                        [10, 15, 20, 50, 100, '∞'],
                    ],
                    scrollX: true,
                    fixedHeader: true,
                    fixedColumns: {
                        right: 1
                    },
                };

                for (let d of data) {
                    d.account.type = accountType[d.account.type];
                    d.applications = d.fundings.length + d.grants.length;
                    d.account.active = (d.account.active) ? 'tak' : 'nie';

                    if (!d.account.unlimited && d.account.amountVisible) {
                        d.left = d.total - d.spent - d.requested;
                        [d.total, d.left, d.spent, d.requested] = [d.total, d.left, d.spent, d.requested].map(e => parseFloat(e).toLocaleString('pl-PL', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        }));
                    } else d.total = d.left = d.spent = d.requested = '-';
                }

                $('table').DataTable({
                    data,
                    columns: [
                        {data: 'id', title: 'ID'},
                        {data: 'account.name', title: 'Nazwa konta'},
                        {data: 'account.type', title: 'Typ konta'},
                        {data: 'account.active', title: 'Konto aktywne?'},
                        {data: 'total', title: 'Kwota całkowita'},
                        {data: 'requested', title: 'Kwota zawnioskowana'},
                        {data: 'granted', title: 'Kwota przyznana'},
                        {data: 'spent', title: 'Kwota wydana'},
                        {data: 'left', title: 'Kwota pozostała'},
                        {data: 'applications', title: 'Liczba wniosków'},
                        {
                            data: 'id',
                            title: 'Akcja',
                            render: () =>
                                '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz wnioski</button>'
                        }
                    ],
                    ...tableOptions,
                });

                $('table tbody').on('click', 'button.show', function () {
                    const data = table.row($(this).parents('tr')).data();
                    window.location.href = `${data.id}`;
                });
            }
        }