extends ../../base

append active-item
    - var societyEdit = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
        section.content
            .container-fluid
                .row
                    .col-12
                        .card.bg-transparent.h-100.collapsed-card
                            .card-header.bg-primary(data-card-widget='collapse' title='Collapse')
                                h1.card-title.text-center Logotyp
                                .card-tools
                                    button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                        i.fas.fa-plus
                            .card-body.d-flex.align-items-center.justify-content-center.flex-column
                                img.img-fluid(src=`${society.logoPath}` onerror="this.src='/images/no-logo.jpg'" alt="Logo" style="max-width: 50%;")
                                form#logo-upload-form.d-none
                                    input#logo-upload.d-none(type='file' name='file' accept='.jpeg, .jpg, .png, .bmp, .svg')
                                .row
                                    .btn.btn-sm.btn-primary.mt-3(
                                        'data-toggle'='tooltip'
                                        'data-placement'='bottom'
                                        'data-html'='true'
                                        'title'=`<b>Akceptowane rozszerzenia:</b> JPEG, JPG, PNG, BMP, SVG<br/><b>Limit: 5 MB</b>`
                                        'onclick'='uploadLogo();return false;'
                                    )
                                        i.fa.fa-sync  Zmień
                                    .btn.btn-sm.btn-danger.mt-3.ml-2(
                                        'onclick'='removeLogo();return false;'
                                    )
                                        i.fa.fa-trash  Usuń
                    .col-12.mt-3
                        .card.bg-transparent.h-100
                            .card-header.bg-warning
                                h1.card-title.text-center Zmiana danych
                            .card-body
                                form#edit-form
                                    .form-group
                                        label Wydział
                                        input.form-control(disabled='' type='text' value=society.faculty.name)
                                    .row
                                        .form-group.col-md-10
                                            label Nazwa
                                            input.form-control(disabled='' type='text' value=society.name)
                                        .form-group.col-md-2
                                            label Skrót
                                            input.form-control(disabled='' type='text' name='abbreviation' value=society.abbreviation)
                                    .row
                                        .form-group.col-md-6
                                            label Przewodniczący/a
                                            input.form-control(disabled='' type='text' value=society.leader)
                                        .form-group.col-md-6
                                            label Opiekun
                                            input.form-control(disabled='' type='text' value=society.supervisor)
                                    .row
                                        .form-group.col-md-4
                                            label Adres e-mail
                                            input.form-control(type='email' name='email' value=society.email)
                                        .form-group.col-md-4
                                            label Poboczny adres e-mail
                                            input.form-control(type='email' name='emailSecondary' value=society.emailSecondary)
                                        .form-group.col-md-4
                                            label Adres e-mail opiekuna
                                            input.form-control(disabled='' type='email' value=society.emailSupervisor)
                                    .row
                                        .form-group.col-md-4
                                            label Strona internetowa
                                            input.form-control(type='url' name='website' value=society.website)
                                        .form-group.col-md-4
                                            label Facebook
                                            input.form-control(type='url' name='facebook' value=society.facebook)
                                        .form-group.col-md-4
                                            label Instagram
                                            input.form-control(type='text' name='instagram' value=society.instagram)
                                    .form-group
                                        label Opis działalności
                                        textarea#description.form-control(name='description') !{society.description}
                                    .card-footer
                                        button.btn.btn-warning(type='submit') Zatwierdź


append body-files
    script.
        const society = !{JSON.stringify(society).replace(/<\//g, "<\\/")}

        const logoForm = $('#logo-upload-form');

        function uploadLogo() { $('#logo-upload').click(); }
        function removeLogo() {
            $.ajax({
                url: `/api/societies/${society.id}/logo`,
                type: 'DELETE',
                success: function (data) {
                    if (data && data.status === 500)
                        toastr.error(data.message);
                    else {
                        toastr.success('Pomyślnie usunięto logotyp');
                        setTimeout(() => {
                            window.location.reload();
                        }, 500)
                    }
                },
                error: (data) => {
                    toastr.error(data.responseText);
                }
            });
        }

        window.onload = function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            });

            $('#logo-upload').on('change', function () {
                if (this.value !== null) logoForm.submit();
            });

            logoForm.on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                const data = new FormData(this);

                $.ajax({
                    url: `/api/societies/${society.id}/logo`,
                    type: 'PATCH',
                    data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if(data && data.status === 500)
                            toastr.error(data.message);
                        else {
                            toastr.success('Pomyślnie zaktualizowano logotyp');
                            setTimeout(() => {
                                window.location.reload();
                            }, 500)
                        }
                    },
                    error: (data) => {
                        toastr.error(data.responseText);
                    }
                });
            });

            const form = $('#edit-form');
            form.on("submit", (event) => {
                event.preventDefault();
                const data = form.serializeJSON();

                $.ajax({
                    url: "/api/societies/" + society.id,
                    type: "PATCH",
                    data,
                    success: () => {
                        toastr.success('Pomyślnie zaktualizowano')
                        setTimeout(function() {
                            window.location.href = `/admin/societies/${society.slug}/edit`
                        }, 500);
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;

                        if (message === 'Internal server error') toastr.error(`Adres e-mail nie należy do domeny PUT`);

                        else {
                            if (typeof (message) === "string")
                                text += `<li>- ${message}</li>`;
                            else {
                                data.responseJSON.message.forEach(m => {
                                    text += `<li>- ${m}</li>`;
                                });
                            }
                            toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                        }
                    }
                });
            });
        };

