extends ../../base

append active-item
    - var societyFundings = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
                hr
        section.content
            .container-fluid
                if society.fundings && society.fundings.length > 0 && society.fundings.some(f => f.budget && f.budget.account && f.budget.account.active)
                    .row
                        .col-md-12
                            .card.bg-transparent
                                .card-header.bg-info.border-0
                                    h3.card-title Lista wniosków
                                .card-body
                                    table#fundings.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap
                    hr
                - const availableBudgets = society.budgets.filter(b => b.account && (b.account.unlimited || b.total > 0) && b.account.active && b.account.type !== 'grant') || null
                - const accountType = {'statutory':'działalność statutowa','additional':'dodatkowe finansowanie','sponsorship':'umowa darowizny/umowa sponsorska','grant':'pula grantowa','other':'inne'}
                if availableBudgets && availableBudgets.length > 0
                    // if society.budgets && society.budgets.length > 0 & society.budgets.some(b => (b.account.unlimited || b.total > 0) && b.account.active && b.account.type !== 'grant')
                    .row
                        .col-md-12
                            .card.bg-transparent.collapsed-card
                                .card-header.bg-info.border-0(data-card-widget='collapse' title='Collapse')
                                    h3.card-title
                                        i.fas.fa-file-invoice-dollar.mr-1
                                        |  Złóż nowy wniosek o finansowanie
                                    .card-tools
                                        button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                            i.fas.fa-plus
                                .card-body
                                    form
                                        .form-group
                                            label Wybierz budżet
                                            select.custom-select#budget(name='budgetId' required)
                                                each budget in availableBudgets
                                                    option(value=budget.id)
                                                        | #{budget.account.name}
                                                        | (#{accountType[budget.account.type]})
                                                        if !budget.account.unlimited && budget.account.amountVisible
                                                            |  - #{(budget.total - budget.spent - budget.requested).toLocaleString('pl-PL', {minimumFractionDigits: 2, maximumFractionDigits: 2})} zł
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=society.name)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=society.faculty.name)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(disabled='' type='email' name='email' value=user.email)
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            input.form-control(disabled='' name='applicant' type='text' value=user.name)
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.leader)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.supervisor)
                                        h4 2. Dane dot. finansowania
                                        .form-group
                                            label 2.1 Przedmiot finansowania (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' required)
                                        .form-group
                                            label 2.2 Cel
                                            textarea.form-control#goal(type='text' name='goal' required)
                                        .form-group
                                            label 2.3 Opis
                                            textarea.form-control#description(type='text' name='description' required)
                                        .form-group
                                            label 2.4 Rodzaj finansowania
                                            select.custom-select#type(disabled='' name='type')
                                                option(value='statutory' selected=availableBudgets[0].account.type === 'statutory') działalność statutowa
                                                option(value='additional' selected=availableBudgets[0].account.type === 'additional') dodatkowe finansowanie
                                                option(value='sponsorship' selected=availableBudgets[0].account.type === 'sponsorship') umowa darowizny / umowa sponsorska
                                                option(value='other' selected=availableBudgets[0].account.type === 'other') inne
                                        .form-group.form-inline
                                            label#requested 2.5 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 100%' required)
                                        .form-group
                                            label 2.6 Szczegółowy kosztorys
                                            textarea#costs.form-control(name='costs' required) <table class="table table-bordered"><tbody><tr><td>lp.</td><td>Przedmiot finansowania</td><td>Kwota</td><td>Czy rozliczone?*</td></tr><tr><td>1</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>2</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>3</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>4</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>5</td><td><br></td><td style="text-align: right;"><br></td><td></td></tr><tr><td>-</td><td>SUMA:</td><td style="text-align: right; "> zł</td><td></td></tr></tbody></table>
                                        .form-group
                                            label 2.7 Planowany termin realizacji
                                            input.form-control(type='date' name='date' min=`${new Date().toISOString().split("T")[0]}` required)
                                        .form-group
                                            label 2.8 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            //.dropzone
                                            input.form-control-file#funding-files(type='file' multiple name='files' accept='image/jpeg, image/png, image/bmp, application/pdf')
                                        .card-footer
                                            button.btn.btn-info(type='submit') Zatwierd&zacute;
                else
                    h4.text-black-50 Nie można złożyć wniosku o finansowanie, brak budżetów przypisanych dla tej jednostki.

append body-files
    script.
        window.onload = function () {

            let options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ]
            };

            $('#goal').summernote(options);
            $('#description').summernote(options);

            options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['table', ['table']]
                ],
                popover: {
                    table: [
                        ['add', ['addRowDown', 'addRowUp']],
                        ['delete', ['deleteRow']]
                    ]
                }
            };

            $('#costs').summernote(options);

            let society = !{JSON.stringify(society).replace(/<\//g, "<\\/")};


            function changeForm() {
                budgetId = $('#budget option').filter(':selected').val();
                const budget = society.budgets.find(b => b.id === +budgetId);

                // 2.4
                $('#type').val(budget.account.type);

                // 2.5
                text = '2.5 Wnioskowana kwota';
                if (!budget.account.unlimited && budget.account.amountVisible) {
                    const limit = budget.left.toLocaleString('pl-PL', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    $('#requested').text(`${text} (max. ${limit} zł)`);
                } else $('#requested').text(text);
            }

            changeForm();

            $('#budget').change(changeForm);

            const tableOptions = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ],
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
            };

            const FundingStatus = {
                'submitted': 'Wniosek złożony',
                'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
                'notesZCO': `ZCO przekazało uwagi`,
                'correctedZCO': 'Wniosek poprawiony',
                'rejectedZCO': 'Wniosek odrzucony przez ZCO',
                'delivered': 'Wydruk dostarczony, przekazano do R1',
                'rejectedR1': `Wniosek odrzucony przez R1`,
                'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
                'notesR1': 'R1 przekazało uwagi',
                'correctedR1': 'Wniosek poprawiony',
                'completed': 'Rozliczanie zakończone'
            };

            $.fn.dataTable.moment('D.MM.YYYY');

            let data = !{JSON.stringify(society.fundings).replace(/<\//g, "<\\/")}
            data = data.filter(f => f.budget && f.budget.account && f.budget.account.active);

            for (let d of data) {
                d.status = FundingStatus[d.status];
                d.createdAt = new Date(d.createdAt).toLocaleDateString('pl-PL');
            }

            const table = $('#fundings').DataTable({
                data,
                columns: [
                    // {data: 'id', title: 'ID'},
                    {data: 'subject', title: 'Przedmiot finansowania'},
                    {data: 'requested', title: 'Kwota wnioskowana'},
                    {data: 'granted', title: 'Kwota przyznana'},
                    {data: 'createdAt', title: 'Data złożenia wniosku'},
                    {data: 'status', title: 'Status'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: () =>
                            '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz wniosek</button>'
                    }
                ],
                ...tableOptions,
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `fundings/${data.id}`;
            });

            $('form').on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let data = new FormData(this);
                data.append('societyId', society.id);
                $.ajax({
                    url: '/api/fundings',
                    type: 'POST',
                    data,
                    processData: false,
                    contentType: false,
                    success: (data) => {
                        toastr.success('Pomyślnie złożono wniosek o finansowanie');
                        setTimeout(() => {
                            window.location.href = 'societies/' + society.slug + '/fundings';
                        }, 750)
                    },
                    error: (data) => {
                        toastr.error(data.responseText);
                    }
                });
            });
        };

