extends ../../base

append active-item
    - var societyGrants = true

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1= society.name
                        h5.ml-1.mt-1
                            a(href=`/kola-i-organizacje/${society.slug}` target='_blank') Zobacz stronę
                hr
        section.content
            .container-fluid
                if society.grants && society.grants.length > 0 && society.grants.some(g => g.budget && g.budget.account && g.budget.account.active)
                    .row
                        .col-md-12
                            .card.bg-transparent
                                .card-header.bg-info.border-0
                                    h3.card-title Lista wniosków
                                .card-body
                                    table#fundings.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap
                    hr
                - const availableBudgets = society.budgets.filter(b => b.account && (b.account.unlimited || b.total > 0) && b.account.active && b.account.type === 'grant') || null
                if availableBudgets && availableBudgets.length > 0
                    .row
                        .col-md-12
                            .card.bg-transparent.collapsed-card
                                .card-header.bg-olive.border-0(data-card-widget='collapse' title='Collapse')
                                    h3.card-title
                                        i.fas.fa-hand-holding-usd.mr-1
                                        |  Złóż nowy wniosek grantowy
                                    .card-tools
                                        button.btn.btn-transparent.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                                            i.fas.fa-plus
                                .card-body
                                    form
                                        .form-group
                                            label Wybierz budżet
                                            select.custom-select#budget(name='budgetId' required)
                                                each budget in availableBudgets
                                                    option(value=budget.id)
                                                        | #{budget.account.name}
                                                        if !budget.account.unlimited && budget.account.amountVisible
                                                            |  - #{(budget.total - budget.spent - budget.requested).toLocaleString('pl-PL', {minimumFractionDigits: 2, maximumFractionDigits: 2 })} zł
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=society.name required)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=society.faculty.name required)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(disabled='' type='email' value=user.email required)
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            input.form-control(disabled='' type='text' value=user.name required)
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.leader required)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.supervisor required)
                                        h4 2. Przedsięwzięcie
                                        .form-group
                                            label 2.1 Nazwa przedsięwzięcia (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' required)
                                        .form-group
                                            label 2.2 Opis merytoryczny projektu
                                            textarea.form-control(type='text' name='description' required)
                                        h5 2.3 Lista części oraz kosztorys projektu
                                        .form-group
                                            label 2.3.1 Środki i części (z wartością rynkową) pozyskane do realizacji projektu
                                            textarea#acquired.form-control(name='acquired' required) <br><br><br><p><b>Suma pozyskanych środków/Wartość pozyskanych materiałów i części:</b> ……………… zł</p>
                                        .form-group
                                            label 2.3.2 Lista elementów (wraz z kosztorysem), o które jest wnioskowane dofinansowanie
                                            textarea#costs.form-control(name='costs' required) <table class="table table-bordered"><tbody><tr><td>lp.</td><td>Przedmiot finansowania</td><td>Kwota</td><td>Czy rozliczone?*</td></tr><tr><td>1</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>2</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>3</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>4</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>5</td><td><br></td><td style="text-align: right;"><br></td><td></td></tr><tr><td>-</td><td>SUMA:</td><td style="text-align: right; "> zł</td><td></td></tr></tbody></table>
                                        .form-group.form-inline
                                            label#requested 2.4 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 100%' required)
                                        .form-group
                                            label 2.5 Harmonogram projektu
                                            textarea#schedule.form-control(name='schedule' required)
                                        .form-group
                                            label 2.6 Efekty projektu (publikacje, konferencje, pokazy powstałe w wyniku wnioskowanego projektu itp.)
                                            textarea#results.form-control(name='results' required)
                                        .form-group
                                            label 2.7 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            input.form-control-file(type='file' multiple name='files' accept='image/jpeg, image/png, image/bmp, application/pdf')
                                        .card-footer
                                            button.btn.btn-olive(type='submit' style='background-color: #3d9970; color: white;') Zatwierd&zacute;

                else
                    h4.text-black-50 Nie można złożyć wniosku grantowego, brak budżetów grantowych przypisanych dla tej jednostki.


append body-files
    script.
        window.onload = function () {
            $('#description').summernote({
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ]
            });

            let options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ],
            };

            $('#acquired').summernote(options);
            $('#schedule').summernote(options);
            $('#results').summernote(options);

            options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['table', ['table']]
                ],
                popover: {
                    table: [
                        ['add', ['addRowDown', 'addRowUp']],
                        ['delete', ['deleteRow']]
                    ]
                }
            };

            $('#costs').summernote(options);

            let society = !{JSON.stringify(society).replace(/<\//g, "<\\/")};

            function changeForm() {
                budgetId = $('#budget option').filter(':selected').val();
                const budget = society.budgets.find(b => b.id === +budgetId);

                text = '2.4 Wnioskowana kwota';
                if (!budget.account.unlimited && budget.account.amountVisible) {
                    const limit = budget.left.toLocaleString('pl-PL', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    $('#requested').text(`${text} (max. ${limit} zł)`);
                } else $('#requested').text(text);
            }

            changeForm();

            $('#budget').change(changeForm);

            const tableOptions = {
                dom: 'Qlfrtip',
                language: {
                    url: '/js/pl.json'
                },
                aLengthMenu: [
                    [10, 15, 20, 50, 100, -1],
                    [10, 15, 20, 50, 100, '∞'],
                ],
                scrollX: true,
                fixedHeader: true,
                fixedColumns: {
                    right: 1
                },
            };

            const GrantStatus = {
                'submitted': 'Wniosek złożony',
                'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, przekazano do RKN',
                'notesZCO': `ZCO przekazało uwagi, wniosek do poprawy`,
                'correctedZCO': 'Wniosek poprawiony',
                'rejectedZCO': `Wniosek odrzucony przez ZCO`,
                'acceptedRKN': 'Wniosek zaakceptowany przez RKN, przekazano do ZCO',
                'notesRKN': `RKN przekazało uwagi, wniosek do poprawy`,
                'correctedRKN': 'Wniosek poprawiony',
                'rejectedRKN': `Wniosek odrzucony przez RKN`,
                'appointment': 'Oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
                'delivered': 'Wydruk dostarczony, przekazano do R1',
                'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
                'notesR1': `R1 przekazało uwagi`,
                'correctedR1': 'Wniosek poprawiony',
                'rejectedR1': `Wniosek odrzucony przez R1, powód: `,
                'completed': 'Rozliczanie zakończone'
            }

            $.fn.dataTable.moment('D.MM.YYYY');

            let data = !{JSON.stringify(society.grants).replace(/<\//g, "<\\/")}
            data = data.filter(g => g.budget && g.budget.account && g.budget.account.active);

            for (let d of data) {
                d.status = GrantStatus[d.status];
                d.createdAt = new Date(d.createdAt).toLocaleDateString('pl-PL');
            }

            const table = $('#fundings').DataTable({
                data,
                columns: [
                    {data: 'subject', title: 'Przedmiot finansowania'},
                    {data: 'requested', title: 'Kwota wnioskowana'},
                    {data: 'granted', title: 'Kwota przyznana'},
                    {data: 'createdAt', title: 'Data złożenia wniosku'},
                    {data: 'status', title: 'Status'},
                    {
                        data: 'id',
                        title: 'Akcja',
                        render: () =>
                            '<button class="btn btm-sm btn-outline-success mr-1 show">Zobacz wniosek</button>'
                    }
                ],
                ...tableOptions,
            });

            $('table tbody').on('click', 'button.show', function () {
                const data = table.row($(this).parents('tr')).data();
                window.location.href = `grants/${data.id}`;
            });

            $('form').on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let data = new FormData(this);
                data.append('societyId', society.id);

                $.ajax({
                    url: '/api/grants',
                    type: 'POST',
                    data,
                    processData: false,
                    contentType: false,
                    success: function (data, status) {
                        toastr.success('Pomyślnie złożono wniosek grantowy');
                        setTimeout(() => {
                            window.location.href = 'societies/' + society.slug + '/grants';
                        }, 750)
                    },
                    error: (data) => {
                        toastr.error(data.responseText);
                    }
                });
            });
        };

