extends ../../../base

append content
    .content-wrapper
        .content-header
            .container-fluid
                .row.mb-2
                    .col-sm-6
                        h1.ml-1
                            | Nowy wniosek o finansowanie
                        h5.ml-1.mt-1
                            a(href='zco/fundings') Powrót do listy
        section.content
            .container-fluid
                - const availableBudgets = society.budgets.filter(b => (b.account.unlimited || b.total > 0) && b.account.active && b.account.type !== 'grant')
                - const accountType = {'statutory':'działalność statutowa','additional':'dodatkowe finansowanie','sponsorship':'umowa darowizny/umowa sponsorska','grant':'pula grantowa','other':'inne'}
                if availableBudgets && availableBudgets.length > 0
                    .row
                        .col-md-12
                            // Edit info card
                            .card.bg-transparent
                                .card-header.bg-success.border-0
                                    h3.card-title
                                        i.far.fa-plus-square.mr-1
                                        | Nowy wniosek o finansowanie
                                .card-body
                                    form
                                        .form-group
                                            label Wybierz budżet
                                            select.custom-select#budget(name='budgetId' required)
                                                each budget in availableBudgets
                                                    option(value=budget.id)
                                                        | #{budget.account.name}
                                                        | (#{accountType[budget.account.type]})
                                                        if !budget.account.unlimited && budget.account.amountVisible
                                                            |  - #{(budget.total - budget.spent - budget.requested).toLocaleString('pl-PL', {minimumFractionDigits: 2, maximumFractionDigits: 2 })} zł
                                        h4 1. Dane kontaktowe
                                        .form-group
                                            label 1.1 Nazwa jednostki
                                            input.form-control(disabled='' type='text' value=society.name)
                                        .form-group
                                            label 1.2 Wydział
                                            input.form-control(disabled='' type='text' value=society.faculty.name)
                                        .form-group
                                            label 1.3 E-mail kontaktowy
                                            input.form-control(type='email' name='email')
                                        .form-group
                                            label 1.4 Numer telefonu
                                            input.form-control(type='number' name='phone' required)
                                        .form-group
                                            label 1.5 Wnioskodawca
                                            input.form-control(name='applicant' type='text')
                                        .form-group
                                            label 1.6 Przewodniczący koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.leader)
                                        .form-group
                                            label 1.7 Opiekun koła/organizacji
                                            input.form-control(disabled='' type='text' value=society.supervisor)
                                        h4 2. Dane dot. finansowania
                                        .form-group
                                            label 2.1 Przedmiot finansowania (nazwa wydarzenia / tytuł projektu)
                                            input.form-control(type='text' name='subject' required)
                                        .form-group
                                            label 2.2 Cel
                                            textarea.form-control#goal(type='text' name='goal' required)
                                        .form-group
                                            label 2.3 Opis
                                            textarea.form-control#description(type='text' name='description' required)
                                        .form-group
                                            label 2.4 Rodzaj finansowania
                                            select.custom-select#type(disabled='' name='type')
                                                option(value='statutory' selected=availableBudgets[0].account.type === 'statutory') działalność statutowa
                                                option(value='additional' selected=availableBudgets[0].account.type === 'additional') dodatkowe finansowanie
                                                option(value='sponsorship' selected=availableBudgets[0].account.type === 'sponsorship') umowa darowizny / umowa sponsorska
                                                option(value='other' selected=availableBudgets[0].account.type === 'other') inne
                                        .form-group.form-inline
                                            label#requested 2.5 Wnioskowana kwota
                                            input.form-control(type='number' step=0.01 name='requested' style='width: 100%' required)
                                        .form-group
                                            label 2.6 Szczegółowy kosztorys
                                            textarea#costs.form-control(name='costs' required) <table class="table table-bordered"><tbody><tr><td>lp.</td><td>Przedmiot finansowania</td><td>Kwota</td><td>Czy rozliczone?*</td></tr><tr><td>1</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>2</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>3</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>4</td><td><br></td><td style="text-align: right; "><br></td><td></td></tr><tr><td>5</td><td><br></td><td style="text-align: right;"><br></td><td></td></tr><tr><td>-</td><td>SUMA:</td><td style="text-align: right; "> zł</td><td></td></tr></tbody></table>
                                        .form-group
                                            label 2.7 Planowany termin realizacji
                                            input.form-control(type='date' name='date' required)
                                        .form-group
                                            label 2.8 Załączniki (obrazy lub pliki PDF, max. 5 MB, max. 10 plików)
                                            //.dropzone
                                            input.form-control-file#funding-files(type='file' multiple name='files')
                                        .card-footer
                                            button.btn.btn-info(type='submit') Zatwierd&zacute;

                else
                    h4.text-black-50 Nie można złożyć wniosku o finansowanie, brak budżetów przypisanych dla tej jednostki.


append body-files
    script.
        window.onload = function () {
            let options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']]
                ]
            };

            $('#goal').summernote(options);
            $('#description').summernote(options);

            options = {
                lang: 'pl-PL',
                disableDragAndDrop: true,
                codeviewIframeFilter: true,
                toolbar: [
                    ['table', ['table']]
                ],
                popover: {
                    table: [
                        ['add', ['addRowDown', 'addRowUp']],
                        ['delete', ['deleteRow']]
                    ]
                }
            };

            $('#costs').summernote(options);

            let society = !{JSON.stringify(society).replace(/<\//g, "<\\/")};

            function changeForm() {
                budgetId = $('#budget option').filter(':selected').val();
                const budget = society.budgets.find(b => b.id === +budgetId);

                // 2.4
                $('#type').val(budget.account.type);

                // 2.5
                text = '2.5 Wnioskowana kwota';
                if (!budget.account.unlimited && budget.account.amountVisible) {
                    const limit = (budget.total - budget.spent - budget.requested).toLocaleString('pl-PL', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    $('#requested').text(`${text} (max. ${limit} zł)`);
                } else $('#requested').text(text);
            }

            changeForm();

            $('#budget').change(changeForm);

            const FundingStatus = {
                'submitted': 'Wniosek złożony',
                'acceptedZCO': 'Wniosek zaakceptowany przez ZCO, oczekiwanie na dostarczenie wydrukowanego i podpisanego wniosku',
                'notesZCO': `ZCO przekazało uwagi`,
                'correctedZCO': 'Wniosek poprawiony',
                'rejectedZCO': 'Wniosek odrzucony przez ZCO',
                'delivered': 'Wydruk dostarczony, przekazano do R1',
                'rejectedR1': `Wniosek odrzucony przez R1`,
                'pending': 'Wniosek zaakceptowany przez R1, możliwość rozliczania wniosku',
                'notesR1': 'R1 przekazało uwagi',
                'correctedR1': 'Wniosek poprawiony',
                'completed': 'Rozliczanie zakończone'
            };

            $('form').on('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let data = new FormData(this);
                data.append('societyId', society.id);
                $.ajax({
                    url: '/api/fundings',
                    type: 'POST',
                    // dataType: "JSON",
                    data,
                    processData: false,
                    contentType: false,
                    success: (data) => {
                        toastr.success('Pomyślnie złożono wniosek o finansowanie');
                        setTimeout(() => {
                            window.location.href = 'zco/fundings';
                        }, 750)
                    },
                    error: (data) => {
                        let text = '';
                        const message = data.responseJSON.message;
                        if (typeof (message) === "string")
                            text += `<li>- ${message}</li>`;
                        else {
                            data.responseJSON.message.forEach(m => {
                                text += `<li>- ${m}</li>`;
                            });
                        }
                        toastr.error(`Wystąpiły błędy: <ul class="list-unstyled">${text}</ul>`);
                    }
                });
            });
        };

